@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden; }
  body a, body a:hover, body a:active, body a:focus {
    outline: none; }

:root {
  font-family: 'Roboto', Arial,-apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
  line-height: 1.154;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -firefox-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  user-select: none;
  -webkit-user-select: none; }

header, footer, article, section, nav {
  display: block; }

.fadeInUp {
  -webkit-animation: fadeInUp 0.4s;
  -moz-animation: fadeInUp 0.4s;
  -o-animation: fadeInUp 0.4s;
  animation: fadeInUp 0.4s; }

.fadeInDown {
  -webkit-animation: fadeInDown 0.4s;
  -moz-animation: fadeInDown 0.4s;
  -o-animation: fadeInDown 0.4s;
  animation: fadeInDown 0.4s; }

.fadeIn {
  -webkit-animation: fadeIn 0.2s;
  -moz-animation: fadeIn 0.2s;
  -o-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s; }

.fadeOut {
  -webkit-animation: fadeOut 0.2s;
  -moz-animation: fadeOut 0.2s;
  -o-animation: fadeOut 0.2s;
  animation: fadeOut 0.2s; }

html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 0px;
  display: auto; }

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #bbb; }

html ::-webkit-scrollbar-track-piece, body ::-webkit-scrollbar-track-piece {
  background: transparent; }

.auth-menu {
  max-width: 300px;
  position: fixed;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 16px;
  background-color: #f7f7f7;
  box-shadow: 0px 5px 10px #ddd;
  padding: 8px 10px;
  margin: auto;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .auth-menu > .menu-item {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    padding: 4px 4px; }
    .auth-menu > .menu-item.active {
      background-color: #FFDC49;
      border-radius: 6px; }
    .auth-menu > .menu-item > .icon {
      width: 18px;
      height: 18px;
      overflow: hidden;
      margin-bottom: 4px; }
      .auth-menu > .menu-item > .icon.profile {
        border-radius: 50px; }
      .auth-menu > .menu-item > .icon > img {
        width: 100%;
        height: 100%; }
    .auth-menu > .menu-item > .name {
      width: auto;
      font-size: 8px;
      font-weight: normal;
      color: #000;
      letter-spacing: -.1px; }

.wrapper {
  max-width: 370px;
  min-width: 320px;
  min-height: 50vh;
  margin: auto;
  overflow: hidden;
  padding-bottom: 35px;
  position: relative; }
  .wrapper.auth-padding {
    padding-bottom: 105px; }
  @media (min-width: 767px) {
    .wrapper {
      min-height: 95vh;
      border-left: 1px #ddd solid;
      border-right: 1px #ddd solid; } }
  .wrapper > .header {
    width: calc(100% - 40px);
    height: 80px;
    border-bottom: 1px #ddd solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px; }
    .wrapper > .header > .logo {
      flex: none;
      width: 47px;
      height: 47px;
      border-radius: 12px;
      background-color: #FFDC49;
      margin-right: 60px;
      overflow: hidden; }
      .wrapper > .header > .logo > a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: block; }
        .wrapper > .header > .logo > a > img {
          width: 100%;
          height: 100%; }
    .wrapper > .header > .office-item {
      width: auto;
      max-width: 185px;
      font-size: 11px;
      color: #B3B3B3; }
      .wrapper > .header > .office-item > .city {
        color: #B3B3B3;
        font-size: 10px;
        background-color: #fff;
        padding: 3px 7px 0px;
        float: left;
        border-radius: 4px;
        overflow: hidden;
        clear: both; }
      .wrapper > .header > .office-item > .office {
        color: #000;
        font-size: 12px;
        padding: 5px 7px 5px;
        background-color: #f7f7f7;
        border-radius: 6px;
        overflow: hidden;
        clear: both;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .wrapper > .header > .office-item > .office > span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
        .wrapper > .header > .office-item > .office > img {
          width: 8px;
          height: 8px;
          margin-left: 9px; }
  .wrapper > .component-hello {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #FFDC49; }
    .wrapper > .component-hello > .logo {
      width: 200px;
      overflow: hidden;
      margin: 120px auto 0px; }
      .wrapper > .component-hello > .logo > img {
        width: 100%; }
    .wrapper > .component-hello > .message {
      width: auto;
      font-size: 16px;
      font-weight: 600;
      margin: 0px 0px 20px;
      text-align: center; }
    .wrapper > .component-hello > .bg-image {
      flex: none;
      width: 260px;
      overflow: hidden;
      margin: 60px 0 50px;
      margin-left: calc(50% - 160px); }
      .wrapper > .component-hello > .bg-image > img {
        width: 100%; }
  .wrapper > .component-profile {
    width: 100%;
    padding: 0px 0px 25px; }
    .wrapper > .component-profile > .cover {
      width: 100%;
      height: 180px;
      background-color: rgba(233, 198, 252, 0.4);
      z-index: 0;
      opacity: .99;
      overflow: hidden; }
      .wrapper > .component-profile > .cover > img {
        width: 100%; }
    .wrapper > .component-profile > .title {
      width: auto;
      font-size: 20px;
      font-weight: bold;
      color: #000;
      margin: 0px 20px 20px; }
    .wrapper > .component-profile > .btn-edit {
      width: 180px;
      padding: 6px 6px;
      background-color: #f7f7f7;
      border: #F1F3F2;
      border-radius: 50px;
      color: #9A9A9A;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      position: absolute;
      top: 258px;
      right: 20px;
      z-index: 2; }
    .wrapper > .component-profile > .person {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      position: relative;
      border-top-left-radius: 21px;
      border-top-right-radius: 21px;
      top: -20px;
      clear: both; }
      .wrapper > .component-profile > .person > .avatar {
        width: 90px;
        height: 90px;
        border-radius: 200px;
        border: 3px #FFDC49 solid;
        margin: -20px 20px 12px;
        padding: 0px;
        overflow: hidden; }
        .wrapper > .component-profile > .person > .avatar > img {
          width: 100%;
          height: 100%;
          border-radius: 200px; }
      .wrapper > .component-profile > .person > .name {
        width: auto;
        font-size: 21px;
        font-weight: bold;
        margin-left: 20px;
        z-index: 1; }
    .wrapper > .component-profile > .my-office {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: -10px 20px 0px;
      padding-bottom: 5px;
      background-color: #f7f7f7;
      padding: 10px 10px 8px;
      border-radius: 9px;
      border: 1px #eee solid; }
      .wrapper > .component-profile > .my-office > .title {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 4px; }
        .wrapper > .component-profile > .my-office > .title > a {
          color: #FFDC49;
          margin-left: 5px; }
      .wrapper > .component-profile > .my-office > .office-selected {
        font-size: 18px;
        font-weight: lighter;
        float: left; }
    .wrapper > .component-profile > .profile-info {
      margin: 10px 20px 0px; }
      .wrapper > .component-profile > .profile-info > table.table-default {
        padding: 0px;
        margin: 0px;
        font-size: 12px;
        font-weight: lighter; }
        .wrapper > .component-profile > .profile-info > table.table-default > tbody > tr td {
          height: 30px; }
          .wrapper > .component-profile > .profile-info > table.table-default > tbody > tr td:first-child {
            width: 120px;
            padding-right: 10px; }
          .wrapper > .component-profile > .profile-info > table.table-default > tbody > tr td:last-child {
            font-weight: 500; }
    .wrapper > .component-profile > .subscriptions {
      width: auto; }
      .wrapper > .component-profile > .subscriptions > .title {
        width: auto;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        margin: 0px 20px 20px;
        text-align: center; }
      .wrapper > .component-profile > .subscriptions > .subscription-card-balance {
        width: 300px;
        height: 180px;
        background-color: #FFDC49;
        border-radius: 12px;
        margin: 20px auto;
        overflow: hidden;
        clear: both; }
        .wrapper > .component-profile > .subscriptions > .subscription-card-balance.office {
          background-color: rgba(233, 198, 252, 0.4); }
          .wrapper > .component-profile > .subscriptions > .subscription-card-balance.office > .logo {
            background-image: url("/assets/img/icons/fit-logo-purple.svg"); }
        .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .logo {
          width: auto;
          height: 18px;
          background-image: url("/assets/img/icons/fit-logo-gold.svg");
          background-repeat: no-repeat;
          background-position: center left;
          background-size: 35%;
          margin-top: 12px;
          margin-left: 15px; }
        .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .title {
          font-size: 18px;
          font-weight: bold;
          color: #000;
          margin-left: 15px; }
        .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card {
          width: auto;
          display: flex;
          flex-direction: row; }
          .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .person {
            flex: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px 20px 0px; }
            .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .person > .avatar {
              flex: none;
              width: 64px;
              height: 64px;
              border: 2px #fff solid;
              border-radius: 100px;
              background-color: #F1F3F2;
              overflow: hidden; }
              .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .person > .avatar > span {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 38px;
                color: #000; }
              .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .person > .avatar > img {
                width: 100%;
                height: 100%; }
            .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .person > .name {
              font-size: 10px;
              text-align: center;
              font-weight: 400;
              margin-top: 6px;
              line-height: 131%; }
          .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .info {
            flex: 1;
            padding-top: 0px;
            padding-left: 30px; }
            .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .info > .training-count {
              display: flex;
              flex-direction: row;
              align-items: center; }
              .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .info > .training-count > span {
                font-size: 10px;
                line-height: 131%;
                font-weight: normal; }
              .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .info > .training-count > strong {
                font-size: 30px;
                font-weight: bold;
                margin-left: 12px; }
            .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .info > .subscription-outdate {
              font-size: 10px;
              margin-top: 0px; }
              .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .info > .subscription-outdate > strong {
                font-size: 12px; }
            .wrapper > .component-profile > .subscriptions > .subscription-card-balance > .balance-card > .info > .btn {
              margin-top: 7px;
              float: left; }
    .wrapper > .component-profile > .my-card {
      width: 300px;
      display: flex;
      flex-direction: column;
      margin: 0px auto 0px; }
      .wrapper > .component-profile > .my-card > .title {
        flex: 1;
        font-size: 16px;
        font-weight: lighter;
        color: #000;
        margin-bottom: 4px; }
      .wrapper > .component-profile > .my-card > .card {
        width: auto;
        height: 42px;
        background-color: #f7f7f7;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 20px; }
        .wrapper > .component-profile > .my-card > .card > .number {
          flex: none;
          font-size: 14px;
          font-weight: bold;
          margin-right: 25px; }
        .wrapper > .component-profile > .my-card > .card > .date {
          flex: none;
          font-size: 14px;
          font-weight: bold;
          margin-right: 15px; }
        .wrapper > .component-profile > .my-card > .card > .type {
          flex: 1;
          display: flex;
          justify-content: flex-end; }
          .wrapper > .component-profile > .my-card > .card > .type > img {
            width: 40px; }
  .wrapper > .component-index {
    width: auto; }
    .wrapper > .component-index > .title {
      font-size: 20px;
      font-weight: bold;
      color: #000;
      margin: 15px 20px 15px; }
    .wrapper > .component-index > .stats-block {
      width: auto;
      margin: 0px 20px 15px;
      background-color: #F1F3F2;
      padding: 25px 15px;
      border-radius: 12px;
      display: flex;
      flex-direction: row;
      align-items: flex-end; }
      .wrapper > .component-index > .stats-block.soft-pink {
        background-color: #FCE1EC; }
      .wrapper > .component-index > .stats-block.soft-purple {
        background-color: rgba(233, 198, 252, 0.4); }
      .wrapper > .component-index > .stats-block.soft-yellow {
        background-color: #FCFCDA; }
      .wrapper > .component-index > .stats-block.soft-blue {
        background-color: #DCF4FC; }
      .wrapper > .component-index > .stats-block > .counter {
        width: 90px;
        flex: none;
        font-size: 56px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.7);
        margin-right: 15px;
        line-height: 46px;
        text-align: center; }
      .wrapper > .component-index > .stats-block > .description {
        font-size: 12px;
        font-weight: normal; }
        .wrapper > .component-index > .stats-block > .description > span {
          font-weight: bold;
          font-size: 18px; }
  .wrapper > .component-trainings {
    width: auto; }
    .wrapper > .component-trainings > .title {
      font-size: 20px;
      font-weight: bold;
      color: #000;
      margin: 15px 20px 0px; }
    .wrapper > .component-trainings > .training-block {
      width: auto; }
      .wrapper > .component-trainings > .training-block > .training-list {
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0px 20px; }
        .wrapper > .component-trainings > .training-block > .training-list::-webkit-scrollbar {
          display: none; }
        .wrapper > .component-trainings > .training-block > .training-list > .choise-card {
          width: calc(100% - 100px);
          border: 1px #ddd solid;
          border-radius: 12px;
          padding: 20px;
          margin: auto;
          background-color: #fff;
          margin: 10px 0px;
          margin-right: 20px;
          display: inline-block; }
          .wrapper > .component-trainings > .training-block > .training-list > .choise-card:last-child {
            margin-right: 40px; }
          .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-header {
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px #ddd solid;
            display: flex;
            flex-direction: column; }
            .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-header > .title-training {
              font-size: 18px;
              font-weight: bold;
              color: #000; }
            .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-header > .total-office {
              font-size: 11px;
              font-weight: 400;
              color: #000; }
          .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 15px 0px 15px; }
            .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .trainer-info {
              flex: none;
              display: flex;
              flex-direction: column;
              padding-right: 35px; }
              .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .trainer-info > span {
                color: #9A9A9A;
                font-size: 11px;
                font-weight: 500;
                margin-bottom: 10px;
                text-align: center; }
              .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .trainer-info > .trainer-detail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; }
                .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .trainer-info > .trainer-detail > .avatar {
                  flex: none;
                  width: 80px;
                  height: 80px;
                  border: 2px #FFDC49 solid;
                  border-radius: 100px;
                  background-color: #F1F3F2;
                  overflow: hidden; }
                  .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .trainer-info > .trainer-detail > .avatar > span {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 42px;
                    color: #000; }
                  .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .trainer-info > .trainer-detail > .avatar > img {
                    width: 100%;
                    height: 100%; }
                .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .trainer-info > .trainer-detail > .name {
                  font-size: 12px;
                  text-align: center;
                  font-weight: bold;
                  margin-top: 6px;
                  line-height: 131%; }
            .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info {
              flex: 1;
              display: flex;
              flex-direction: column; }
              .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-date {
                width: auto;
                display: flex;
                flex-direction: column;
                margin-bottom: 5px; }
                .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-date > span {
                  color: #B3B3B3;
                  font-size: 11px; }
                .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-date > .text {
                  width: auto; }
                  .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-date > .text > span {
                    font-size: 21px;
                    font-weight: bold; }
                    .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-date > .text > span:first-child {
                      color: #FFDC49; }
              .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-time {
                width: auto;
                display: flex;
                flex-direction: column;
                margin-bottom: 5px; }
                .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-time > span {
                  color: #B3B3B3;
                  font-size: 11px; }
                  .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-time > span:last-child {
                    font-size: 21px;
                    font-weight: 500;
                    color: #000; }
              .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-reserved {
                width: auto;
                display: flex;
                flex-direction: column;
                margin-bottom: 5px; }
                .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-reserved > span {
                  color: #B3B3B3;
                  font-size: 11px; }
                  .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .card-content > .training-info > .info-reserved > span:last-child {
                    font-size: 21px;
                    font-weight: 500;
                    color: #000; }
          .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .btn-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0px; }
            .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .btn-group > a.btn-small {
              width: 110px;
              margin-right: 15px; }
              .wrapper > .component-trainings > .training-block > .training-list > .choise-card > .btn-group > a.btn-small:last-child {
                margin-right: 0px; }
  .wrapper > .component-subsciptions {
    width: auto; }
    .wrapper > .component-subsciptions > .title {
      font-size: 20px;
      font-weight: bold;
      color: #000;
      margin: 15px 20px 0px; }
    .wrapper > .component-subsciptions > .title-label {
      font-size: 13px;
      font-weight: bold;
      color: #000;
      margin: 5px 20px 0px; }
    .wrapper > .component-subsciptions > .subscription-block {
      width: auto; }
      .wrapper > .component-subsciptions > .subscription-block > .subscription-list {
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0px 20px; }
        .wrapper > .component-subsciptions > .subscription-block > .subscription-list::-webkit-scrollbar {
          display: none; }
        .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance {
          flex: none;
          width: 300px;
          height: 180px;
          background-color: #FFDC49;
          border-radius: 12px;
          margin: 10px auto;
          overflow: hidden;
          clear: both;
          display: inline-block;
          margin-right: 15px; }
          .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance:last-child {
            margin-right: 40px; }
          .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance.office {
            background-color: rgba(233, 198, 252, 0.4); }
            .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance.office > .logo {
              background-image: url("/assets/img/icons/fit-logo-purple.svg"); }
          .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .logo {
            width: auto;
            height: 18px;
            background-image: url("/assets/img/icons/fit-logo-gold.svg");
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 35%;
            margin-top: 12px;
            margin-left: 15px; }
          .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .title {
            font-size: 18px;
            font-weight: bold;
            color: #000;
            margin-left: 15px; }
          .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card {
            width: auto;
            display: flex;
            flex-direction: row; }
            .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .person {
              flex: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin: 10px 20px 0px; }
              .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .person > .avatar {
                flex: none;
                width: 64px;
                height: 64px;
                border: 2px #fff solid;
                border-radius: 100px;
                background-color: #F1F3F2;
                overflow: hidden; }
                .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .person > .avatar > span {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-weight: bold;
                  font-size: 38px;
                  color: #000; }
                .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .person > .avatar > img {
                  width: 100%;
                  height: 100%; }
              .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .person > .name {
                font-size: 10px;
                text-align: center;
                font-weight: 400;
                margin-top: 6px;
                line-height: 131%; }
            .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .info {
              flex: 1;
              padding-top: 0px;
              padding-left: 30px; }
              .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .info > .training-count {
                display: flex;
                flex-direction: row;
                align-items: center; }
                .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .info > .training-count > span {
                  font-size: 10px;
                  line-height: 131%;
                  font-weight: normal; }
                .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .info > .training-count > strong {
                  font-size: 30px;
                  font-weight: bold;
                  margin-left: 12px; }
              .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .info > .subscription-outdate {
                font-size: 10px;
                margin-top: 0px; }
                .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .info > .subscription-outdate > strong {
                  font-size: 12px; }
              .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card-balance > .balance-card > .info > .btn {
                margin-top: 7px;
                float: left; }
        .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card {
          width: 300px;
          height: 180px;
          background-color: #FFDC49;
          border-radius: 12px;
          margin: 10px auto;
          margin-right: 15px;
          overflow: hidden;
          clear: both;
          background-image: url("/assets/img/icons/runner-gold.svg");
          background-repeat: no-repeat;
          background-position: 10px 80px;
          display: inline-block; }
          .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card.office {
            background-color: rgba(233, 198, 252, 0.4);
            background-image: url("/assets/img/icons/atlet-purple.svg");
            background-size: 35%; }
            .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card.office > .logo {
              background-image: url("/assets/img/icons/fit-logo-purple.svg"); }
          .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card:last-child {
            margin-right: 40px; }
          .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card > .logo {
            width: auto;
            height: 18px;
            background-image: url("/assets/img/icons/fit-logo-gold.svg");
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 35%;
            margin-top: 12px;
            margin-left: 15px; }
          .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card > .title {
            font-size: 18px;
            font-weight: bold;
            color: #000;
            margin-left: 15px; }
          .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card > .training-offer {
            float: right;
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            padding-right: 15px; }
            .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card > .training-offer > .offer {
              font-size: 12px; }
              .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card > .training-offer > .offer > strong {
                font-size: 15px; }
              .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card > .training-offer > .offer > span {
                font-size: 9px;
                font-weight: bold; }
            .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card > .training-offer > .btn-group {
              display: flex;
              flex-direction: row;
              margin-top: 10px; }
              .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card > .training-offer > .btn-group > .btn {
                margin-right: 10px; }
                .wrapper > .component-subsciptions > .subscription-block > .subscription-list > .subscription-card > .training-offer > .btn-group > .btn:last-child {
                  margin-right: 0px; }
    .wrapper > .component-subsciptions > .shop-card {
      width: auto;
      min-height: 180px;
      background-color: #F1F3F2;
      background-image: url("/uploads/cover_2.jpg");
      background-size: cover;
      border-radius: 12px;
      margin: 10px 20px;
      overflow: hidden;
      clear: both;
      position: relative; }
      .wrapper > .component-subsciptions > .shop-card > .logo {
        width: auto;
        height: 18px;
        background-image: url("/assets/img/icons/fit-logo-white.svg");
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 40%;
        margin-top: 15px;
        margin-left: 20px;
        z-index: 1;
        position: relative; }
      .wrapper > .component-subsciptions > .shop-card > .title {
        font-size: 21px;
        font-weight: bold;
        color: #fff;
        margin-left: 20px;
        line-height: 111%;
        margin-top: 8px;
        z-index: 1;
        position: relative; }
      .wrapper > .component-subsciptions > .shop-card > span {
        font-size: 12px;
        color: #fff;
        margin-top: 10px;
        margin-left: 20px;
        line-height: 151%;
        font-weight: normal;
        display: block;
        z-index: 1;
        position: relative; }
      .wrapper > .component-subsciptions > .shop-card > .btn {
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        z-index: 1;
        position: relative; }
      .wrapper > .component-subsciptions > .shop-card > .bg-filter {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(175, 175, 175, 0.2) 31.23%, rgba(89, 89, 89, 0.45) 65.1%, rgba(0, 0, 0, 0.6) 100%);
        z-index: 0;
        opacity: .99; }
  .wrapper > .component-write {
    width: auto; }
    .wrapper > .component-write > .trainer-section {
      width: 100%;
      border-bottom: 1px #ddd solid;
      padding: 15px 0px 25px; }
      .wrapper > .component-write > .trainer-section > .title {
        width: auto;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        margin: 0px 20px 15px; }
      .wrapper > .component-write > .trainer-section > .trainer-slide {
        width: auto;
        min-height: 100px;
        white-space: nowrap;
        overflow-x: auto;
        padding: 2px 20px; }
        .wrapper > .component-write > .trainer-section > .trainer-slide::-webkit-scrollbar {
          display: none; }
        .wrapper > .component-write > .trainer-section > .trainer-slide > .slide-item {
          width: 68px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 20px;
          display: inline-block;
          position: relative; }
          .wrapper > .component-write > .trainer-section > .trainer-slide > .slide-item:last-child {
            margin-right: 0px; }
          .wrapper > .component-write > .trainer-section > .trainer-slide > .slide-item.active:before {
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50px;
            border: 3px #fff solid;
            position: absolute;
            top: 0px;
            right: -5px;
            background-color: #FFDC49;
            background-image: url("/assets/img/icons/check.svg");
            background-size: 14px;
            background-position: center;
            background-repeat: no-repeat; }
          .wrapper > .component-write > .trainer-section > .trainer-slide > .slide-item > .avatar {
            flex: none;
            width: 64px;
            height: 64px;
            border: 2px #FFDC49 solid;
            border-radius: 100px;
            background-color: #F1F3F2;
            overflow: hidden; }
            .wrapper > .component-write > .trainer-section > .trainer-slide > .slide-item > .avatar > span {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              font-size: 38px;
              color: #000; }
            .wrapper > .component-write > .trainer-section > .trainer-slide > .slide-item > .avatar > img {
              width: 100%;
              height: 100%;
              border-radius: 100px; }
          .wrapper > .component-write > .trainer-section > .trainer-slide > .slide-item > .name {
            width: auto;
            font-size: 10px;
            color: #000;
            text-align: center;
            line-height: 131%;
            margin-top: 5px;
            white-space: normal; }
      .wrapper > .component-write > .trainer-section > .btn-group {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px; }
        .wrapper > .component-write > .trainer-section > .btn-group > .btn {
          margin-right: 10px; }
          .wrapper > .component-write > .trainer-section > .btn-group > .btn:last-child {
            margin-right: 0px; }
    .wrapper > .component-write > .date-section {
      width: 100%;
      border-bottom: 1px #ddd solid;
      background-color: #f7f7f7;
      padding: 15px 0px 10px; }
      .wrapper > .component-write > .date-section > .title {
        width: auto;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        margin: 0px 20px 15px; }
      .wrapper > .component-write > .date-section > .date-slide {
        width: auto;
        height: 100px;
        white-space: nowrap;
        overflow-x: auto;
        padding: 2px 20px 0px;
        display: flex;
        flex-direction: row; }
        .wrapper > .component-write > .date-section > .date-slide::-webkit-scrollbar {
          display: none; }
        .wrapper > .component-write > .date-section > .date-slide > .date-item {
          flex: none;
          width: 46px;
          height: 85px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
          display: inline-block;
          position: relative;
          overflow: hidden; }
          .wrapper > .component-write > .date-section > .date-slide > .date-item > .date-name {
            flex: none;
            width: auto;
            font-size: 13px;
            color: #9A9A9A;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2px; }
          .wrapper > .component-write > .date-section > .date-slide > .date-item > .date-number {
            flex: none;
            width: 46px;
            height: 46px;
            border-radius: 100px;
            font-size: 21px;
            color: #000;
            font-weight: 900;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            margin: auto; }
            .wrapper > .component-write > .date-section > .date-slide > .date-item > .date-number.today {
              background-color: #fff;
              border: 1px #FFDC49 solid;
              box-sizing: border-box; }
            .wrapper > .component-write > .date-section > .date-slide > .date-item > .date-number.active {
              background-color: #FFDC49; }
          .wrapper > .component-write > .date-section > .date-slide > .date-item > .date-today {
            flex: none;
            width: auto;
            font-size: 10px;
            color: #B3B3B3;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4px; }
          .wrapper > .component-write > .date-section > .date-slide > .date-item:last-child {
            margin-right: 0px; }
    .wrapper > .component-write > .time-section {
      width: 100%;
      padding: 15px 0px 15px;
      margin-bottom: 20px; }
      .wrapper > .component-write > .time-section > .title {
        width: auto;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        margin: 0px 20px 5px; }
      .wrapper > .component-write > .time-section > .time-seasons {
        width: auto;
        margin: 0px 20px 0px; }
        .wrapper > .component-write > .time-section > .time-seasons > .season {
          width: auto;
          display: flex;
          flex-direction: column;
          padding: 10px 0px; }
          .wrapper > .component-write > .time-section > .time-seasons > .season > .title {
            flex: none;
            width: 60px;
            font-size: 14px;
            font-weight: 600;
            color: #000;
            border-radius: 6px;
            padding-left: 11px;
            margin-bottom: 5px;
            float: left;
            position: relative; }
            .wrapper > .component-write > .time-section > .time-seasons > .season > .title:before {
              content: '';
              width: 4px;
              height: 4px;
              border-radius: 50px;
              top: calc(50% - 2px);
              left: 0px;
              background-color: #FFDC49;
              position: absolute; }
          .wrapper > .component-write > .time-section > .time-seasons > .season > .time-list {
            width: auto;
            height: 40px;
            display: flex;
            flex-direction: row; }
            .wrapper > .component-write > .time-section > .time-seasons > .season > .time-list > .time-item {
              flex: 1;
              height: 38px;
              border: 1.5px #ddd solid;
              background-color: #f7f7f7;
              font-size: 13px;
              font-weight: 300;
              box-sizing: border-box;
              margin-right: 6px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 6px; }
              .wrapper > .component-write > .time-section > .time-seasons > .season > .time-list > .time-item.reserved {
                background-color: #fff;
                border: 1px #eee solid;
                color: #B3B3B3; }
              .wrapper > .component-write > .time-section > .time-seasons > .season > .time-list > .time-item.active {
                background-color: #FFDC49;
                border-color: #FFDC49;
                font-weight: bold; }
              .wrapper > .component-write > .time-section > .time-seasons > .season > .time-list > .time-item:last-child {
                margin-right: 0px; }
  .wrapper > .component-registration, .wrapper .component-login {
    width: auto; }
    .wrapper > .component-registration > .title-general, .wrapper .component-login > .title-general {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 25px 0px; }
      .wrapper > .component-registration > .title-general > .text, .wrapper .component-login > .title-general > .text {
        font-size: 24px;
        font-weight: bold;
        color: #000; }
      .wrapper > .component-registration > .title-general > .description, .wrapper .component-login > .title-general > .description {
        font-size: 12px;
        font-weight: 400;
        color: #000;
        text-transform: lowercase; }
    .wrapper > .component-registration > .form-row, .wrapper .component-login > .form-row {
      padding: 0px 0px 0px; }
      .wrapper > .component-registration > .form-row > form input[type=submit], .wrapper .component-login > .form-row > form input[type=submit] {
        margin-top: 20px;
        margin-bottom: 10px;
        outline: none; }
      .wrapper > .component-registration > .form-row > .send-polytics, .wrapper .component-login > .form-row > .send-polytics {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        color: #B3B3B3;
        margin-top: 20px; }
        .wrapper > .component-registration > .form-row > .send-polytics > a, .wrapper .component-login > .form-row > .send-polytics > a {
          color: #FFDC49; }
  .wrapper > .component-choise-write {
    width: 100%;
    padding: 15px 0px 25px; }
    .wrapper > .component-choise-write > a.title-back {
      width: auto;
      font-size: 20px;
      font-weight: bold;
      color: #000;
      margin: 0px 20px 15px;
      text-decoration: none;
      display: block; }
      .wrapper > .component-choise-write > a.title-back > img {
        width: 12px;
        height: 12px;
        margin-right: 9px; }
    .wrapper > .component-choise-write > .message-training {
      font-size: 12px;
      font-weight: 300;
      color: #000;
      text-align: center;
      margin: 0px 20px 25px; }
    .wrapper > .component-choise-write > .subscription-card-balance {
      width: 300px;
      height: 180px;
      background-color: #FFDC49;
      border-radius: 12px;
      margin: 20px auto;
      overflow: hidden;
      clear: both; }
      .wrapper > .component-choise-write > .subscription-card-balance.office {
        background-color: rgba(233, 198, 252, 0.4); }
        .wrapper > .component-choise-write > .subscription-card-balance.office > .logo {
          background-image: url("/assets/img/icons/fit-logo-purple.svg"); }
      .wrapper > .component-choise-write > .subscription-card-balance > .logo {
        width: auto;
        height: 18px;
        background-image: url("/assets/img/icons/fit-logo-gold.svg");
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 35%;
        margin-top: 12px;
        margin-left: 15px; }
      .wrapper > .component-choise-write > .subscription-card-balance > .title {
        font-size: 18px;
        font-weight: bold;
        color: #000;
        margin-left: 15px; }
      .wrapper > .component-choise-write > .subscription-card-balance > .balance-card {
        width: auto;
        display: flex;
        flex-direction: row; }
        .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .person {
          flex: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 10px 20px 0px; }
          .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .person > .avatar {
            flex: none;
            width: 64px;
            height: 64px;
            border: 2px #fff solid;
            border-radius: 100px;
            background-color: #F1F3F2;
            overflow: hidden; }
            .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .person > .avatar > span {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              font-size: 38px;
              color: #000; }
            .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .person > .avatar > img {
              width: 100%;
              height: 100%; }
          .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .person > .name {
            font-size: 10px;
            text-align: center;
            font-weight: 400;
            margin-top: 6px;
            line-height: 131%; }
        .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .info {
          flex: 1;
          padding-top: 0px;
          padding-left: 30px; }
          .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .info > .training-count {
            display: flex;
            flex-direction: row;
            align-items: center; }
            .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .info > .training-count > span {
              font-size: 10px;
              line-height: 131%;
              font-weight: normal; }
            .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .info > .training-count > strong {
              font-size: 30px;
              font-weight: bold;
              margin-left: 12px; }
          .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .info > .subscription-outdate {
            font-size: 10px;
            margin-top: 0px; }
            .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .info > .subscription-outdate > strong {
              font-size: 12px; }
          .wrapper > .component-choise-write > .subscription-card-balance > .balance-card > .info > .btn {
            margin-top: 7px;
            float: left; }
    .wrapper > .component-choise-write > .subscription-card {
      width: 300px;
      height: 180px;
      background-color: #FFDC49;
      border-radius: 12px;
      margin: 20px auto;
      overflow: hidden;
      clear: both;
      background-image: url("/assets/img/icons/runner-gold.svg");
      background-repeat: no-repeat;
      background-position: 10px 80px; }
      .wrapper > .component-choise-write > .subscription-card.office {
        background-color: rgba(233, 198, 252, 0.4);
        background-image: url("/assets/img/icons/atlet-purple.svg");
        background-size: 35%; }
        .wrapper > .component-choise-write > .subscription-card.office > .logo {
          background-image: url("/assets/img/icons/fit-logo-purple.svg"); }
      .wrapper > .component-choise-write > .subscription-card > .logo {
        width: auto;
        height: 18px;
        background-image: url("/assets/img/icons/fit-logo-gold.svg");
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 35%;
        margin-top: 12px;
        margin-left: 15px; }
      .wrapper > .component-choise-write > .subscription-card > .title {
        font-size: 18px;
        font-weight: bold;
        color: #000;
        margin-left: 15px; }
      .wrapper > .component-choise-write > .subscription-card > .training-offer {
        float: right;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        padding-right: 15px; }
        .wrapper > .component-choise-write > .subscription-card > .training-offer > .offer {
          font-size: 12px; }
          .wrapper > .component-choise-write > .subscription-card > .training-offer > .offer > strong {
            font-size: 15px; }
          .wrapper > .component-choise-write > .subscription-card > .training-offer > .offer > span {
            font-size: 9px;
            font-weight: bold; }
        .wrapper > .component-choise-write > .subscription-card > .training-offer > .btn-group {
          display: flex;
          flex-direction: row;
          margin-top: 10px; }
          .wrapper > .component-choise-write > .subscription-card > .training-offer > .btn-group > .btn {
            margin-right: 10px; }
            .wrapper > .component-choise-write > .subscription-card > .training-offer > .btn-group > .btn:last-child {
              margin-right: 0px; }
    .wrapper > .component-choise-write > .btn-ticket {
      width: 240px;
      height: 65px;
      background-color: #FFDC49;
      border-radius: 12px;
      border: 1px transparent solid;
      box-sizing: border-box;
      margin: auto;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      color: #000; }
      .wrapper > .component-choise-write > .btn-ticket.full {
        width: 270px;
        background-color: #fafafa;
        border-color: #FFDC49; }
        .wrapper > .component-choise-write > .btn-ticket.full > .description {
          flex: 1;
          padding-left: 22px; }
        .wrapper > .component-choise-write > .btn-ticket.full > .price-list {
          width: 130px; }
          .wrapper > .component-choise-write > .btn-ticket.full > .price-list .price {
            font-size: 24px; }
      .wrapper > .component-choise-write > .btn-ticket > .description {
        display: flex;
        align-items: center;
        flex: 1;
        font-size: 12px;
        font-weight: bold;
        padding-left: 30px;
        line-height: 131%; }
      .wrapper > .component-choise-write > .btn-ticket > .price-list {
        flex: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px; }
        .wrapper > .component-choise-write > .btn-ticket > .price-list > .price {
          font-size: 18px;
          font-weight: bold;
          color: #000; }
        .wrapper > .component-choise-write > .btn-ticket > .price-list > .price-old {
          font-size: 11px;
          font-weight: normal;
          text-decoration: line-through; }
    .wrapper > .component-choise-write > .choise-card {
      width: calc(100% - 80px);
      border: 1px #eee solid;
      border-radius: 12px;
      padding: 20px;
      margin: auto;
      background-color: #fff;
      box-shadow: 0px 20px 20px #ddd;
      margin-bottom: 40px; }
      .wrapper > .component-choise-write > .choise-card > .card-header {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px #ddd solid;
        display: flex;
        flex-direction: column; }
        .wrapper > .component-choise-write > .choise-card > .card-header > .title-training {
          font-size: 18px;
          font-weight: bold;
          color: #000; }
        .wrapper > .component-choise-write > .choise-card > .card-header > .total-office {
          font-size: 11px;
          font-weight: 400;
          color: #000; }
      .wrapper > .component-choise-write > .choise-card > .card-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 15px 0px 15px; }
        .wrapper > .component-choise-write > .choise-card > .card-content > .trainer-info {
          flex: none;
          display: flex;
          flex-direction: column;
          padding-right: 35px; }
          .wrapper > .component-choise-write > .choise-card > .card-content > .trainer-info > span {
            color: #9A9A9A;
            font-size: 11px;
            font-weight: 500;
            margin-bottom: 10px;
            text-align: center; }
          .wrapper > .component-choise-write > .choise-card > .card-content > .trainer-info > .trainer-detail {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            .wrapper > .component-choise-write > .choise-card > .card-content > .trainer-info > .trainer-detail > .avatar {
              flex: none;
              width: 80px;
              height: 80px;
              border: 2px #FFDC49 solid;
              border-radius: 100px;
              background-color: #F1F3F2;
              overflow: hidden; }
              .wrapper > .component-choise-write > .choise-card > .card-content > .trainer-info > .trainer-detail > .avatar > span {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 42px;
                color: #000; }
              .wrapper > .component-choise-write > .choise-card > .card-content > .trainer-info > .trainer-detail > .avatar > img {
                width: 100%;
                height: 100%; }
            .wrapper > .component-choise-write > .choise-card > .card-content > .trainer-info > .trainer-detail > .name {
              font-size: 12px;
              text-align: center;
              font-weight: bold;
              margin-top: 6px;
              line-height: 131%; }
        .wrapper > .component-choise-write > .choise-card > .card-content > .training-info {
          flex: 1;
          display: flex;
          flex-direction: column; }
          .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-date {
            width: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 5px; }
            .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-date > span {
              color: #B3B3B3;
              font-size: 11px; }
            .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-date > .text {
              width: auto; }
              .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-date > .text > span {
                font-size: 21px;
                font-weight: bold; }
                .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-date > .text > span:first-child {
                  color: #FFDC49; }
          .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-time {
            width: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 5px; }
            .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-time > span {
              color: #B3B3B3;
              font-size: 11px; }
              .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-time > span:last-child {
                font-size: 21px;
                font-weight: 500;
                color: #000; }
          .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-reserved {
            width: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 5px; }
            .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-reserved > span {
              color: #B3B3B3;
              font-size: 11px; }
              .wrapper > .component-choise-write > .choise-card > .card-content > .training-info > .info-reserved > span:last-child {
                font-size: 21px;
                font-weight: 500;
                color: #000; }
  .wrapper > .component-payment-success {
    width: auto;
    padding-top: 50px; }
    .wrapper > .component-payment-success > .message-block {
      width: calc(100% - 80px);
      height: 200px;
      border-radius: 12px;
      padding: 20px;
      margin: 0px auto 35px;
      background-color: #F1F3F2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .wrapper > .component-payment-success > .message-block > .message {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin: 0px 10px 25px; }
      .wrapper > .component-payment-success > .message-block > .icon {
        width: 52px;
        height: 52px;
        overflow: hidden; }
        .wrapper > .component-payment-success > .message-block > .icon > img {
          width: 100%;
          height: 100%; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.margin-auto {
  margin: auto; }

.margin-top-40 {
  margin-top: 40px !important; }

.btn {
  border: 0px;
  box-sizing: border-box;
  transition: all 0.2s ease; }
  .btn.btn-micro {
    padding: 0px 15px;
    height: 26px;
    border-radius: 50px;
    color: #000;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; }
  .btn.btn-small {
    padding: 0px 15px;
    height: 34px;
    border-radius: 50px;
    color: #000;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; }
  .btn.btn-large {
    max-width: 180px;
    padding: 0px 25px;
    height: 46px;
    border-radius: 50px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; }
  .btn.btn-medium {
    max-width: 160px;
    padding: 0px 20px;
    height: 38px;
    border-radius: 50px;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; }
  .btn.btn-empty {
    max-width: 180px;
    padding: 0px 25px;
    height: 32px;
    border-radius: 50px;
    color: #000;
    background-color: transparent;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; }
    .btn.btn-empty:hover {
      color: #FFDC49; }
  .btn.border-yellow {
    border: 1px #FFDC49 solid; }
  .btn.border-black {
    border: 1px #000 solid; }
  .btn.border-gray {
    border: 1px #B3B3B3 solid; }
  .btn.bg-yellow {
    background-color: #FFDC49; }
  .btn.bg-white {
    background-color: #fff; }
  .btn.text-gray {
    color: #B3B3B3; }
  .btn.text-gray-dark {
    color: #9A9A9A; }
  .btn.opacity-03 {
    opacity: 0.3; }
  .btn.hover-opacity-1:hover {
    opacity: 1; }

.form-default {
  padding: 25px 0px 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .form-default.profile > .input-item {
    position: relative;
    margin-bottom: 15px; }
    .form-default.profile > .input-item > label {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 6px;
      background-color: #f7f7f7;
      color: #000;
      border-radius: 4px;
      border: 1px #eee solid;
      font-size: 10px;
      font-weight: bold;
      float: left;
      position: absolute;
      top: -10px;
      left: 0px; }
    .form-default.profile > .input-item > input[type=text], .form-default.profile > .input-item input[type=email], .form-default.profile > .input-item input[type=phone], .form-default.profile > .input-item input[type=password] {
      width: calc(100% - 20px);
      height: 42px;
      margin: 0px 0px 10px;
      border: 1px #eee solid;
      border-radius: 6px;
      padding: 0px 10px;
      font-size: 14px;
      font-weight: 300;
      outline: none;
      transition: all 0.3s ease;
      box-shadow: 0px 5px 20px #eee; }
      .form-default.profile > .input-item > input[type=text]:focus, .form-default.profile > .input-item input[type=email]:focus, .form-default.profile > .input-item input[type=phone]:focus, .form-default.profile > .input-item input[type=password]:focus {
        border-color: #FFDC49; }
      .form-default.profile > .input-item > input[type=text]:disabled, .form-default.profile > .input-item input[type=email]:disabled, .form-default.profile > .input-item input[type=phone]:disabled, .form-default.profile > .input-item input[type=password]:disabled {
        background-color: #f7f7f7; }
    .form-default.profile > .input-item > textarea {
      width: calc(100% - 20px);
      height: 82px;
      margin: 0px 0px 10px;
      border: 1px #eee solid;
      border-radius: 6px;
      padding: 10px 10px;
      font-size: 14px;
      font-weight: 300;
      font-family: 'Roboto';
      outline: none;
      transition: all 0.3s ease;
      box-shadow: 0px 5px 20px #eee; }
      .form-default.profile > .input-item > textarea:focus {
        border-color: #FFDC49; }
      .form-default.profile > .input-item > textarea:disabled {
        background-color: #f7f7f7; }
  .form-default > input[type=text], .form-default input[type=email], .form-default input[type=phone], .form-default input[type=password] {
    width: calc(100% - 100px);
    height: 42px;
    margin: 0px 40px 10px;
    border: 1px #ddd solid;
    border-radius: 6px;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    transition: all 0.3s ease; }
    .form-default > input[type=text]:focus, .form-default input[type=email]:focus, .form-default input[type=phone]:focus, .form-default input[type=password]:focus {
      border-color: #FFDC49; }
  .form-default > textarea {
    width: calc(100% - 100px);
    height: 82px;
    margin: 0px 40px 10px;
    border: 1px #ddd solid;
    border-radius: 6px;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: 300;
    outline: none;
    transition: all 0.3s ease; }
    .form-default > textarea:focus {
      border-color: #FFDC49; }

.popup-tainer-detail {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 370px;
  overflow: hidden;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 110px; }
  .popup-tainer-detail::-webkit-scrollbar {
    display: none; }
  .popup-tainer-detail > .copy {
    width: auto;
    padding: 18px 0px 32px; }
    .popup-tainer-detail > .copy > .logo {
      width: 180px;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .popup-tainer-detail > .copy > .logo > .created {
        font-size: 10px;
        font-weight: 400;
        color: #657786;
        opacity: .35;
        text-align: center;
        white-space: nowrap;
        margin-right: 8px;
        font-variant: small-caps; }
      .popup-tainer-detail > .copy > .logo > img {
        width: 120px;
        opacity: 0.35; }
  .popup-tainer-detail > .cover {
    width: 100%;
    height: 235px;
    background-color: #000; }
  .popup-tainer-detail > .content {
    width: auto;
    position: relative;
    top: -18px;
    background-color: #fff;
    border-radius: 18px 18px 0px 0px;
    padding: 12px 0px 22px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1); }
    .popup-tainer-detail > .content > .profile {
      flex: none;
      width: auto;
      position: relative;
      padding: 0px 15px;
      margin-bottom: 35px;
      display: flex;
      flex-direction: row; }
      .popup-tainer-detail > .content > .profile > .ava {
        width: 104px;
        height: 104px;
        position: absolute;
        top: -35px;
        background-color: #fff;
        border-radius: 50px;
        overflow: hidden;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }
        .popup-tainer-detail > .content > .profile > .ava > .ava-place {
          width: calc(100% - 8px);
          height: calc(100% - 8px);
          margin: 4px;
          overflow: hidden;
          border-radius: 50px; }
          .popup-tainer-detail > .content > .profile > .ava > .ava-place > img {
            width: 100%; }
      .popup-tainer-detail > .content > .profile > .info {
        flex: 1;
        margin-left: 118px;
        display: flex;
        flex-direction: column; }
        .popup-tainer-detail > .content > .profile > .info > .name {
          font-size: 18px;
          font-weight: bold;
          color: #3F4452;
          display: flex;
          flex-direction: row;
          align-items: center; }
          .popup-tainer-detail > .content > .profile > .info > .name > img {
            width: 16px;
            margin-right: 8px;
            margin-top: 1px; }
        .popup-tainer-detail > .content > .profile > .info > .description {
          font-size: 16px;
          font-weight: 300;
          color: #657786;
          letter-spacing: -.41px; }
    .popup-tainer-detail > .content > .title {
      font-size: 22px;
      font-weight: bold;
      line-height: 120%;
      color: #000;
      margin-bottom: 16px;
      padding: 0px 22px; }
    .popup-tainer-detail > .content > .description {
      font-size: 14px;
      font-weight: 300;
      line-height: 161%;
      color: #000;
      margin-bottom: 28px;
      white-space: pre-wrap;
      padding: 0px 22px; }
    .popup-tainer-detail > .content > .btn-group {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .popup-tainer-detail > .content > .btn-group > .btn {
        margin: 0px;
        margin-right: 10px; }
        .popup-tainer-detail > .content > .btn-group > .btn:last-child {
          margin-right: 0px; }

.popup-office-select {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2000; }
  .popup-office-select > .bg-blur {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    backdrop-filter: blur(1.5px);
    z-index: 0;
    opacity: .99; }
  .popup-office-select > .window-content {
    width: calc(100% - 20px);
    max-width: 370px;
    height: calc(100% - 130px);
    margin: 10px auto;
    padding: 10px 0px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .popup-office-select > .window-content > .search {
      width: calc(100% - 20px);
      position: relative;
      margin: 0px 10px 15px; }
      .popup-office-select > .window-content > .search > input[type=text] {
        width: 100%;
        height: 46px;
        background-color: #f7f7f7;
        border: 1px transparent solid;
        border-radius: 6px;
        padding: 0px 10px;
        padding-left: 40px;
        font-size: 14px;
        font-weight: normal;
        outline: none;
        box-sizing: border-box;
        transition: all 0.3s ease; }
        .popup-office-select > .window-content > .search > input[type=text]:focus {
          border-color: #FFDC49; }
      .popup-office-select > .window-content > .search:before {
        content: '';
        width: 18px;
        height: 18px;
        background-image: url("/assets/img/icons/search.svg");
        background-repeat: no-repeat;
        position: absolute;
        left: 12px;
        top: 14px; }
    .popup-office-select > .window-content > .cities-tag {
      width: calc(100% - 20px);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0px 10px 25px; }
      .popup-office-select > .window-content > .cities-tag > .tag {
        flex: none;
        padding: 6px 12px;
        border-radius: 6px;
        background-color: #f7f7f7;
        border: 1px transparent solid;
        color: #000;
        font-size: 12px;
        font-weight: bold;
        margin-right: 12px;
        margin-bottom: 10px;
        cursor: pointer; }
        .popup-office-select > .window-content > .cities-tag > .tag.active {
          background-color: #FFDC49;
          border-color: #FFDC49;
          color: #000;
          font-weight: bold; }
    .popup-office-select > .window-content > .office-list {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto; }
      .popup-office-select > .window-content > .office-list::-webkit-scrollbar {
        display: none; }
      .popup-office-select > .window-content > .office-list > .list-item {
        flex: none;
        width: auto;
        height: 46px;
        background-color: #fff;
        box-shadow: 0px 10px 15px #eee;
        border: 1px #eee solid;
        border-radius: 6px;
        margin: 0px 10px 10px;
        padding: 0px 10px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .popup-office-select > .window-content > .office-list > .list-item > span > strong {
          margin-right: 5px; }
        .popup-office-select > .window-content > .office-list > .list-item > span.online {
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50px;
          background-color: #52C306;
          margin-right: 9px; }
        .popup-office-select > .window-content > .office-list > .list-item > span.offline {
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50px;
          background-color: #FA4B4B;
          margin-right: 9px; }
    .popup-office-select > .window-content > .btn {
      margin: 10px 10px 0px; }
