<template>
    <div class="component-payment-success error">
        <div class="message-block">
            <div class="icon"><img src="../assets/img/icons/error.svg"></div>
            <div class="message">К сожалению выбранное время уже заняли, выберите пожалуста другое время</div>
        </div>

        <router-link :to="{'name': 'Timetable'}" class="btn btn-medium bg-yellow" style="max-width: 200px;">Выбрать другое время</router-link>
    </div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from "vuex"

export default {
    name: 'ErrorWrite'
}
</script>