<template>
	<div class="component-login animated fadeIn">
		<div class="title-general">
			<div class="text">Авторизуйтесь</div>
			<div class="description">Для входа в профиль</div>
		</div>
		<div class="form-row">
			<form class="form-default" autocomplete="off">
				<input 
					type="phone" 
					v-mask="'+7(###)-###-##-##'" 
					:class="validate.phone ? 'required' : ''" 
					v-model="form.phone" 
					masked="true"
					placeholder="Номер телефона">
				<input type="password" :class="validate.password ? 'required' : ''" v-model="form.password" placeholder="Пароль" required>
				<span class='error_message' v-if='error_message' style="margin-bottom: 10px;">{{ error_message }}</span>
				<span class='success_message' v-if='success_message' style="margin-bottom: 10px;">{{ success_message }}</span>
				<a href="javascript://" class="btn btn-large bg-yellow" @click="auth">Авторизоваться</a>
			</form>
			<router-link :to="{'name': 'Password'}" class="btn btn-empty bg-white text-underline" style="margin-top: 20px; max-width: 250px;">Восстановить пароль</router-link>
			<router-link :to="{'name': 'Registration'}" class="btn btn-empty bg-white text-underline" style="margin-top: 10px;">Зарегистрироваться</router-link>
			<router-link :to="{'name': 'Timetable'}" class="btn btn-empty-gray bg-white" style="max-width: none; margin-top: 10px;">Вернуться на главную</router-link>
		</div>
	</div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from "vuex"
import { computed, onMounted, reactive, toRaw, ref } from "vue"
import axios from "axios"
import Cookies from 'js-cookie'
import { apiList } from '../api/api'

export default {
	name: 'Login',
	setup() {
		const router = useRouter()
		const store = useStore()

		const error_message = ref(null)
		const success_message = ref(null)
		const locking_pool = computed(() => store.state.locking_pool)
		const validate = reactive({
			'phone': null,
			'password': null
		})

		const form = reactive({
			'phone': null,
			'password': null
		})

		let config = {
			headers: {
				"Content-Type": "application/json",
			}
		}


		const auth = async (e) => {
			e.preventDefault();
			let data = toRaw(form)
			let validated = 0
			error_message.value = null
			data.phone = data.phone.replace(/[\W]+/g, '')

			for(let item in data) {
				if(!data[item]) {
					validate[item] = true
					validated++
				} else {
					validate[item] = null
				}
			}

			if (!validated) {
				store.commit('lockUi')

				let url = apiList.url + apiList.api.login
				return await axios.post(url, data, config)
					.then(async (response) => {
						store.commit('unlockUi')

						if (!response.data.result)
							error_message.value = response.data.error_message

						if (response.data.data.user_token) {
							success_message.value = "Успешный вход"
							store.state.utoken = response.data.data.user_token
							Cookies.set('utoken', response.data.data.user_token)

							await store.dispatch('LOGIN', response.data.data.user_token)
							await store.dispatch('APP_INIT')
							
							// Если регистрация после бронирования
							if (store.state.timetable_redirect_confirm) {
								//router.push({'name': 'TimetableConfirm'})
								router.push({'name': 'Timetable'})
							} else if (store.state.verify_redirect_confirm) {
								router.push({'name': 'VerifiedPage'})
							} else {
								router.push({'name': 'Timetable'})
							}

							return response
						}
					})
					.catch((error) => {
						let response = error.response
					})
			}
		}

		onMounted(() => {
			if (store.state.auth_status)
				router.push({'name': 'Timetable'});
		})

		return {
			auth,
			validate,
			form,
			error_message,
			success_message
		}
	}
}
</script>