<template>
	<div class="component-login animated fadeIn">
		<div class="title-general">
			<div class="text">Выходим из аккаунта</div>
		</div>
	</div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from "vuex"
import { onMounted } from "vue"

export default {
	name: 'Logout',
	setup() {
		const router = useRouter()
		const store = useStore()

		onMounted(() => {
			store.dispatch('LOGOUT')
			router.push({'name': 'Login'})
		})

		return {

		}
	}
}
</script>