<template>
<div class="component-index" v-if="Object.keys(profile).length">
    <div class="title">Главная</div>
    
    <div class="title-light">Новости FITROOM.RU</div>

    <div class="stats-block soft-yellow">
        <div class="counter">{{ parseInt((profile.metrics.training.trainer + profile.metrics.training.office) / 7) }}</div>
        <div class="description"><span>Всего</span><br>Провели тренировок</div>
    </div>
    <div class="stats-block soft-purple">
        <div class="counter">{{ profile.metrics.training.trainer }}</div>
        <div class="description"><span>С тренером</span><br>Провели тренировок</div>
    </div>
    <div class="stats-block soft-blue">
        <div class="counter">{{ profile.metrics.training.office }}</div>
        <div class="description"><span>Самостоятельно</span><br>Провели тренировок</div>
    </div>

    <div class="stats-block-row">
        <div class="row-item">
            <div class="counter">{{ profile.metrics.training.passes }}</div>
            <div class="description">В процессе</div>
        </div>
        <div class="row-item">
            <div class="counter">{{ profile.metrics.training.planned }}</div>
            <div class="description">Запланировано</div>
        </div>
        <div class="row-item">
            <div class="counter">{{ profile.metrics.training.canceled }}</div>
            <div class="description">Отменено</div>
        </div>
    </div>

    <div class="title" v-if="profile.workouts_history.toString().length" style="margin-top: 30px;">История событий</div>
    <div class="training-list" v-for="item in profile.workouts_history" :key="item.id">
        <div class="list-item">
            <div class="tag" :class="item.status">{{ item.status_name }}</div>
            <div class="item-content">
                <div class="date-time">{{ item.start_date }}</div>
                <div class="office">{{ item.room.title }}</div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { useStore } from "vuex"
import { computed, reactive, ref, toRaw, watchEffect } from "vue"

import fitroomLogoWhite from "../assets/img/icons/fit-logo-white.svg"

export default {
    name: 'Main',
    setup() {
        const store = useStore();

        const app_loaded = computed(() => store.state.app_loaded)
        const profile = computed(() => {
            if (Object.keys(store.state.profile).length) {
                return store.state.profile
            } else {
                return {}
            }
        })

        return {
            profile,
            app_loaded,
            fitroomLogoWhite
        }
    }
}
</script>

<style scoped lang="scss">
    .event-block {
        width: auto;
        max-width: 340px;
        height: 215px;
        background: linear-gradient(90deg, #8018F2 0%, #CD30DD 100%);
        background-color: red;
        border-radius: 16px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 25px;
        box-sizing: border-box;
        padding: 20px;
        overflow: hidden;

        > .logo {
            display: flex;
            flex-direction: row;
            align-content: center;
            height: 24px;
        }

        > .title {
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
            letter-spacing: .3px;
        }

        > .description {
            color: #fff;
            font-size: 13px;
            line-height: 170%;

            > span {
                font-weight: lighter;
            }
        }
    }

    .title-light {
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 400;
    }
</style>