<template>
    <div class="component-registration animated fadeIn">
		<div class="title-general" style="margin-bottom: 0px;">
			<div class="text">Восстановление пароля</div>
			<div class="description" style="text-align: center;">введите номер телефона<br>для получения кода подтверждения</div>
		</div>
		<div class="form-row" style="margin-top: 15px;">
			<form class="form-default" autocomplete="off" style="padding-top: 10px;">
				<input type="phone" :class="validate.phone ? 'required' : ''" v-mask="'+7(###)-###-##-##'" v-model='form.phone' placeholder="Номер телефона">

				<span class='error_message' v-if='error_message' style="margin-bottom: 10px;">{{ error_message }}</span>
				<span class='success_message' v-if='success_message' style="margin-bottom: 10px;">{{ success_message }}</span>

				<a href="javascript://" :disabled="isBtnDisabled" class="btn btn-large bg-yellow" :class="isBtnDisabled ? 'disabled': ''" @click="confirm_phone_action">Продолжить</a>
			</form>

			<router-link :to="{'name': 'Login'}" class="btn btn-empty bg-white text-underline" style="margin-top: 25px;">Знаю пароль</router-link>
			<router-link :to="{'name': 'Timetable'}" class="btn btn-empty-gray bg-white text-underline" style="max-width: none; margin-top: 0px;">Вернуться на главную</router-link>
		</div>

		<transition-group name="fade" mode="out-in">
			<div class="popup-phone-confirm" v-if="confirm_phone_popup">
				<div class="window">
					<div class="title">Подтвердите номер</div>
					<span>На номер телефона отправленна SMS с кодом подтверждения</span>
					<input type="text" v-model='confirm_phone_code' placeholder="Код из SMS">
					<a class="btn btn-medium bg-yellow" @click="confirm_phone_action">Подтвердить</a>
					<a class="btn btn-empty-gray bg-white text-underline" style="margin-top: 10px" @click="confirm_phone_popup_close">Отменить</a>
				</div>
			</div>

			<div class="popup-phone-confirm" v-if="confirm_password_popup">
				<div class="window">
					<div class="title">Придумайте новый пароль</div>
					<span>Введите новый пароль и нажмите - сохранить</span>
					<input type="text" v-model='confirm_password_number' placeholder="Новый пароль">
					
					<span class='error_message' v-if='error_message_reset' style="margin-bottom: 10px;">{{ error_message_reset }}</span>
					<span class='success_message' v-if='success_message_reset' style="margin-bottom: 10px;">{{ success_message_reset }}</span>

					<a class="btn btn-medium bg-yellow" @click="password_reset">Сохранить</a>
					<a class="btn btn-empty-gray bg-white text-underline" style="margin-top: 10px" @click="confirm_password_popup_close">Не хочу менять</a>
				</div>
			</div>
		</transition-group>

		<transition name="fade">
  			<offices-local v-if="popup_office_local_status"></offices-local>
		</transition>
	</div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from "vuex"
import { computed, onMounted, ref, reactive, toRaw } from "vue"
import OfficesLocal from '../components/OfficesLocal.vue'
import axios from "axios"
import Cookies from 'js-cookie'
import { apiList } from '../api/api'

export default {
	name: 'Password',
	setup() {
		const router = useRouter();
		const store = useStore();

		const error_message = ref(null)
		const success_message = ref(null)
		const error_message_reset = ref(null)
		const success_message_reset = ref(null)

		const popup_office_local_status = computed(() => store.state.popup_office_local_status)
		const popup_office_local_open = () => store.commit('popup_office_local_status', true);
		const office_selected_local = computed(() => store.state.office_selected_local_object)
		const office_selected_local_id = computed(() => store.state.office_selected_local_object.id)
		const office_selected_local_id_id = computed(() => store.state.office_selected_local_id)

		const confirm_phone = ref(false)
		const confirm_phone_code = ref(null)
		const confirm_phone_send = ref(null)
		const confirm_phone_code_validation = ref(null)
		const confirm_phone_popup = ref(null)
		const confirm_phone_popup_close = () => {
			confirm_phone_popup.value = null
		}


		const confirm_password_number = ref(null)
		const confirm_phone_number = ref(null)
		const confirm_pass_token = ref(null)
		const confirm_password_validation = ref(null)
		const confirm_password_popup = ref(null)
		const confirm_password_popup_close = () => {
			confirm_password_popup.value = null
		}


		const isBtnDisabled = ref(false)

		const validate = reactive({
			'phone': null,
		})

		const form = reactive({
			'phone': null,
		})

		let config = {
			headers: {
				"Content-Type": "application/json",
			}
		}

		const password_reset = async (e) => {
			if (confirm_password_number.value.length < 6) {
				error_message_reset.value = 'Длина пароля должна быть не менее 6 символов'
			} else {
				error_message_reset.value = null
				isBtnDisabled.value = false
				let confirm_data = {
					'phone': confirm_phone_number.value,
					'password': confirm_password_number.value,
					'pass_token': confirm_pass_token.value	
				}

				store.commit('lockUi')
				let url = apiList.url + apiList.api.reset_password
				let confirm = await axios.post(url, confirm_data, config)
					.then(async (response) => {
						store.commit('unlockUi')
						if (!response.data.result)
							error_message_reset.value = response.data.error_message

						if (response.data.data.hasOwnProperty('user_token')) {
							success_message_reset.value = 'Пароль изменён'

							confirm_password_popup_close()
							router.push({'name': 'Login'});
						}
					})
					.catch((error) => {
						let response = error.response
					})
				
			}
		}


		const confirm_phone_action = async (e) => {
			e.preventDefault();
			let data = toRaw(form)
			let validated = 0
			error_message.value = null
			
			if (data.phone) {
				data.phone = data.phone.replace(/[\W]+/g, '')
				confirm_phone_number.value = data.phone
			}

			for(let item in data) {
				if(!data[item]) {
					validate[item] = true
					validated++
				} else {
					validate[item] = null
					
					if (item == 'phone') {
						if (data[item].length < 11) {
							validate[item] = true
							validated++
						}
					}

				}
			}

			// Если нету ошибок валидации
			if (!validated) {
				confirm_phone_popup.value = true
				isBtnDisabled.value = true
				let confirm_data = {
					'phone': data.phone,
					'confirmation_code': confirm_phone_code.value	
				}

				store.commit('lockUi')
				let url = apiList.url + apiList.api.confirm_phone
				let confirm = await axios.post(url, confirm_data, config)
					.then(async (response) => {
						store.commit('unlockUi')
						if (!response.data.result)
							error_message.value = response.data.error_message

						if (response.data.data == null) {
							confirm_phone_send.value = true
						}

						let pass_token_isset = response.data.data.hasOwnProperty('pass_token')
						if (pass_token_isset == true) {
							confirm_phone_popup.value = false
							confirm_phone_popup_close()
							// Если номер подтвржден - открываем окно установки пароля
							confirm_password_popup.value = true
							confirm_pass_token.value = response.data.data.pass_token
						}
					})
					.catch((error) => {
						let response = error.response
					})
				
			}
		}

		onMounted(() => {
			if (store.state.auth_status)
				router.push({'name': 'Timetable'});
		})

		return {
			confirm_phone_action,
			confirm_phone,
			confirm_phone_code,
			confirm_phone_code_validation,
			confirm_phone_popup,
			confirm_phone_popup_close,
			error_message,
			success_message,
			error_message_reset,
			success_message_reset,
			validate,
			form,
			popup_office_local_open,
			popup_office_local_status,
			office_selected_local,
			isBtnDisabled,
			office_selected_local_id,
			office_selected_local_id_id,

			confirm_password_number,
			confirm_password_validation,
			confirm_password_popup,
			confirm_password_popup_close,

			password_reset
		}
	},

	components: {
		OfficesLocal
	}
}
</script>

<style scoped>
/* FADE ANIMATEION */
	.fade-enter-active {
		transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-leave-active {
		transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
	}
</style>