<template>
<div class="component-profile" v-if="profile.hasOwnProperty('info')">
    <div class="cover" v-if="profile.cabinet.cover"><img :src="profile.cabinet.cover"></div>
    <a class="btn-edit" v-if="!is_edit_mode" @click="is_edit_mode_on">Редактировать профиль</a>
    <div class="person">
        <div class="avatar">
            <img v-if="profile.info.photo" :src="profile.info.photo">
            <span v-if="!profile.info.photo">{{ profile.info.name[0] }}</span>
        </div>
    </div>
    <div class="my-office">
        <div class="title">
            <span>Моя студия</span>
            <a href="javascript://" @click="popup_office_local_open">изменить</a>
        </div>
        <div class="office-selected" v-if="offices_selected">
            <strong style="font-size: 12px;">{{ offices_selected.city_code }}</strong>
            {{ offices_selected.address || "Выбранная студия не работает"}}
        </div>
    </div>
    <div class="profile-info">
        <form class="form-default profile">
            <div class="input-item">
                <label>Имя</label>
                <input type="text" :disabled="!is_edit_mode" v-model="form_profile.name">
            </div>
            <div class="input-item">
                <label>Фамилия</label>
                <input type="text" :disabled="!is_edit_mode" v-model="form_profile.last_name">
            </div>
            <div class="input-item">
                <label>Дата рождения</label>
                <input type="text" :disabled="!is_edit_mode" v-model="form_profile.birthday" v-mask="'####-##-##'">
            </div>
            <div class="input-item">
                <label>Номер телефона</label>
                <input type="text" disabled :value="profile.info.phone">
            </div>
            <div class="input-item">
                <label>E-mail</label>
                <input type="text" :disabled="!is_edit_mode" v-model="form_profile.email">
            </div>
            <div class="input-item">
                <label>Пин-код</label>
                <input type="text" disabled :value="card_code ? card_code : 'Не установлен'">
            </div>
            <transition name="fade" mode="out-in">
                <a 
                    href="javascript://" 
                    class="btn btn-medium bg-yellow" style="margin-bottom: 35px; max-width: 220px;"
                    v-if="is_edit_mode"
                    @click="save_profile">Сохранить профиль</a>
            </transition>
        </form>
    </div>
    <!--<div class="subscriptions">
        <div class="title">Мои абонементы</div>

        <div class="subscription-list" v-if="profile.subscriptions">
            <div class="subscription-card-balance" :class="item.type" v-for="item in profile.subscriptions" :key="item.id">
                <div class="logo"></div>
                <div class="title">
                    <span v-if="item.type == 'trainer'">Тренеровки с тренером</span>
                    <span v-else>Аренда студии</span>
                </div>
                <div class="balance-card">
                    <div class="person">
                        <div class="avatar">
                            <img v-if="profile.info.photo" :src="profile.info.photo">
                            <span v-if="!profile.info.photo">{{ profile.info.name[0] + profile.info.last_name[0] }}</span>
                        </div>
                        <div class="name">{{ profile.info.firstname }}<br>{{ profile.info.surname }}</div>
                    </div>
                    <div class="info">
                        <div class="training-count">
                            <span>Количество<br>тренеровок</span>
                            <strong>{{ item.count }}</strong>
                        </div>
                        <div class="subscription-outdate">Срок действия до<br><strong>{{ item.expiries }}</strong></div>
                        <a href="javascript" class="btn btn-micro border-black">Пополнить карту</a>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!profile.subscriptions.toString().length" class="message">Нет активных абонементов</div>
    </div>-->

    <transition name="fade">
        <offices-local v-if="popup_office_local_status"></offices-local>
    </transition>

    <div class="btn btn-empty-gray text-gray" style="margin-top: 15px;"><router-link :to="{'name': 'Logout'}">Выйти из аккаунта</router-link></div>

    <a href="#offer" style="width: 100%; display: block; font-size: 12px; color: #777; text-align: center; margin: 15px auto;" @click="popup_offer_open"><u>Договор оферты</u></a>

    <!--<div class="my-card">
        <div class="title">Привязанная карта</div>
        <div class="card">
            <div class="number">1121 **** **** 1578</div>
            <div class="date">08/22</div>
            <div class="type"><img src="../assets/img/icons/visa.svg"></div>
        </div>
    </div>-->
</div>
</template>

<script>
import { useStore, mapState } from "vuex"
import { computed, reactive, ref, toRaw, watchEffect } from "vue"
import axios from "axios"
import OfficesLocal from '../components/OfficesLocal.vue'
import { apiList } from '../api/api'

export default {
    name: 'Profile',
     setup() {
        const store = useStore();
        const profile = computed(() => store.state.profile);

        axios.defaults.headers.common = {
            "Content-Type": "application/json", 
            "utoken": store.state.utoken
        }

        const popup_offer_open = () => store.state.popup_offer_status = true;
        const popup_office_local_status = computed(() => store.state.popup_office_local_status)
		const popup_office_local_open = () => store.commit('popup_office_local_status', true);
		const office_selected_local = computed(() => store.state.office_selected_local_object)
		const office_selected_local_id = computed(() => store.state.office_selected_local_id)

        const is_edit_mode = ref(false)
        const is_edit_mode_on = () => { is_edit_mode.value = true }
        const form_profile = reactive({
            'name': null,
            'last_name': null,
            'birthday': null,
            'email': null
        })

        const watch_profile = watchEffect(() => {
            if (Object.keys(profile.value).length) {
                form_profile.name = profile.value.info.name
                form_profile.last_name = profile.value.info.last_name
                form_profile.birthday = profile.value.info.birthday
                form_profile.email = profile.value.info.email
            }
        })
        

        const save_profile = async function (e) {
            e.preventDefault();
            store.commit('lockUi')
            let url = apiList.url + apiList.api.client
            let data = toRaw(form_profile)
            let update = await axios.put(url, data)
                .then((response) => {
                    store.commit('unlockUi')
                    is_edit_mode.value = false;
                })
                .catch((error) => {
                    let response = error
                })
        }


        const update_office = async function (e) {
            if (office_selected_local_id.value) {
                store.state.profile.office_id = office_selected_local.value.id
                let url = apiList.url + apiList.api.client
                let data = {'club': office_selected_local.value.id}

                let upd = await axios.put(url, data)
                    .then((response) => {
                        is_edit_mode.value = false;
                    })
                    .catch((error) => {
                        let response = error
                    })

                return upd
            }
        }

        const card_code = computed(() => {
            if (Object.keys(store.state.profile).length) {
                if (store.state.profile.info.hasOwnProperty('cards')) {
                    if (Object.keys(store.state.profile.info.cards).length > 0) {
                        if (store.state.profile.info.cards[0].hasOwnProperty('card_code'))
                            return store.state.profile.info.cards[0].card_code
                    }
                } else
                    return null
            }
        })

        const office_changed = computed(() => store.state.office_selected_local_changed)

        const watch_office_selected = watchEffect(() => {
            if (office_changed.value) {
                update_office();
            }
        })


        const offices_catalog = computed(() => store.state.offices.catalog);
        const offices_selected = computed(() => {
            if (profile.value.office_id) {
                for (let item of offices_catalog.value) {

                    if (item.id == profile.value.office_id) {
                        store.state.office_selected_local_id = item.id
                        store.state.office_selected_local_object = item
                        return item
                    }
                }
            }
        });

        /* Окно выбора студии */

        return {
            profile,
            offices_selected,
            is_edit_mode,
            is_edit_mode_on,
            form_profile,
            save_profile,

            popup_office_local_status,
            popup_office_local_open,
            office_selected_local,
            office_selected_local_id,

            card_code,
            popup_offer_open

        }
    },

    components: {
        OfficesLocal
    }
}
</script>