<template>
    <div class="component-registration animated fadeIn">
		<div class="title-general" style="margin-bottom: 0px;">
			<div class="text">Зарегистрируйтесь</div>
			<div class="description">Для входа в профиль</div>
			<router-link :to="{'name': 'Login'}" class="btn btn-empty bg-white text-underline" style="margin-top: 15px;">Уже есть аккаунт</router-link>
		</div>
		<div class="form-row" style="margin-top: 0px;">
			<form class="form-default" autocomplete="off" style="padding-top: 10px;">
				
				<div class='offices-input' @click="popup_office_local_open" :class="validate.club ? 'required' : ''">
					<span v-if="office_selected_local_id_id">{{ office_selected_local.name }}</span>
					<span v-if="!office_selected_local_id_id">Выберите студию</span>
					<img src="../assets/img/icons/arrow-down.svg">
				</div>
				<input type="text" :class="validate.name ? 'required' : ''" v-model.trim='form.name' placeholder="Имя">
				<input type="text" :class="validate.last_name ? 'required' : ''" v-model.trim='form.last_name' placeholder="Фамилия">
				<input type="phone" :class="validate.phone ? 'required' : ''" v-mask="'+7(###)-###-##-##'" v-model='form.phone' placeholder="Номер телефона">
				<input type="email" v-model.trim='form.email' placeholder="Электронная почта">
				<input type="password" :class="validate.password ? 'required' : ''" v-model.trim='form.password' placeholder="Пароль">

				<span class='error_message' v-if='error_message' style="margin-bottom: 10px;">{{ error_message }}</span>
				<span class='success_message' v-if='success_message' style="margin-bottom: 10px;">{{ success_message }}</span>

				<div class="send-polytics">
					<span>Нажимая кнопку "Зарегистрироваться" вы соглашаетесь с</span>
					<a href="#polytics" @click="popup_politics_open"><u>условиями пользования</u></a>
				</div>
				<a href="javascript://" :disabled="isBtnDisabled" class="btn btn-large bg-yellow" :class="isBtnDisabled ? 'disabled': ''" @click="registration">Зарегистрироваться</a>
			</form>
			<router-link :to="{'name': 'Timetable'}" class="btn btn-empty-gray bg-white text-underline" style="max-width: none; margin-top: 20px;">Вернуться на главную</router-link>
		</div>

		<transition name="fade" mode="out-in">
			<div class="popup-phone-confirm" v-if="confirm_phone_popup">
				<div class="window">
					<div class="title">Подтвердите номер</div>
					<span>На номер телефона отправленна SMS с кодом подтверждения</span>
					<input type="text" v-model='confirm_phone_code' placeholder="Код из SMS">
					<a class="btn btn-medium bg-yellow" @click="registration">Подтвердить</a>
					<a class="btn btn-empty-gray bg-white text-underline" style="margin-top: 10px" @click="confirm_phone_popup_close">Отменить</a>
				</div>
			</div>
		</transition>

		<transition name="fade">
  			<offices-local v-if="popup_office_local_status"></offices-local>
		</transition>
	</div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from "vuex"
import { computed, onMounted, ref, reactive, toRaw } from "vue"
import OfficesLocal from '../components/OfficesLocal.vue'
import axios from "axios"
import Cookies from 'js-cookie'
import { apiList } from '../api/api'

export default {
	name: 'Registration',
	setup() {
		const router = useRouter();
		const store = useStore();

		const error_message = ref(null)
		const success_message = ref(null)

		const popup_politics_open = () => store.state.popup_politics_status = true;

		const popup_office_local_status = computed(() => store.state.popup_office_local_status)
		const popup_office_local_open = () => store.commit('popup_office_local_status', true);
		const office_selected_local = computed(() => store.state.office_selected_local_object)
		const office_selected_local_id = computed(() => store.state.office_selected_local_object.id)
		const office_selected_local_id_id = computed(() => store.state.office_selected_local_id)

		const confirm_phone = ref(false)
		const confirm_phone_code = ref(null)
		const confirm_phone_send = ref(null)
		const confirm_phone_code_validation = ref(null)
		const confirm_phone_popup = ref(false)
		const confirm_phone_popup_close = () => {
			confirm_phone_popup.value = false
		}

		const isBtnDisabled = ref(false)

		const validate = reactive({
			'club': null,
			'name': null,
			'last_name': null,
			'email': null,
			'phone': null,
			'password': null
		})

		const form = reactive({
			'name': null,
			'last_name': null,
			//'email': null,
			'phone': null,
			'password': null
		})

		let config = {
			headers: {
				"Content-Type": "application/json",
			}
		}


		const registration = async (e) => {
			e.preventDefault();
			let data = toRaw(form)
			let validated = 0
			error_message.value = null
			
			if (data.phone)
				data.phone = data.phone.replace(/[\W]+/g, '')

			if (!office_selected_local_id.value) {
				validate['club'] = true
				validated++
			} else {
				validate['club'] = null
				form['club'] = office_selected_local_id.value
			}

			for(let item in data) {
				if(!data[item]) {
					validate[item] = true
					validated++
				} else {
					validate[item] = null
					
					if (item == 'phone') {
						if (data[item].length < 11) {
							validate[item] = true
							validated++
						}
					}

				}
			}

			// Если нету ошибок валидации
			if (!validated) {
				confirm_phone_popup.value = true
				isBtnDisabled.value = true
				let confirm_data = {
					'phone': data.phone,
					'confirmation_code': confirm_phone_code.value	
				}

				store.commit('lockUi')
				let url = apiList.url + apiList.api.confirm_phone
				let confirm = await axios.post(url, confirm_data, config)
					.then(async (response) => {
						store.commit('unlockUi')
						if (!response.data.result)
							error_message.value = response.data.error_message

						if (response.data.data == null) {
							confirm_phone_send.value = true
						}

						if (response.data.data.hasOwnProperty('pass_token')) {
							data['pass_token'] = response.data.data.pass_token

							let url_reg = apiList.url + apiList.api.reg
							let registration = await axios.post(url_reg, data, config)
								.then(async (response) => {
									if (!response.data.result)
										error_message.value = response.data.error_message

									if (response.data.data.user_token) {
										//DATA LAYER GTMS
										dataLayer.push({'event': 'app.sign_up'});

										success_message.value = "Успешная регистрация"
										Cookies.set('utoken', response.data.data.user_token)
										await store.dispatch('LOGIN', response.data.data.user_token)
										await store.dispatch('APP_INIT')
										
										// Если регистрация после бронирования
										if (store.state.timetable_redirect_confirm) {
											//router.push({'name': 'TimetableConfirm'})
											router.push({'name': 'Timetable'})
										} else if (store.state.verify_redirect_confirm) {
											router.push({'name': 'VerifiedPage'})
										} else {
											router.push({'name': 'Timetable'})
										}

										store.state.office_selected_local_id = null
										store.state.office_selected_local_object = null
									}
								})
								.catch((error) => {
									let response = error.response
								})
							
						}
					})
					.catch((error) => {
						let response = error.response
					})
				
			}
		}

		onMounted(() => {
			if (store.state.auth_status)
				router.push({'name': 'Timetable'});
		})

		return {
			registration,
			confirm_phone,
			confirm_phone_code,
			confirm_phone_code_validation,
			confirm_phone_popup,
			confirm_phone_popup_close,
			error_message,
			success_message,
			validate,
			form,
			popup_office_local_open,
			popup_office_local_status,
			office_selected_local,
			isBtnDisabled,
			office_selected_local_id,
			office_selected_local_id_id,

			popup_politics_open
		}
	},

	components: {
		OfficesLocal
	}
}
</script>

<style scoped>
/* FADE ANIMATEION */
	.fade-enter-active {
		transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-leave-active {
		transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
	}
</style>