<template>
<div class="component-subsciptions">
    <div class="title">Мои пакеты</div>
    <div class="subscription-block">
        <div class="subscription-list" v-if="subscriptions_loaded">
            <div class="subscription-card-balance" :class="item.category_type" v-for="item in profile.subscriptions" :key="item.id">
                <div class="logo"></div>
                <div class="title">
                    <span v-if="item.category_type == 'trainer'">Тренировка с тренером</span>
                    <span v-if="item.category_type == 'office'">Аренда студии</span>
                </div>
                <div class="balance-card">
                    <div class="person">
                        <div class="avatar">
                            <img v-if="profile.info.photo" :src="profile.info.photo">
                            <span v-if="!profile.info.photo">{{ profile.info.name[0] }}</span>
                        </div>
                        <!--<div class="name">{{ profile.info.name }}<br>{{ profile.info.last_name }}</div>-->
                    </div>
                    <div class="info">
                        <div class="training-count">
                            <span>Осталось<br>тренеровок</span>
                            <strong>{{ item.count }}</strong>
                        </div>
                        <div class="subscription-outdate">Действительно<br>до <strong>{{ item.end_date }}</strong></div>
                        <!--<a href="javascript" class="btn btn-small border-black bg-white">Пополнить карту</a>-->
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!subscriptions_loaded" class="message">Нет активных абонементов</div>
    </div>

    <div class="title">Магазин FITROOM.RU</div>
    <div class="title-label">Пакеты тренировок →</div>
    <div class="subscription-block">
        <div class="subscription-list" v-if="shop.hasOwnProperty('package')">
            <div class="subscription-card-row" v-for="(item, key) in shop.package" :key="key">
                <div class="subscription-card" :class="key" v-if="Object.keys(item).length">
                    <div class="logo"></div>
                    <div class="title">
                        <span v-if="key == 'trainer'">Тренировки с<br>тренером</span>
                        <span v-else>Персональная<br>аренда студии</span>
                    </div>
                    <div class="btn btn-medium bg-white float-left" 
                         style="margin: 15px; margin-top: 30px;" 
                         @click="popup_sub_detail_open(key)">Подробнее</div>
                </div>
            </div>
        </div>
        <div v-if="!shop.hasOwnProperty('package')" class="message">Нет пакетов тренировок в продаже</div>
    </div>

    <!--<div class="title-label">Интернет-магазин</div>
    <div class="shop-card">
        <div class="logo"></div>
        <div class="title">Интернет-магазин</div>
        <span>Мерчи<br>Кейсы на смартфоны<br>Шейкеры<br>и многое другое</span>
        <a href="javascript://" class="btn btn-small bg-yellow float-left">Перейти в магазин</a>
        <div class="bg-filter"></div>
    </div>-->
</div>
</template>

<script>
import { useStore } from "vuex"
import { computed, ref } from "vue"

export default {
    name: 'Subscription',
    setup() {
        const store = useStore();
        const app_loaded = ref(store.state.app_loaded)
        const subscriptions_loaded = computed(() => {
            if (app_loaded) {
                if (store.state.profile.hasOwnProperty('subscriptions')) {
                    let sub_size = store.state.profile.subscriptions.length
                    return sub_size
                } else {
                    return 0
                }
            }
        })

        const profile = computed(() => { 
            if (app_loaded) {
                return store.state.profile
            }
        });

        const shop = computed(() => {
            if (app_loaded) {
                return store.state.shop
            }
        });

        const popup_sub_detail_open = (category_type) => {
            store.commit('popup_sub_detail_open_set', category_type)
        }

        return {
            profile,
            shop,
            popup_sub_detail_open,
            subscriptions_loaded
        }
    }
}
</script>