<template>
    <div class="component-payment-success">
        <div class="message-block">
            <div class="message" v-html="message"></div>
            <div class="icon"><img src="../assets/img/icons/check-circle-yellow.svg"></div>
        </div>

        <router-link :to="{'name': 'Timetable'}" class="btn btn-medium bg-yellow-outline" style="max-width: 220px;">Вернуться в рассписание</router-link>
        <router-link :to="{'name': 'Main'}" class="btn btn-medium bg-yellow" style="margin-top: 15px;">На главную</router-link>
    </div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from "vuex"
import { computed, onMounted, ref } from "vue"
import axios from "axios"
import { apiList } from '../api/api'

export default {
    name: 'SuccessPay',
    setup() {
        const store = useStore();
        const router = useRouter();
        const error_message = ref(null)
        const messages = {
            'first': 'Вы успешно записаны на<br>Пробную тренировку',
            'trainer': 'Вы успешно записаны на<br>тренировку с тренером',
            'office': 'Вы успешно записаны на<br>самостоятельную тренеровку',
            'package': 'Абонемент успешно оплачен и появится в профиле в течение минуты',
        }

        const query_type = computed(() => router.currentRoute.value.query.type);
        const message = ref(null);
        onMounted(async () => {
            let order_id = router.currentRoute.value.query.orderId
            let success_type = router.currentRoute.value.query.subtype;
            let subscription_write_type = store.state.subscription_write_type
            if (success_type) {
                if (!(success_type in messages))
                    message.value = 'Возможно что-то пошло не так.';
                else {
                    message.value = messages[success_type];
                }

                store.state.timetable_write.trainer_id = null
                store.state.timetable_write.trainer_object = null
                store.state.timetable_write.to_date = null
                store.state.timetable_write.to_time = null
                store.state.timetable_write.to_date_object = null

                store.dispatch('APP_INIT')
            } else {
                let training_type = null
                if (store.state.timetable_write.trainer_object)
                    training_type = store.state.timetable_write.trainer_object.type

                if (training_type)
                    message.value = messages[subscription_write_type];
                else
                    message.value = 'Здесь ничего нет :)';

                    store.state.timetable_write.trainer_id = null
                    store.state.timetable_write.trainer_object = null
                    store.state.timetable_write.to_date = null
                    store.state.timetable_write.to_time = null
                    store.state.timetable_write.to_date_object = null

                    store.dispatch('APP_INIT')
            }

            if (order_id) {
                store.commit('lockUi')

                let config = {
                    headers: {
                        "utoken": store.state.utoken,
                    },

                    params: {
                        'orderId': order_id
                    }
                }

				let url = apiList.url + apiList.api.order_check
				return await axios.get(url, config)
					.then(async (response) => {

						if (!response.data.result) {
                            error_message.value = response.data.error_message
                            store.state.timetable_write.trainer_id = null
                            store.state.timetable_write.trainer_object = null
                            store.state.timetable_write.to_date = null
                            store.state.timetable_write.to_time = null
                            store.state.timetable_write.to_date_object = null

                            store.dispatch('APP_INIT')
                            router.push({'name': 'Timetable'})
                        }

						if (response.data.result) {
                            await store.dispatch('APP_INIT')
                            store.state.timetable_write.trainer_id = null
                            store.state.timetable_write.trainer_object = null
                            store.state.timetable_write.to_date = null
                            store.state.timetable_write.to_time = null
                            store.state.timetable_write.to_date_object = null

                            store.dispatch('APP_INIT')
						    store.commit('unlockUi')
							return response
						}
					})
					.catch((error) => {
						let response = error.response
					})
            }
        })

        return {
            message,
            query_type
        }
    }
}
</script>