<template>
<div class="component-write" style="display: block;">
    <div class="trainer-section">
        <div class="title">Выберите тренера</div>
        <div class="trainer-slide">
            <div class="slide-item animated fadeInLeft" 
                :class="trainer_selected == item.id ? 'active' : ''" 
                v-for="item in trainers" 
                :key="item.id" 
                :id="item.id" 
                @click="trainer_selected_set(item.id)">
                <div class="item-content" v-if="item.is_active">
                    <div class="avatar">
                        <img v-if="item.photo" :src="item.photo">
                        <span v-if="!item.photo">{{ item.firstname[0] }}</span>
                    </div>
                    <div class="name">{{ item.firstname }}<br>{{ item.surname }}</div>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <a href='javascript://' class='btn btn-small bg-yellow' @click="popup_trainer_detail_open">Подробнее о тренере</a>
            <a href='javascript://' class='btn btn-small border-yellow'>Выбрать по времени</a>
        </div>
    </div>
    <div class="date-section">
        <div class="title">Выберите дату</div>
        <div class="date-slide">
            <div class="date-item" v-for="item in calendar_days" :key="item.id" @click="select_day(item)">
                <div class="date-name">{{ item.day_name }}</div>
                <div class="date-number" 
                    :class="[
                        (item.today == true ? 'today' : ''),
                        (item.id == currect_select_date ? 'active': '')
                    ]">{{ item.day }}</div>
                <div class="date-today" v-if="item.today">Сегодня</div>
                <div class="date-today label-gray" v-if="item.day == '01' && !item.today">{{ item.month_name }}</div>
            </div>
        </div>
    </div>
    <div class="time-section" :class="trainer_selected ? '' : 'not-selected'">
        <div class="trainer-not-selected" v-if="!trainer_selected"><span>Выберите тренера или студию</span></div>
        <div class="title">Выберите время</div>
        <div class="time-seasons">
            <div class="season" v-for="item in date_time_list" :key="item.id">
                <div class="title">{{ item.season_name }}</div>
                <div class="time-list">
                    <div class="time-item"
                        :class="[time_item.status == 'reserved' ? 'reserved' : '', current_select_time == time_item.time ? 'active' : '']"
                        v-for="time_item in item.time_list" 
                        :key="time_item.id"
                        @click="select_time(time_item.time)">
                            {{ time_item.time }}
                        </div>
                </div>
            </div>
        </div>
    </div>
    <a  href="javascript://" 
        class="btn btn-large bg-yellow" 
        :class="current_select_time ? '' : 'disabled'"
        style="width: 160px;"
        @click="timetable_write_confirm">Записаться</a>
</div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from "vuex"
import { computed, onMounted } from "vue"
import { DateTime, Interval } from 'luxon'
import * as dayjs from 'dayjs'

export default {
    name: 'Timetable',
    setup() {
        const router = useRouter();
        const store = useStore();

        /* Создаем календарь и выбираем дату */
        dayjs.locale('ru');
        const week_name = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'];
        const month_name = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'];

        const calendar_days = computed(() => {
            let count_days = 30;
            let now = dayjs();

            let date_list = [{
                'id': now.format('YYYY-MM-DD'),
                'day': now.format('DD'),
                'day_name': week_name[DateTime.fromISO(now.toISOString()).toFormat('c') - 1],
                'month_number': now.format('MM'),
                'month_name': month_name[now.month()],
                'year': now.format('YYYY'),
                'today': true,
                'date_iso': now.toISOString(),
                'weekday': DateTime.fromISO(now.toISOString()).weekdayShort,
                'month_date': DateTime.fromISO(now.toISOString()).toLocaleString({month: 'short', day: 'numeric'})
            }]

            for (let i = 0; i < count_days; i++) {
                now = now.add('1', 'day');
                date_list.push({
                    'id': now.format('YYYY-MM-DD'),
                    'day': now.format('DD'),
                    'day_name': week_name[DateTime.fromISO(now.toISOString()).toFormat('c') - 1],
                    'month_number': now.format('MM'),
                    'month_name': month_name[now.month()],
                    'year': now.format('YYYY'),
                    'today': false,
                    'date_iso': now.toISOString(),
                    'weekday': DateTime.fromISO(now.toISOString()).weekdayShort,
                    'month_date': DateTime.fromISO(now.toISOString()).toLocaleString({month: 'short', day: 'numeric'})
                })
            }

            return date_list;
        });

        const currect_select_date = computed(() => {
            let store_to_date = store.state.timetable_write.to_date;
            if (!store_to_date)
                store.state.timetable_write.to_date = calendar_days.value[0].id;
                
            let trainer_id = store.state.timetable_write.trainer_id;
            if (trainer_id)
                store.dispatch('LOAD_TIME_FOR_DATE', {
                    'trainer_id': trainer_id, 
                    'date': store.state.timetable_write.to_date
                });

            return store.state.timetable_write.to_date;
        });


        /* Загружаем время на текущу дату и тренера */
        const date_time_list = computed(() => store.state.trainer_datetime_list);


        /* Выбираем день */
        const select_day = (date) => { 
            store.state.timetable_write.to_date = date.id;
            store.state.timetable_write.to_date_object = date,
            store.state.timetable_write.to_time = null;
            let trainer_id = store.state.timetable_write.trainer_id;
            if (trainer_id) 
                store.dispatch('LOAD_TIME_FOR_DATE',{
                    'trainer_id': trainer_id, 
                    'date': date.id
                });
        }


        /* Выбираем время */
        const current_select_time = computed(() => store.state.timetable_write.to_time);
        const select_time = (time) => { store.state.timetable_write.to_time = time; }

        /* Окно о тренере */
	    const popup_trainer_detail_status = computed(() => store.state.popup_trainer_detail_status)
        const popup_trainer_detail_open = () => store.commit('popup_trainer_detail_status', true);
        /* Список тренеров (сразу фильруем тренеров для выбранной студии) */
        const trainers = computed(() => {
            return store.state.trainers.filter((item) => {
                return (item.office_id == store.state.office_selected_id || item.office_id == null)
            });
        });
        
        const trainer_selected = computed(() => store.state.timetable_write.trainer_id);
        const trainer_selected_set = (trainer_id) => { 
            let trainer_object = computed(() => {
                let fltr =  store.state.trainers.filter((item) => {
                    if (item.id == store.state.timetable_write.trainer_id) {
                        return item;
                    }
                });

                /* Если найднно совпадение - возвращаем 
                   первое совпадение (а ольше быть и не может) */
                if (fltr)
                    return fltr[0];
            });

            store.state.timetable_write.office_id = store.state.office_selected_id;
            store.state.timetable_write.office_object = store.state.office_selected_object;
            store.state.timetable_write.trainer_id = trainer_id; 
            store.state.timetable_write.trainer_object = trainer_object.value;

            /* Загружаем время для тренера по дате */
            store.dispatch('LOAD_TIME_FOR_DATE', {
                'trainer_id': trainer_id, 
                'date': store.state.timetable_write.to_date
            });
        }


        /* Переходим к подтверждению записи */
        const timetable_write_confirm = () => {
            let auth_before = computed(() => store.state.auth_before);

            if (!auth_before.value)
                router.push({'name': 'Registration'});
            else
                router.push({'name': 'Login'});
        };

        onMounted(() => {
            /* Загружаем выббранный офис (наприме из куки) в текущий объект рассписания */
            store.state.timetable_write.office_id = store.state.office_selected_id;
        })
        
        return {
            popup_trainer_detail_status,
            popup_trainer_detail_open,
            trainers,
            trainer_selected,
            trainer_selected_set,
            calendar_days,
            select_day,
            currect_select_date,
            date_time_list,
            select_time,
            current_select_time,
            timetable_write_confirm
        }
    }
}
</script>