<template>
<div class="component-write" style="display: block;">
    <div class="trainer-section">
        <div class="title">Выберите тренера</div>
        <div class="trainer-slide">
            <div class="slide-item animated fadeInLeft" 
                :class="trainer_selected == item.id ? 'active' : ''" 
                v-for="item in trainers_list" 
                :key="item.id" 
                :id="item.id" 
                @click="(item.type == 'office' && !is_verified) ? popup_verified_open(item.id) : trainer_selected_set(item.id)">
                <div class="item-content" v-if="item.is_active">
                    <div class="avatar">
                        <div v-if="(item.type == 'office' && !is_verified)" class="access-deny"><img src="../assets/img/icons/lock-yellow.svg"></div>
                        <img v-if="item.photo" :src="item.photo">
                        <span v-if="!item.photo">{{ item.firstname[0] }}</span>
                    </div>
                    <div class="name">{{ item.firstname }}<br>{{ item.surname }}</div>
                </div>
            </div>
        </div>
        <div class="btn-group" style="display: block; padding-left: 20px; padding-right: 20px;">
            <a href='javascript://' class='btn btn-small bg-yellow' style="float: left;" v-if="trainer_selected_status" @click="popup_trainer_detail_open">Подробнее о тренере</a>
            <a href='javascript://' class='btn btn-small border-yellow' style="float: right;" v-if="trainer_or_date_selected_status" @click="trainer_selected_status_false">Отменить выбор</a>
        </div>
    </div>
    <div class="date-section">
        <div class="title">Выберите дату</div>
        <div class="date-slide">
            <div class="date-item" v-for="item in calendar_days" :key="item.id" @click="select_day(item)">
                <div class="date-name">{{ item.day_name }}</div>
                <div class="date-number" 
                    :class="[
                        (item.today == true ? 'today' : ''),
                        (item.id == currect_select_date ? 'active date-active': '')
                    ]">{{ item.day }}</div>
                <div class="date-today" v-if="item.today">Сегодня</div>
                <div class="date-today label-gray" v-if="item.day == '01' && !item.today">{{ item.month_name }}</div>
            </div>
        </div>
    </div>
    <div class="time-section"><!-- :class="trainer_selected ? '' : 'not-selected'" -->
        <!--<div class="trainer-not-selected" v-if="!trainer_selected"><span>Выберите тренера или студию</span></div>-->
        <div class="title" v-if="currect_select_date">Выберите время</div>
        <div class="time-seasons">
            <div class="season" v-for="item in date_time_current_list" :key="item.id">
                <div class="time-block" v-if="item.time_list.length > 0">
                    <div class="title">{{ item.season_name }}</div>
                    <div class="time-list">
                        <div class="time-item"
                            :class="[time_item.status == 'reserved' ? 'reserved' : '', current_select_time == time_item.time ? 'active' : '']"
                            v-for="time_item in item.time_list" 
                            :key="time_item.id"
                            @click="select_time(time_item.time)">
                                {{ time_item.time }}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a  href="javascript://" 
        class="btn btn-large bg-yellow" 
        :class="write_is_available ? '' : 'disabled'"
        style="width: 160px;"
        @click="timetable_write_confirm">Записаться</a>

    <transition-group name="fade-up">
		<trainer-detail-slide v-if="popup_trainer_detail_status"></trainer-detail-slide>
	</transition-group>
</div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from "vuex"
import { computed, onMounted, ref, watchEffect } from "vue"
import TrainerDetailSlide from '../components/TrainerDetailSlide.vue'
import { DateTime, Interval } from 'luxon'

export default {
    name: 'Timetable',
    setup() {
        const router = useRouter();
        const store = useStore();

        const app_loaded = computed(() => store.state.app_loaded)
        const base_loaded = ref(false)
        const trainers_reload = ref(store.state.trainers_reload)
        const calendar_days = ref(null)
        const date_time_list = ref(null)

        const trainers_list = computed(() => store.state.trainers_list)
        const trainers_size = ref(store.state.trainers)

        store.state.timetable_write.trainer_id = null
        store.state.timetable_write.trainer_object = null
        store.state.timetable_write.to_date = null
        store.state.timetable_write.to_time = null
        store.state.timetable_write.to_date_object = null

        const is_verified = computed(() => {
            if (app_loaded) {
                if (store.state.utoken)
                    return store.state.shop.is_verified
                else
                    return false
            }
        })

        const popup_verified_open = (office_id) => {
            store.commit('popup_verified_set', {'open': true, 'office_id': office_id})
        }

        // Выбирается тренер первый раз или нет (это нужно для того чтобы при выборе 
        // даты и времени без тренера иметь возможно выбрать тренера без перезагрузки выбранных параметров)
        const trainer_selected_status = ref(store.state.trainer_selected_status)
        const trainer_selected_status_false = () => {
            store.state.trainer_selected_status = false
            trainer_selected_status.value = false

            store.state.timetable_write.trainer_id = null; 
            store.state.timetable_write.trainer_object = null;
            
            store.state.timetable_write.to_date = null
            store.state.timetable_write.to_time = null;
            
            store.state.trainers_list = base_load()
        }

        const trainer_or_date_selected_status = computed(() => {
            if (Object.keys(store.state.trainers).length) {
                if (store.state.trainer_selected_status || store.state.timetable_write.to_date)
                    return true
                else
                    return null
            }
        })

        /* Окно о тренере */
	    const popup_trainer_detail_status = computed(() => store.state.popup_trainer_detail_status)
        const popup_trainer_detail_open = () => store.commit('popup_trainer_detail_status', true);
    
    
        const trainers_data_filter = (filter_name) => {
            let club_object = null
            let to_date = store.state.timetable_write.to_date
            let to_time = store.state.timetable_write.to_time
            let trainer_id = store.state.timetable_write.trainer_id
            let trainers_return = null
            // BASIC / TRAINERS_BY_TIME / TRAINERS_BY_SELECTED
            
            if (filter_name == 'TRAINERS_BY_DATE') {
                store.state.trainers_list = store.state.trainers.filter((item) => {
                    for (let i in item['calendar']) {
                        if (i == to_date) {
                            if (trainer_id != null) {
                                for (let trainer_item of store.state.trainers) {
                                    if (trainer_item['id'] == trainer_id)
                                        club_object = trainer_item
                                }
                                // Даты
                                calendar_days.value = club_object['calendar']
                                // Свободные слоты времени
                                date_time_list.value = club_object['times']
                            }

                            return true
                        }
                    }
                });
            }
            

            if (filter_name == 'TRAINERS_BY_DATE_TIME') {
                store.state.trainers_list = store.state.trainers.filter((item) => {
                    for (let i in item['calendar']) {
                        if (i == to_date) {
                            for (let j of item['date_times'][to_date]) {
                                if (j == to_time) {
                                    return true
                                }
                            }
                        }
                    }
                });
            }

            if (filter_name == 'TRAINER_BY_SELECTED') {
                for (let trainer_item of store.state.trainers) {
                    if (trainer_item['id'] == trainer_id)
                        club_object = trainer_item
                }
                // Даты
                calendar_days.value = club_object['calendar']
                // Свободные слоты времени
                date_time_list.value = club_object['times']
            }
        }

        /* Выбираем день */
        const select_day = (date) => { 
            store.state.timetable_write.to_date = date.id;
            store.state.timetable_write.to_date_object = date,
            store.state.timetable_write.to_time = null;
            let trainer_id = store.state.timetable_write.trainer_id;
            

            //if (!trainer_id) {
            //trainers_data_filter('TRAINERS_BY_DATE')
            //}
        }

        /* Выбираем время */
        const current_select_time = computed(() => store.state.timetable_write.to_time);
        const select_time = (time) => { 
            store.state.timetable_write.to_time = time; 
            let trainer_id = store.state.timetable_write.trainer_id;

            //if (!trainer_id) {
            trainers_data_filter('TRAINERS_BY_DATE_TIME')
            //}
        }

        const trainer_selected = computed(() => {
            /*setTimeout(function () {
                let scroll_date = document.querySelector('.trainer-slide .active')
                let scroll_param = scroll_date.getBoundingClientRect().left
                let date_slider = document.querySelector('.trainer-slide').scroll(scroll_param, 0)
            }, 300)*/

            return store.state.timetable_write.trainer_id
        });
        const trainer_selected_set = async (trainer_id) => { 
            let trainer_object = computed(() => {
                let fltr = store.state.trainers.filter((item) => {
                    if (item.id == store.state.timetable_write.trainer_id) {
                        return item;
                    }
                });

                if (fltr) {
                    trainers_data_filter('TRAINER_BY_SELECTED')
                    setTimeout(function () {
                        let scroll_date = document.querySelector('.date-slide .date-active')
                        //scroll_date.scrollIntoView({alignToTop: false, block: "start", inline: "center", behavior: "smooth"});
                        if (scroll_date) {
                            let scroll_param = scroll_date.getBoundingClientRect().left
                            let date_slider = document.querySelector('.date-slide').scroll(scroll_param - (window.innerWidth / 2), 0)
                        }
                    }, 300)
                    
                    return fltr[0]
                }
                
            });

            store.state.timetable_write.office_id = store.state.office_selected_id;
            store.state.timetable_write.office_object = store.state.office_selected_object;
            store.state.timetable_write.trainer_id = trainer_id; 
            store.state.timetable_write.trainer_object = trainer_object.value;

            store.state.trainer_selected_status = true
            trainer_selected_status.value = true
        }

        const currect_select_date = computed(() => {
            if (calendar_days.value) {
                // Первая дата загруженного календаря
                let first_date_in_calendar = calendar_days.value[Object.keys(calendar_days.value)[0]].id
                let first_date_in_calendar_object = calendar_days.value[Object.keys(calendar_days.value)[0]]
                let store_to_date = store.state.timetable_write.to_date
                // Если дата не выбрана по умолчанию - выбираем первую
                //let first_date = DateTime.fromISO(first_date_in_calendar)
                //et store_date = DateTime.fromISO(store_to_date)

                /*if (!store_to_date) {
                    store.commit('timetable_to_date_set', first_date_in_calendar)
                    store.commit('timetable_to_date_object_set', first_date_in_calendar_object)
                }

                // Если дата в хранилище меньше существующей даты
                if (first_date.startOf("day") > store_date.startOf("day")) {
                    console.log(first_date.startOf("day") > store_date.startOf("day"))
                    console.log('first_date_in_calendar')
                    store.commit('timetable_to_date_set', first_date_in_calendar)
                    store.commit('timetable_to_date_object_set', first_date_in_calendar_object)
                    base_load();
                    
                }
                */
                return store.state.timetable_write.to_date;

            }
        });

        watchEffect(() => {
            console.log(currect_select_date.value)
        })

        const date_time_current_list = computed(() => {
            let store_to_date = store.state.timetable_write.to_date

            if (store_to_date) {
                if (date_time_list.value)
                    return date_time_list.value[store.state.timetable_write.to_date]
            }
        })

        /* Переходим к подтверждению записи */
        const timetable_write_confirm = () => {
            let auth_before = computed(() => store.state.auth_before);
            let auth_status = computed(() => store.state.auth_status);
            store.state.timetable_redirect_confirm = true

            /* Если не авторизован и ранее не авторизовывался */
            if (!auth_status.value && !auth_before.value)
                router.push({'name': 'Registration'});
            else if (!auth_status.value && auth_before.value)
                router.push({'name': 'Login'});
            else if (auth_status.value)
                router.push({'name': 'TimetableConfirm'});
            
        };

        const write_is_available = computed(() => {
            let to_date = store.state.timetable_write.to_date
            let to_time = store.state.timetable_write.to_time
            let trainer_id = store.state.timetable_write.trainer_id
            
            if (to_date && to_time && trainer_id)
                return true

            return false
        })

        /* Первоначальная загрузка тренеров и данных */
        const base_load = () => {
            if (Object.keys(store.state.trainers).length) {
                // Свободные даты тренера
                let club_object = null
                let to_date = store.state.timetable_write.to_date
                let trainer_selected = store.state.timetable_write.trainer_id
                let selected_calendar_date = ref(null)
                let trainers_return = null
                for (let trainer_item of store.state.trainers) {
                    if (trainer_item['type'] == 'office') {
                        club_object = trainer_item
                        // Если дата не выбрана то выбираем первую из календаря а иначе выбранную
                        
                        //-------------
                        /*
                        if (Object.keys(club_object['calendar']).length) {
                            if (!to_date)
                                selected_calendar_date.value = club_object['calendar'][Object.keys(club_object['calendar'])[0]]['date_iso']
                            else
                                selected_calendar_date.value = to_date
                        }
                        */
                    }
                }
                
                // Фильтруем тренеров на текущую дату
                // ---------------
                /*
                trainers_return = store.state.trainers.filter((item) => {
                    for (let i in item['calendar']) {
                        if (i == selected_calendar_date.value) {
                            return true
                        }
                    }
                });
                */

               trainers_return = store.state.trainers // Убираем фильтр в этом обновлении

                // Загружаем даты и время студии а не тренеров
                for(let trainer_item of trainers_return) {
                    if (trainer_item['type'] == 'office')
                        club_object = trainer_item
                }
                
                // Даты
                if (club_object)
                    calendar_days.value = club_object['calendar']
                // Свободные слоты времени
                if (club_object)
                    date_time_list.value = club_object['times']

                store.state.trainers_list = trainers_return
                return trainers_return
            } else 
                return {}
        };

        const base_load_watch = watchEffect(() => {

            if (Object.keys(store.state.trainers).length) {
                //trainers_list.value = base_load()
                if (!base_loaded.value) {
                    base_load()
                    base_loaded.value = true
                }

                if (store.state.trainers_reload) {
                    base_load()
                    store.state.trainers_reload = false
                }

                if (!trainers_list.value) {
                    base_load()
                }
            }
        })

        onMounted(async () => {
            /* Загружаем выббранный офис (наприме из куки) в текущий объект рассписания */
            store.state.timetable_write.office_id = store.state.office_selected_id;

            if (window.innerWidth > 767) {
                const slider = document.querySelector(".date-slide");
                let isDown = false;
                let startX;
                let scrollLeft;

                slider.addEventListener("mousedown", e => {
                isDown = true;
                slider.classList.add("active");
                    startX = e.pageX - slider.offsetLeft;
                    scrollLeft = slider.scrollLeft;
                });
                slider.addEventListener("mouseleave", () => {
                    isDown = false;
                    slider.classList.remove("active");
                });
                    slider.addEventListener("mouseup", () => {
                    isDown = false;
                    slider.classList.remove("active");
                });
                    slider.addEventListener("mousemove", e => {
                if (!isDown) return;
                    e.preventDefault();
                    const x = e.pageX - slider.offsetLeft;
                    const walk = x - startX;
                    slider.scrollLeft = scrollLeft - walk;
                });
            }
        })

        
        return {
            popup_trainer_detail_status,
            popup_trainer_detail_open,
            popup_verified_open,
            trainers_list,
            trainer_selected,
            trainer_selected_set,
            calendar_days,
            select_day,
            currect_select_date,
            date_time_list,
            date_time_current_list,
            select_time,
            current_select_time,
            timetable_write_confirm,
            write_is_available,
            trainer_selected_status,
            trainer_selected_status_false,
            is_verified,

            trainer_or_date_selected_status
        }
    },
    components: {
        TrainerDetailSlide
    }
}
</script>

<style scoped>
    /* FADE ANIMATEION */
	.fade-enter-active {
		transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-leave-active {
		transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
        transform: translateY(-20px);
    }
    

    /* FADE-UP ANIMATEION */
	.fade-up-enter-active {
		transition: all 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-up-leave-active {
		transition: all 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-up-enter-from,
	.fade-up-leave-to {
		opacity: 1;
        transform: translateY(500px);
	}
</style>