<template>
    <div class="component-choise-write animated fadeIn">
        <router-link :to="{'name': 'Timetable'}" class="title-back"><img src="../assets/img/icons/arrow-left-gray.svg"><span>Вы выбрали</span></router-link>
        <div class="choise-card" v-if="tt.trainer_object">
            <div class="card-header">
                <div class="title-training">
                    <span v-if="tt.trainer_object.type == 'trainer'">Разовая тренировка</span>
                    <span v-else-if="tt.trainer_object.type == 'office'">Аренда студии</span>
                </div>
                <div class="total-office">{{ tt.office_object.address }}</div>
            </div>
            <div class="card-content">
                <div class="trainer-info">
                    <span>Ваш тренер</span>
                    <div class="trainer-detail">
                        <div class="avatar">
                            <img v-if="tt.trainer_object.photo" :src="tt.trainer_object.photo">
                            <span v-if="!tt.trainer_object.photo">{{ tt.trainer_object.firstname[0] }}</span>    
                        </div>
                        <div class="name">{{ tt.trainer_object.firstname }}<br>{{ tt.trainer_object.surname }}</div>
                    </div>
                </div>
                <div class="training-info">
                    <div class="info-date">
                        <span>Дата</span>
                        <div class="text">
                            <span>{{ tt.to_date_object.day_name }}</span>
                            <span>{{ tt.to_date_object.month_short_number }}</span>
                        </div>
                    </div>
                    <div class="info-time">
                        <span>Дата</span>
                        <span>{{ tt.to_time }}</span>
                    </div>
                    <!--<div class="info-reserved">
                        <span>Время брони</span>
                        <span>09:59</span>
                    </div>-->
                    <div class="info-reserved">
                        <span>Длительность</span>
                        <span>60 мин</span>
                    </div>
                </div>
            </div>
            <!-- Если есть абонемент - не показываем -->
            <!--<a href="javascript://" 
                class="btn btn-small border-gray margin-auto opacity-03 hover-opacity-1" 
                style="width: 130px;" 
                @click="cancel_confirm">Отменить</a>-->
        </div>

        <div v-if="get_flags_status == 'trainer_first'">
            <div class="message-training">Вам доступна пробная тренировка,<br>т.к. это ваше первое занятие.</div>
            <a href="javascript://" class="btn-ticket" @click="go_once_pay('trainer:first')">
                <div class="description">Купить пробную тренировку</div>
                <div class="price-list">
                    <div class="price">{{ get_total_price['price'] }} р.</div>
                    <div class="price-old">{{ get_total_price['old'] }} р.</div>
                </div>
            </a>
        </div>

        <div v-if="get_flags_status == 'trainer'">
            <div class="message-training">У вас нет пакетов тренировок с тренером</div>

            <div class="promocode-content">
                <div class="promocode-row">
                    <input type="text" v-model="model_promocode" placeholder="Есть промокод">
                    <a href="#" class="btn btn-medium bg-yellow" 
                                :class="model_promocode ? '' : 'disabled'"
                                @click="model_promocode_check(get_total_product)">Применить</a>
                </div>
                <div class="promocode-message">{{ promocode_message }}</div>
            </div>

            
            <a href="javascript://" class="btn-ticket full" @click="go_once_pay('trainer:once')">
                <div class="description">Купить разовую<br>тренеровку</div>
                <div class="price-list" v-if="!promocode_status">
                    <div class="price">{{ get_total_price['price'] }} р.</div>
                </div>
                <div class="price-list" v-if="promocode_status">
                    <div class="price">{{ promocode_price }} р.</div>
                    <div class="price-old">{{ product_item_price }} р.</div>
                </div>
            </a>

            <a href="javascript://" class="btn-ticket-catalog" @click="popup_sub_detail_open('trainer')">
                <div class="description" style="width: auto; ">Купить пакет тренировок</div>
            </a>
        </div>


        <div v-if="get_flags_status == 'office'">
            <div class="message-training">У вас нет пакетов тренировок с арендой студии</div>

            <div class="promocode-content">
                <div class="promocode-row">
                    <input type="text" v-model="model_promocode" placeholder="Есть промокод">
                    <a href="#" class="btn btn-medium bg-yellow" 
                                :class="model_promocode ? '' : 'disabled'"
                                @click="model_promocode_check(get_total_product)">Применить</a>
                </div>
                <div class="promocode-message">{{ promocode_message }}</div>
            </div>
            
            <a href="javascript://" class="btn-ticket full" @click="go_once_pay('office:once')">
                <div class="description">Купить разовую<br>аренду студии</div>
                <div class="price-list" v-if="!promocode_status">
                    <div class="price">{{ get_total_price['price'] }} р.</div>
                </div>
                <div class="price-list" v-if="promocode_status">
                    <div class="price">{{ promocode_price }} р.</div>
                    <div class="price-old">{{ product_item_price }} р.</div>
                </div>
            </a>

            <a href="javascript://" class="btn-ticket-catalog" @click="popup_sub_detail_open('office')">
                <div class="description" style="width: auto; ">Пакеты аренды</div>
            </a>
        </div>

        <div v-if="(get_flags_status == 'trainer_package') || (get_flags_status == 'trainer_once') || ((training_type == 'trainer' && get_flags_status == 'trainer_first'))">
            <div class="message-training" v-if="(training_type == 'trainer' && get_flags_status == 'trainer_first' && get_subscription.length > 0)" style="margin-top: 25px; margin-bottom: 0px !important;">Ваши абонементы</div>
            <div class="message-training" v-if="(training_type == 'trainer' && get_flags_status != 'trainer_first' && get_subscription.length > 0)" style="margin-top: 25px; margin-bottom: 0px !important;">Выберите пакет для списания</div>
            <div class="subscription-for" v-for="sub in get_subscription" :key="sub.id">
                <div class="subscription-row" v-if="sub['category_type'] == training_type" style="margin-bottom: 50px;">
                    <div class="subscription-card-balance">
                        <div class="logo"></div>
                        <div class="title">
                            <span v-if="sub['category_subscription'] == 'package'">Пакет тренировок с тренером</span>
                            <span v-if="sub['category_subscription'] == 'once'">Разовая тренировка с тренером</span>
                            <span v-if="sub['category_subscription'] == 'first'">Пробная тренировка с тренером</span>
                        </div>
                        <div class="balance-card">
                            <div class="person">
                                <div class="avatar">
                                    <img v-if="profile.info.photo" :src="profile.info.photo">
                                    <span v-if="!profile.info.photo">{{ profile.info.name[0] }}</span>
                                </div>
                                <!--<div class="name">{{ profile.info.last_name }}<br>{{ profile.info.name }}</div>-->
                            </div>
                            <div class="info">
                                <div class="training-count">
                                    <span>Осталось<br>тренировок</span>
                                    <strong>{{ sub['count'] }}</strong>
                                </div>
                                <!--<div class="subscription-outdate">Срок действия до<br><strong>01.11.2020</strong></div>-->
                                <!--<a href="javascript" class="btn btn-micro border-black">Пополнить карту</a>-->
                            </div>
                        </div>
                    </div>
                    <a href="javascript://" 
                    class="btn btn-large" 
                    :class="'bg-' + training_type"
                    style="max-width: 200px; margin-top: 15px;"
                    @click="go_subscription_write(sub['ticket_id'])">Списать тренеровку</a>
                </div>
            </div>
        </div>
    
        <div v-if="(get_flags_status == 'office_package') || (get_flags_status == 'office_once')">
            <div class="message-training"></div>
            <div class="message-training" v-if="Object.keys(get_subscription).length > 0" style="margin-top: 25px; margin-bottom: 0px !important;">Выберите пакет для списания</div>
            <div class="subscription-for" v-for="sub in get_subscription" :key="sub.id">
                <div class="subscription-row" v-if="sub['category_type'] == training_type" style="margin-bottom: 50px;">
                    <div class="subscription-card-balance office">
                        <div class="logo"></div>
                        <div class="title">
                            <span v-if="sub['category_subscription'] == 'package'">Пакет аренды студии</span>
                            <span v-if="sub['category_subscription'] == 'once'">Разовая аренда студии</span>
                            <span v-if="sub['category_subscription'] == 'first'">Пробная аренда студии</span>
                        </div>
                        <div class="balance-card">
                            <div class="person">
                                <div class="avatar">
                                    <img v-if="profile.info.photo" :src="profile.info.photo">
                                    <span v-if="!profile.info.photo">{{ profile.info.name[0] }}</span>
                                </div>
                                <!--<div class="name">{{ profile.info.last_name }}<br>{{ profile.info.name }}</div>-->
                            </div>
                            <div class="info">
                                <div class="training-count">
                                    <span>Осталось<br>тренировок</span>
                                    <strong>{{ sub['count'] }}</strong>
                                </div>
                                <!--<div class="subscription-outdate">Срок действия до<br><strong>01.11.2020</strong></div>-->
                                <!--<a href="javascript" class="btn btn-micro border-black">Пополнить карту</a>-->
                            </div>
                        </div>
                    </div>
                    <a href="javascript://" 
                        class="btn btn-large" 
                        :class="'bg-' + training_type" 
                        style="max-width: 200px; margin-top: 15px;"
                        @click="go_subscription_write(sub['ticket_id'])">Списать тренеровку</a>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
import { useRouter } from 'vue-router'
import { useStore } from "vuex"
import { computed, onMounted, ref, onBeforeMount, reactive } from "vue"
import { DateTime, Interval } from 'luxon'

export default {
    name: 'TimetableConfirm',
    setup() {
        const store = useStore();
        const router = useRouter();

        /* promocode */
        const model_promocode = ref(null)
        const promocode_status = ref(null)
        const promocode_price = ref(null)
        const promocode_message = ref(null)
        const product_item_price = ref(null)

        onBeforeMount(() => {
            if (!store.state.timetable_write.office_id) {
                router.push({'name': 'Timetable'});
            }
        })

        const offices = computed(() => store.state.offices);
        const trainers = computed(() => store.state.trainers);
        const training_type = computed(() => {
            if (store.state.timetable_write.trainer_object == null)
                router.push({'name': 'Timetable'});
            else
                return store.state.timetable_write.trainer_object.type
        })
        const profile = computed(() => store.state.profile);
        const get_subscription = computed(() => {
            let sub = profile.value.subscriptions
            return sub
        })

        const get_total_product = ref(null)
        const get_total_price = reactive({
            'price': 0,
            'old': 0
        })

        const get_flags = (trainer_type) => {
            if (Object.keys(store.state.shop).length) {
                let first_training_status = 0
                let flags = profile.value.subscription_flags

                /*for(let flag_item of flags[trainer_type]) {
                    if (flag_item == 'first') {
                        if (trainer_type == 'trainer') {
                            if (store.state.shop.first.hasOwnProperty(trainer_type)) {
                                if (Object.keys(store.state.shop.first[trainer_type]).length) {
                                    get_total_price['price'] = store.state.shop.first[trainer_type][0]['price']
                                    get_total_price['old'] = store.state.shop.once[trainer_type][0]['price']
                                    first_training_status = 1
                                }
                            }
                        }
                    }
                }*/

                if (trainer_type == 'trainer') {
                    if (store.state.shop.first.hasOwnProperty(trainer_type)) {
                        if (Object.keys(store.state.shop.first[trainer_type]).length) {
                            get_total_price['price'] = store.state.shop.first[trainer_type][0]['price']
                            get_total_price['old'] = store.state.shop.once[trainer_type][0]['price']
                            first_training_status = 1
                        } else {
                            first_training_status = 0
                        }
                    }
                }

                let return_flag = null
                store.state.subscription_write_type = trainer_type

                if (first_training_status) {
                    return_flag = trainer_type + '_first'
                    // Это тип тренеровки - пробная / тренер / аренда
                    store.state.subscription_write_type = 'first'
                } else if (flags[trainer_type].length) {
                    for (let item of flags[trainer_type]) {
                        if (item == 'once') {
                            return_flag = trainer_type + '_once'
                        }
                    }

                    if (!return_flag) 
                        return_flag = trainer_type + '_' + flags[trainer_type][0]
                }

                if (!return_flag) {
                    return_flag = trainer_type
                    get_total_price['price'] = store.state.shop.once[trainer_type][0]['price']
                    get_total_product.value = store.state.shop.once[trainer_type][0]
                    console.log(get_total_product.value)
                }

                return return_flag
            }
        }

        const get_flags_status = computed(() => {
            if (store.state.timetable_write.trainer_object == null) {
                router.push({'name': 'Timetable'})
            } else {
                let trainer_type = store.state.timetable_write.trainer_object['type']
                return get_flags(trainer_type)
            }
        })

        const tt = computed(() => {
            if (!store.state.timetable_write.trainer_id) {
                store.dispatch('CANCEL_CONFIRM');
                router.push({'name': 'Timetable'});
            }

            return store.state.timetable_write
        });

        const cancel_confirm = () => {
            store.dispatch('CANCEL_CONFIRM');
            router.push({'name': 'Timetable'});
        }

        /* ЗАПИСЬ С АБОНЕМЕНТА */
        const go_subscription_write = (ticket_id) => {
            store.dispatch('TRAINING_SUB_WRITE', ticket_id)
        }

        const go_once_pay = (training_type) => {
            store.dispatch('TRAINING_RESERVED', {'training_type': training_type, 'promocode': model_promocode.value})
        }

        // Открываем пакеты тренеровок
        const popup_sub_detail_open = (category_type) => {
            store.commit('popup_sub_detail_open_set', category_type)
        }


        /* PROMOCODE */
        const model_promocode_check = async (product_item) => {
            console.log(product_item)
            if (model_promocode.value) {
                let { data } = await store.dispatch('PROMOCODE_CHECK', 
                                         {'product_id' : product_item['id'], 'promocode': model_promocode.value})

                promocode_price.value = data['data']['total_amount']
                product_item_price.value = product_item['price']

                if (data['data']['total_discount'] > 0) {
                    promocode_status.value = true
                    promocode_message.value = null
                } else {
                    promocode_status.value = null
                    promocode_message.value = 'Промокод не действителен или уже использован'
                }
            } else {
                promocode_message.value = null
                promocode_status.value = null
            }
        }

        return {
            tt,
            cancel_confirm,
            get_flags_status,
            training_type,
            get_subscription,
            profile,

            go_once_pay,
            go_subscription_write,

            get_total_price,

            model_promocode,
            model_promocode_check,

            product_item_price,
            promocode_price,
            promocode_status,
            promocode_message,

            get_total_product,
            popup_sub_detail_open
        }
    }
    
}
</script>

<style scoped lang="scss">

    .btn-ticket-catalog {
            width: 270px;
            height: 65px;
            background-color: #eee;
            border-radius: 12px;
            border: 1px transparent solid;
            box-sizing: border-box;
            margin: auto;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            justify-content: center;
            color: #000;
            transition: all 0.2s ease;
            margin-top: 25px;
    }

    .promocode-result {
        width: 190px;
        height: 50px;
        border: 2px #FFDC49 dashed;
        margin: 20px auto 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 12px;

        > .price-new {
            font-size: 24px;
            font-weight: bold;
            margin-right: 10px;
        }

        > .price-old {
            font-size: 16px;
            font-weight: normal;
            color: #666;
        }
    }

    .promocode-message {
        font-size: 13px;
        font-weight: 400;
        margin: 10px 20px;
        text-align: center;
    }

    .promocode-content {
        width: 290px;
        margin: 20px auto 30px;

        > .promocode-row {
            width: auto;
            display: flex;
            flex-direction: row;
            position: relative;
            border: 1px #eee solid;
            border-radius: 50px;

            > input[type=text] {
                flex: 1;
                margin-right: 10px;
                border: 0px;
                border-radius: 50px;
                box-sizing: border-box;
                padding: 0px 20px;
                height: 44px;
                box-shadow: 0px 2px 8px #eee inset;
                font-size: 14px;
                font-weight: normal;
            }

            > .btn-medium {
                width: 110px;
                height: 44px;
                padding: 0px auto;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
            }
        }
    }
</style>