<template>
<div class="component-trainings">
    <div class="title-message" v-if="workouts.count < 1">Активных броней или тренировок пока ещё нет</div>
    <div v-if="workouts.count > 0">
        <div class="title" v-if="workouts.reserved.length > 0">Бронь - не оплачено</div>
        <div class="training-block" v-if="workouts.reserved.length > 0">
            <div class="training-list">
                <div class="choise-row">
                    <div class="choise-card" v-for="item in workouts.reserved" :key="item.id">
                        <div class="card-header">
                            <div class="title-training">
                                <span v-if="item.category_type == 'trainer'">Тренировка с тренером</span>
                                <span v-else-if="item.category_type == 'office'">Аренда студии</span>
                            </div>
                            <div class="total-office">{{ item.room.title }}</div>
                        </div>
                        <div class="card-content">
                            <div class="trainer-info">
                                <span v-if="item.category_type == 'trainer'">Ваш тренер</span>
                                <div class="trainer-detail" v-if="item.category_type == 'trainer'">
                                    <div class="avatar">
                                        <img v-if="item.employee.photo" :src="item.employee.photo">
                                        <span v-if="!item.employee.photo">{{ item.employee.surname[0] }}</span>
                                    </div>
                                    <div class="name">{{ item.employee.surname }}<br>{{ item.employee.firstname }}</div>
                                </div>
                                <span v-if="item.category_type == 'office'">Аренда</span>
                                <div class="trainer-detail" v-if="item.category_type == 'office'">
                                    <div class="avatar"><span>А</span></div>
                                    <div class="name">Аренда<br>студии</div>
                                </div>
                            </div>
                            <div class="training-info">
                                <div class="info-date">
                                    <span>Дата</span>
                                    <div class="text">
                                        <span>{{ item.date_object.day_name }}</span>
                                        <span>{{ item.date_object.month_short_number }}</span>
                                    </div>
                                </div>
                                <div class="info-time">
                                    <span>Время</span>
                                    <span>{{ item.date_object.time }}</span>
                                </div>
                                <div class="info-reserved">
                                    <span>Время брони</span>
                                    <span>10:00 мин</span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="javascript://" class="btn btn-small bg-yellow" @click="go_payment_reserved(item)">Оплатить</a>
                            <a href="javascript://" class="btn btn-small border-gray opacity-03 hover-opacity-1" @click="training_canceled(item.appointment_id, 'reserved')">Отменить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="title" v-if="workouts.active.length > 0">Ожидаемые тренеровки</div>
        <div class="training-block" v-if="workouts.active.length > 0">
            <div class="training-list">
                <div class="choise-row">
                    <div class="choise-card" v-for="item in workouts.active" :key="item.id">
                        <div class="card-header">
                            <div class="title-training">
                                <span v-if="item.category_type == 'trainer'">Тренировка с тренером</span>
                                <span v-else-if="item.category_type == 'office'">Аренда студии</span>
                            </div>
                            <div class="total-office">{{ item.room.title }}</div>
                        </div>
                        <div class="card-content">
                            <div class="trainer-info">
                                <span v-if="item.category_type == 'trainer'">Ваш тренер</span>
                                <div class="trainer-detail" v-if="item.category_type == 'trainer'">
                                    <div class="avatar">
                                        <img v-if="item.employee.photo" :src="item.employee.photo">
                                        <span v-if="!item.employee.photo">{{ item.employee.surname[0] }}</span>
                                    </div>
                                    <div class="name">{{ item.employee.surname }}<br>{{ item.employee.firstname }}</div>
                                </div>
                                <span v-if="item.category_type == 'office'">Аренда</span>
                                <div class="trainer-detail" v-if="item.category_type == 'office'">
                                    <div class="avatar"><span>А</span></div>
                                    <div class="name">Аренда<br>студии</div>
                                </div>
                            </div>
                            <div class="training-info">
                                <div class="info-date">
                                    <span>Дата</span>
                                    <div class="text">
                                        <span>{{ item.date_object.day_name }}</span>
                                        <span>{{ item.date_object.month_short_number }}</span>
                                    </div>
                                </div>
                                <div class="info-time">
                                    <span>Время</span>
                                    <span>{{ item.date_object.time }}</span>
                                </div>
                                <div class="info-reserved">
                                    <span>Код входа</span>
                                    <span v-if="card_code">{{ card_code }}</span>
                                    <span v-if="!card_code" style="font-size: 16px">Обновляется.. {{ card_code }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="choise-card-title" v-if="item['time_to_disable_canceled'] >= 4">Отмена возможна за 4<br>часа до тренеровки</div>
                        <a href="javascript://" 
                            class="btn btn-small bg-yellow margin-auto" 
                            style="width: 130px; opacity: 0.5;" 
                            v-if="item['time_to_disable_canceled'] >= 4"
                            @click="training_canceled(item.appointment_id, 'active')">Отменить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
import { useStore } from "vuex"
import { computed, onMounted, ref, watchEffect } from "vue"
import { DateTime, Interval, Duration } from 'luxon'
import Swal from 'sweetalert2'

export default {
    name: 'Workout',
    setup() {
        const store = useStore();

        /* Решить вопрос с created_at на бронирование */
        const count = (date_object) => {
            let date_to = DateTime.fromObject({
                year: date_object['year'],
                month: date_object['month_number'],
                day: date_object['day'],
                hour: 10,
                minutes: 5
            })

            let diff = date_to.diff(DateTime.local()).toFormat('mm:ss')
            return diff
        }

        
        const app_loaded = ref(store.state.app_loaded)
        const workouts = computed(() => {
            if (Object.keys(store.state.profile).length) {
                let data = store.state.profile
                let workout_list = data.workouts
                let workout_active = []

                for (let item_w of workout_list.active) {
                    let start_date = item_w['start_date'].replace(' ', 'T')
                    let diff = DateTime.fromISO(start_date).diff(DateTime.local()).toFormat('hh')
                    item_w['time_to_disable_canceled'] = diff
                    workout_active.push(item_w)
                }
                
                workout_list.active = workout_active
                return workout_list
            } else {
                return {'count': 0}
            }
        })

        const card_code = computed(() => {
            if (Object.keys(store.state.profile).length) {
                if (store.state.profile.info.hasOwnProperty('cards')) {
                    if (Object.keys(store.state.profile.info.cards).length > 0) {
                        if (store.state.profile.info.cards[0].hasOwnProperty('card_code'))
                            return store.state.profile.info.cards[0].card_code
                    }
                } else
                    return null
            }
        })

        const go_payment_reserved = (item) => {
            store.dispatch('TRAINING_RESERVED_PAYMENT', item)
        }

        const training_canceled = (appointment_id, training_type) => {
            let training_message = {
                'reserved': 'Бронирование успешно отменено',
                'active': 'Тренировка возвращена на баланс'
            }

            Swal.fire({
                title: 'Отменить тренировку?',
                showCancelButton: true,
                cancelButtonText: '<span style="color:#9A9A9A">Не отменять</span>',
                cancelButtonColor: '#F1F3F2',

                confirmButtonText: '<span style="color:#fff">Да</span>',
                confirmButtonColor: '#fa4b4b',

            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    store.dispatch('TRAINING_CANCELED', appointment_id)
                    Swal.fire({
                        title: 'Отменено!',
                        text: training_message[training_type], 
                        icon: 'success',
                        iconColor: '#FFDC49',
                        confirmButtonText: '<span style="color:#000">Спасибо</span>',
                        confirmButtonColor: '#FFDC49',
                    })
                }
            })
        }

        return {
            workouts,
            training_canceled,
            go_payment_reserved,
            card_code
        }
    }
}
</script>