<template>
<div class="popup-office-select">
    <div class="window-content">
        <div class="title">Выберите студию для тренировок</div>
        <!--<div class="search">
            <input type="text" v-model="search_office" placeholder="Адрес студии, город..">
        </div>-->
        <div class="office-list">
            <div class="list-item animated fadeIn" v-for="item in offices_filter" :key="item.id" :id="item.id" @click="set_office(item)">
                <div class="online" :class="office_selected == item.id ? 'active' : ''"></div>
                <span><strong>{{ item.city_code }}</strong> {{ item.address }}</span>
            </div>
        </div>

        <a href="#" class="btn btn-small" style="width: 170px; border: 1px #ddd solid;" @click="close_popup">Закрыть</a>
    </div>
</div>
</template>

<script>
import { useStore } from "vuex"
import { computed, ref } from "vue"
import Cookies from 'js-cookie'

export default {
    name: 'OfficesLocal',
    setup() {
        const store = useStore();
        const close_popup = () => { store.commit("popup_office_local_status", false); }
        const search_office = ref(null);
  
        /* список студий */
        const offices = store.state.offices;
        const offices_filter = computed(() => {
            return offices.catalog.filter(function (item) {
                if (!search_office.value) 
                    return item;

                if (search_office.value) {
                    let search_value = search_office.value.toLowerCase();

                    if (item.address.toLowerCase().indexOf(search_value) > -1 || 
                        item.city.toLowerCase().indexOf(search_value) > -1) {
                        return item;
                    }
                }
            })
        });

        const office_selected = computed(() => store.state.office_selected_local_id)

        const set_office = (item_office) => {
            store.state.office_selected_local_changed = true
            store.commit("office_selected_local_set", item_office);
            close_popup();
        }

        return {
            close_popup,
            offices,
            office_selected,
            set_office,
            search_office,
            offices_filter
        }
    }
}
</script>