<template>
<div class="popup-office-select">
    <div class="window-content">
        <div class="title">Выберите студию для тренировок</div>
        <!--<div class="search">
            <input type="text" v-model="search_office" placeholder="Адрес студии">
        </div>-->
        <!--<div class="cities-tag">
            <div class="tag" v-for="item in offices.cities" :key="item.id">{{ item }}</div>
        </div>-->
        <div class="office-list">
            <div class="list-item animated fadeIn" v-for="item in offices_filter" :key="item.id" :id="item.id" @click="set_office(item)">
                <div class="online" :class="office_selected == item.id ? 'active' : ''"></div>
                <span><strong>{{ item.city_code }}</strong> {{ item.address }}</span>
            </div>
        </div>

        <a href="#" v-if="office_selected" class="btn btn-small" style="width: 170px; border: 1px #ddd solid;" @click="close_popup">Закрыть</a>
    </div>
</div>
</template>

<script>
import { useStore } from "vuex"
import { computed, ref } from "vue"
import Cookies from 'js-cookie'

export default {
    name: 'Offices',
    setup() {
        const store = useStore();
        const close_popup = () => { store.commit("popup_offices_status", false); }
        const search_office = ref(null);
  
        /* список студий */
        const offices = computed(() => store.state.offices);
        const offices_filter = computed(() => {
            return offices.value.catalog.filter(function (item) {
                if (!search_office.value) 
                    return item;

                if (search_office.value) {
                    let search_value = search_office.value.toLowerCase();

                    if (item.address.toLowerCase().indexOf(search_value) > -1 || 
                        item.city.toLowerCase().indexOf(search_value) > -1) {
                        return item;
                    }
                }
            })
        });

        const office_selected = ref(store.state.office_selected_id)
        const set_office = (item_office) => {
            store.commit("office_selected_set", item_office);
            office_selected.value = item_office.id;
            Cookies.set('office_selected_id', item_office.id, {'expires': 365});
            store.dispatch('LOAD_TRAINERS')
            store.dispatch('LOAD_SHOP')
            close_popup();

            /* Сбрасываем выбранного тренера при смене локации */
            store.state.timetable_write.trainer_id = null;
            store.state.timetable_write.trainer_object = null;
            store.state.timetable_write.to_date = null;
            store.state.timetable_write.to_time = null;
            //store.state.trainer_datetime_list = null;
            // Перезагружаем список в
            store.state.trainers = {}
            store.state.trainers_reload = true
        }

        return {
            close_popup,
            offices,
            office_selected,
            set_office,
            search_office,
            offices_filter
        }
    }
}
</script>