<template>
    <div class="slideup-sub-detail">
        <div class="window">
            <div class="close" @click="close_popup"><img src='../assets/img/icons/close.svg'></div>
            <div class="title">Соглашение</div>
            <div class="content">
                <div class="block-description">
                    <div class="description">
<p class=MsoNormal style='text-align:justify;line-height:normal;page-break-after:
avoid'><span  style='font-family:"Times New Roman",serif'>Внимательно
прочитайте текст настоящего Договора и, если Вы не согласны с каким-либо
пунктом, предлагаем Вам отказаться от использования услуг.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal;page-break-after:
avoid'><span  style='font-family:"Times New Roman",serif'>В случае, если
Клиент не согласен с условиями Соглашения или не имеет права на акцепт (в том
числе, но, не ограничиваясь, не достиг возраста 18 лет и пр.), ему следует
незамедлительно прекратить любое использование официального сайта «</span><span
style='font-family:"Times New Roman",serif'>Fitroom</span><span 
style='font-family:"Times New Roman",serif'>», принадлежащего ООО «ФР Система».</span></p>

<p class=MsoNormal style='margin-bottom:0in;line-height:normal;page-break-after:
avoid'><b><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;line-height:normal;page-break-after:
avoid'><b><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;line-height:normal;page-break-after:
avoid'><b><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
line-height:normal;page-break-after:avoid'><b><span  style='font-size:
12.0pt;font-family:"Times New Roman",serif'>СОГЛАШЕНИЕ</span></b></p>

<p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
line-height:normal;page-break-after:avoid'><b><span  style='font-size:
12.0pt;font-family:"Times New Roman",serif'>о предоставлении оборудованного
помещения для проведения тренировок</span></b></p>

<p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
line-height:normal;page-break-after:avoid'><b><span  style='font-size:
12.0pt;font-family:"Times New Roman",serif'>с использованием дистанционных
технологий</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;line-height:normal;page-break-after:
avoid'><b><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;line-height:normal;page-break-after:
avoid'><b><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>        </span></b></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal;page-break-after:avoid'><b><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Общество с ограниченной ответственностью
«ФР СИСТЕМА»</span></b><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>
(ОГРН 1141001009687, ИНН 1001286925) в лице Генерального директора Пислегина
Александра Сергеевича, действующего на основании Устава, именуемое в дальнейшем
Сторона-1, и</span></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal;page-break-after:avoid'><b><i><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif;color:black'>КЛИЕНТ</span></i></b><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>
(физическое лицо), именуемый в дальнейшем Сторона-2, при совместном упоминании
именуемые «Стороны», заключили настоящее Соглашение о предоставлении
оборудованного помещения для проведения тренировок с использованием
дистанционных технологий (далее – Соглашение) о нижеследующем:</span></p>

<p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
line-height:normal;page-break-after:avoid'><b><span  style='font-size:
12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
line-height:normal;page-break-after:avoid'><b><span  style='font-size:
12.0pt;font-family:"Times New Roman",serif'>1. Особые условия</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal;page-break-after:avoid'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>1.1. Настоящим пунктом Соглашения
Сторона-2 проинформирована о возможности получения травм во время тренировок и
об обязательном соблюдении всех мер предосторожности при работе с технически
сложным оборудованием.</span></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal;page-break-after:avoid'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>1.2. Сторона-2 обязуется осуществлять
тренировки в Помещении Стороны-1 исключительно с использованием дистанционных
технологий.</span></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal;page-break-after:avoid'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal align=center style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:.25in;text-align:center;line-height:normal'><b><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>2. Термины
и определения</span></b></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;text-align:justify;line-height:normal'><span 
style='font-size:12.0pt;font-family:"Times New Roman",serif'>В настоящем
Соглашении применяются следующие термины и определения:</span></p>

<p class=MsoListParagraphCxSpFirst style='margin-bottom:0in;text-align:justify;
text-indent:-.25in;line-height:normal;display:none'><span 
style='font-size:12.0pt;font-family:"Times New Roman",serif;display:none'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
display:none'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-bottom:0in;text-align:justify;
text-indent:-.25in;line-height:normal;display:none'><span 
style='font-size:12.0pt;font-family:"Times New Roman",serif;display:none'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
display:none'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>2.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Сайт
– ресурс «</span><span style='font-size:12.0pt;font-family:"Times New Roman",serif'>FitRoom</span><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>»,
размещенный по адресу в сети Интернет https://www.fit</span><span
style='font-size:12.0pt;font-family:"Times New Roman",serif'>room</span><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>.ru/ и
предназначенный для автоматизации в сфере услуг по предоставлению помещений в
пользование для проведения тренировок с использованием дистанционных
технологий. Сервис обеспечивает выполнение следующих основных функций: ведение
расписания; бронирование помещений; сбор данных (в том числе, но, не
ограничиваясь, персональных). Сайт является объектом интеллектуальной
собственности, исключительное авторское право на который принадлежит Стороне-1.
</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>2.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Клиент
– дееспособное физическое лицо, достигшее возраста восемнадцати лет, имеющее
намерение заняться и/или занимающееся фитнесом для поддержания и укрепления
здоровья, физической реабилитации, а также для проведения
физкультурно-оздоровительного досуга, в том числе с использованием
дистанционных технологий.</span></p>

<p class=MsoListParagraphCxSpLast style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>2.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Помещение
– принадлежащее Стороне-1 на праве собственности или ином законном основании
Помещение из перечня, размещенного на Сайте , в отношении которого может быть
осуществлено бронирование. Помещение оборудовано для проведения
физкультурно-оздоровительного досуга с использованием дистанционных технологий.
В Помещении находятся имущество (мебель, спортивный реквизит, видео-техника и
пр.), принадлежащее Стороне-1.</span></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.5.
Тренировка - деятельность Стороны-2 по организации и проведении
физкультурно-оздоровительных занятий, только</span><span > </span><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>с
использованием дистанционных технологий, направленных на удовлетворение
потребностей Клиента в поддержании и укреплении здоровья, физической
реабилитации, а также проведении физкультурно-оздоровительного досуга.</span></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.6.
Заявка – акцепт - заполнение и подписание Стороной-2 в электронной форме
раздела «Забронировать» на сайте https://www.fit</span><span style='font-size:
12.0pt;font-family:"Times New Roman",serif'>room</span><span 
style='font-size:12.0pt;font-family:"Times New Roman",serif'>.ru/ и оплата
доступа в Помещение по действующему Тарифу на момент бронирования.</span></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.7
Бронирование – сервис на Сайте, позволяющий зафиксировать за Стороной-2
определенную дату и время доступа в выбранное Помещение (из перечня помещений)
для проведения тренировок.</span></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>2.8.
Тариф – ставка или система ставок оплаты доступа в Помещение. Тарифы
размещаются на Сайте.</span></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpFirst align=center style='margin-bottom:0in;
text-align:center;text-indent:-.25in;line-height:normal'><b><span 
style='font-size:12.0pt;font-family:"Times New Roman",serif'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>Предмет
Соглашения</span></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>3.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'> По
настоящему Соглашению Сторона-1 предоставляет Стороне-2 доступ в Помещение
(аренда), в отношении которого осуществлено бронирование Стороной-2, на время
бронирования для проведения индивидуальных тренировок с использованием
дистанционных технологий. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>3.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Сторона-2
пользуется Помещением на условиях почасовой аренды, которая установлена
Тарифами.</span><span > </span><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>Порядок оплаты установлен разделом 4
настоящего Соглашения.</span></p>

<p class=MsoListParagraphCxSpLast style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>3.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Сторона-2
обязуется соблюдать Правила пользования Помещением, установленные в Приложении
№1 к настоящему Соглашению.</span><span > </span></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal;page-break-after:avoid'><span  style='font-family:"Times New Roman",serif'>3.4.   
Моментом полного и безоговорочного принятия предложения Стороны-1 заключить
Соглашение ,считается оплата Стороной-2 услуг Стороны-1.</span></p>

<p class=MsoListParagraphCxSpFirst style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:.25in;text-align:justify;line-height:normal'><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle align=center style='margin-bottom:0in;
text-align:center;text-indent:-.25in;line-height:normal'><b><span 
style='font-size:12.0pt;font-family:"Times New Roman",serif'>4.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>Порядок
оплаты Услуг</span></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>4.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Сторона-2
производит 100 % предоплату стоимости услуг Стороне-1, при помощи платежного
сервиса Стороны-1, размещенного на Сайте в соответствии с действующим Тарифом
на момент бронирования. Предоплата считается поступившей с момента зачисления
денежных средств на расчетный счет Стороны-1.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:0in;text-align:justify;
text-indent:0in'><span  style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>4.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;line-height:107%;
font-family:"Times New Roman",serif'>Сторона-1 оставляет за собой право по
своему усмотрению вносить изменения в Тарифы, уведомив Сторону-2 об изменении
Тарифов не позднее, чем за 14 (Четырнадцать) календарных дней до даты
вступления в силу новых Тарифов.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle align=center style='margin-bottom:0in;
text-align:center;text-indent:-.25in;line-height:normal'><b><span 
style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>Права и
обязанности Сторон</span></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:35.45pt;text-align:justify;text-indent:-35.45pt;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><u><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Сторона-1
обязана:</span></u></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.1.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Исполнять
свои обязательства в соответствии с условиями настоящего Соглашения.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:35.45pt;text-align:justify;text-indent:-35.45pt;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><u><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Сторона-1
имеет право:</span></u></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.2.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>В
одностороннем порядке расторгнуть настоящее Соглашение и/или блокировать доступ
Стороны-2 к Сайту в случаях нарушения Стороной-2 условий настоящего Соглашения
(в том числе Правил пользования Помещением).</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.2.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>В
одностороннем порядке вносить изменения в Тарифы в порядке, установленном
пунктом 4.2. настоящего Соглашения.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.2.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>В
одностороннем порядке отказаться от исполнения настоящего Соглашения, уведомив
об этом Сторону-2 в срок не менее, чем за 7 (семь) календарных дней до даты
отказа от исполнения Соглашения. Отказ от исполнения Соглашения Стороной-1
может быть осуществлен при отсутствии виновных действия со стороны Стороны-2.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.2.4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Осуществлять
хранение и обработку данных (в том числе, но, не ограничиваясь, персональных),
предоставленных Стороной-2 для целей исполнения Соглашения.  </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:35.45pt;text-align:justify;text-indent:-35.45pt;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><u><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Сторона-2
обязана:</span></u></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.3.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Пройти
процедуру регистрации, а именно – заполнить полно и достоверно Заявку-акцепт на
Сайте;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.3.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Исполнять
свои обязательства в соответствии с условиями настоящего Соглашения. Соблюдать
требования Правил пользования Помещением, являющихся приложением к настоящему
Соглашению.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.3.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>При
получении уникального кода доступа в Помещение согласно Правилам пользования
Помещением (Приложение №1 к настоящему Соглашению) не передавать его третьим
лицам. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.3.4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Во
время использования Помещения соблюдать и поддерживать общественный порядок,
общепринятые нормы поведения, соблюдать чистоту, бережно относиться к имуществу,
принадлежащему Стороне-1, находящемуся в Помещении.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.3.5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>При
посещении Помещения соблюдать требования безопасности и использования
оборудования, возвращать инвентарь в места его хранения.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.3.6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>При
посещении Помещения использовать средства индивидуальной защиты,
дезинфекционные средства.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.3.7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>В
случае возникновения неблагоприятных последствий оказания дистанционной
фитнес-услуги Стороной-2 Клиенту, Сторона-1 за данные обстоятельства
ответственности не несёт. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.3.8.   Знать
постановления, распоряжения, приказы и другие руководящие, методические и
нормативные документы, определяющие направление развития физической культуры и
спорта, теоретические основы физкультурно-оздоровительной работы, правила
эксплуатации спортивных сооружений, оборудования и спортивной техники, методику
организации и проведения занятий на тренажерах, основы врачебного контроля,
правила оказания доврачебной медицинской помощи, физиологические особенности
занимающихся.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.3.9.
Сохранять конфиденциальность сведений о деятельности Стороны-1 и информации,
полученной в ходе оказания услуг по настоящему Соглашению.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:35.45pt;text-align:justify;text-indent:-35.45pt;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>5.4.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><u><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Сторона-2
имеет право:</span></u></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.4.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Требовать
от Стороны-1 исполнения обязательств в соответствии с условиями настоящего
Соглашения при условии их соблюдения со своей стороны.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.4.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>В
одностороннем порядке отказаться от исполнения настоящего Соглашения, письменно
уведомив об этом Сторону-1 в срок не менее, чем за 7 (Семь) календарных дней до
даты отказа от исполнения Соглашения.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>5.4.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Получать
дополнительную информацию о работе Сайта у представителей Стороны-1.</span></p>

<p class=MsoListParagraphCxSpMiddle align=center style='margin-bottom:0in;
text-align:center;text-indent:-.25in;line-height:normal'><b><span 
style='font-size:12.0pt;font-family:"Times New Roman",serif'>6.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>Ответственность
Сторон</span></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif;color:#1C1C1C'>6.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>Сторона-2 несет полную ответственность за нарушение правовых
норм или ущерб, вызванный его действиями на Сайте, в частности, указанием
недостоверных данных, разглашением коммерческой тайны или другой
конфиденциальной информации, нарушением личных неимущественных прав, в том
числе авторских и смежных прав.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif;color:#1C1C1C'>6.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>Сторона-2 самостоятельно несёт ответственность перед Клиентами
за качество тренировок. Сторона-1 не несёт ответственности за любой вред, в том
числе моральный, который может быть причинен Клиенту при проведении ему
тренировок Стороной-2.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif;color:#1C1C1C'>6.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>Сторона-2 несет ответственность за действия/бездействие,
следствием которых были порча имущества, расположенного в Помещении, либо
элементов самого Помещения. Сторона-2 обязуется возместить ущерб, причиненный
действиями/бездействием в течение 3 (трёх) календарных дней с даты получения от
Стороны-1 письменного требования о возмещении такого ущерба.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif;color:#1C1C1C'>6.4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>Сторона-2 подписанием настоящего Соглашения соглашается с тем,
что она не вправе требовать от Стороны-1 какой-либо компенсации морального
вреда, а также возмещения упущенной выгоды, в связи с оказанием услуг по
Соглашению, за исключением случаев, прямо предусмотренных законодательством
Российской Федерации.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif;color:#1C1C1C'>6.5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>Сторона-1 не несет ответственности за нарушение условий
настоящего Соглашения, если такое нарушение вызвано действием обстоятельств
непреодолимой силы (форс-мажор), включая: действия органов государственной
власти, пожар, наводнение, землетрясение, другие стихийные действия, отсутствие
электроэнергии и/или сбои работы компьютерной сети (нарушение работы линий
связи, неисправность оборудования и т. п.), забастовки, гражданские волнения,
беспорядки, любые иные обстоятельства, не ограничиваясь перечисленным, которые
могут повлиять на выполнение Стороной-2 условий настоящего Соглашения и
неподконтрольные Стороне-1.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif;color:#1C1C1C'>6.6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>Сторона-1 также не несёт ответственности за неисполнение или
ненадлежащее исполнение обязательств по Соглашению, а также возможные убытки,
возникшие в том числе, но не ограничиваясь, в результате:</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:35.45pt;text-align:justify;text-indent:-35.45pt;
line-height:normal'><span  style='font-size:12.0pt;font-family:Symbol;
color:#1C1C1C'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>неправомерных действий третьих лиц, направленных на нарушения
информационной безопасности или нормального функционирования Сайта; </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:35.45pt;text-align:justify;text-indent:-35.45pt;
line-height:normal'><span  style='font-size:12.0pt;font-family:Symbol;
color:#1C1C1C'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>сбоев в работе Сайта, вызванных ошибками в коде, компьютерными
вирусами и иными посторонними фрагментами кода в программном обеспечении Сайта;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:35.45pt;text-align:justify;text-indent:-35.45pt;
line-height:normal'><span  style='font-size:12.0pt;font-family:Symbol;
color:#1C1C1C'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>отсутствия (невозможности установления, прекращения и пр.)
интернет-соединений между сервером Стороны-2 и сервером Сайта;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:Symbol;color:#1C1C1C'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>проведения государственными органами оперативно-розыскных
мероприятий;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:35.45pt;text-align:justify;text-indent:-35.45pt;
line-height:normal'><span  style='font-size:12.0pt;font-family:Symbol;
color:#1C1C1C'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>установления государственного регулирования (или регулирования
иными организациями) хозяйственной деятельности коммерческих организаций в сети
Интернет и/или установления указанными субъектами разовых ограничений,
затрудняющих или делающих невозможным исполнение Соглашения или его части; </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:35.45pt;text-align:justify;text-indent:-35.45pt;
line-height:normal'><span  style='font-size:12.0pt;font-family:Symbol;
color:#1C1C1C'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>иных случаев, связанных с действиями/бездействием третьих лиц,
направленными на ухудшение общей ситуации с использованием сети Интернет и/или
компьютерного оборудования, существовавшей на момент заключения настоящего
Соглашения; </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:Symbol;color:#1C1C1C'>-<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>выполнения Стороной-1 профилактических работ на Сайте.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif;color:#1C1C1C'>6.7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>Все споры и разногласия решаются Сторонами по возможности путём
переговоров. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
color:#1C1C1C'>В случае невозможности урегулирования споров, вытекающих из
Соглашения, или связанных с его исполнением, расторжением, прекращением, </span><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>признанием
недействительным полностью или в части, мирным путём, спор рассматривается в
судебном порядке в соответствии с действующим законодательством, по месту
нахождения Стороны-1.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle align=center style='margin-bottom:0in;
text-align:center;text-indent:-.25in;line-height:normal'><b><span 
style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>Заключительные
положения</span></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>7.1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Настоящее
Соглашение вступает в силу с момента его подписания Стороной-2 в электронной
форме раздела «Забронировать» на сайте https://www.fit</span><span
style='font-size:12.0pt;font-family:"Times New Roman",serif'>room</span><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>.ru/.После
подписания настоящего Соглашения вся предшествующая его подписанию переписка и
договоренности утрачивают свою силу.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>7.2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Стороны
пришли к соглашению, что обмен электронными сообщениями с использованием
электронной почты и/или мессенджеров признается Сторонами надлежащим и имеющим
юридическую силу и значение для обеих Сторон при соблюдении следующих условий:</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>-
обмен электронными сообщениями происходит при использовании следующих адресов
электронной почты: от Стороны-1: </span><span style='font-size:12.0pt;
font-family:"Times New Roman",serif'>info</span><span  style='font-size:
12.0pt;font-family:"Times New Roman",serif'>@</span><span style='font-size:
12.0pt;font-family:"Times New Roman",serif'>fitroom</span><span 
style='font-size:12.0pt;font-family:"Times New Roman",serif'>.</span><span
style='font-size:12.0pt;font-family:"Times New Roman",serif'>ru</span><span
 style='font-size:12.0pt;font-family:"Times New Roman",serif'>, от <span
style='color:black'>Стороны-2:</span></span><b><span  style='font-size:
10.5pt;font-family:"Segoe UI",sans-serif;color:black;background:white'> </span></b><span
 style='font-family:"Times New Roman",serif;color:black;background:white'>электронный
адрес указанный при регистрации на сайте </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>-
обмен электронными сообщениями происходит при использовании мессенджеров,
зарегистрированных на следующие телефонные номера: от Стороны-1: +79523517171,
от <span style='color:black'>Стороны-2 номер телефона указанный при регистрации
на сайте</span></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>7.3.      Срок
действия настоящего Соглашения – <i> 31 декабря 2021 года.</i> В случае, если
ни одна из Сторон не заявит о желании расторгнуть или изменить настоящее
Соглашение не менее чем за 30 календарных дней до даты истечения срока его
действия, настоящее Соглашение считается продленным на следующий год на тех же
условиях. Данное условие может быть применено неограниченное число раз.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
margin-bottom:0in;margin-left:25.1pt;text-align:justify;text-indent:-.25in;
line-height:normal;display:none'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif;display:none'>7.3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif;
display:none'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>7.4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Во
всём остальном, что не урегулировано настоящим Соглашением Стороны
руководствуются положениями действующего законодательства РФ. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>7.5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>Приложением
к настоящему Соглашению являются Правила пользования Помещением (Приложение
№1).</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpLast style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:.25in;line-height:normal'><span style='position:relative;
z-index:2;left:-43px;top:16px;width:654px;height:357px'>

<table cellpadding=0 cellspacing=0 align=left>
 <tr>
  <td width=0 height=0></td>
  <td width=298></td>
  <td width=195></td>
  <td width=161></td>
 </tr>
 <tr>
  <td height=304></td>
  <td rowspan=3 align=left valign=top></td>
 </tr>
 <tr>
  <td height=17></td>
  <td></td>
  <td align=left valign=top></td>
 </tr>
 <tr>
  <td height=20></td>
 </tr>
</table>

</span><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'><br
clear=all style='page-break-before:always'>
<b><span style='background:darkgray'>&nbsp;</span></b></span></p>

<br clear=ALL>

<p class=MsoNormal align=right style='margin-bottom:0in;text-align:right;
line-height:normal'><b><span  style='font-family:"Times New Roman",serif'>Приложение
№1</span></b></p>

<p class=MsoNormal align=right style='margin-bottom:0in;text-align:right;
line-height:normal'><span  style='font-family:"Times New Roman",serif'>к
Соглашению о предоставлении оборудованного помещения </span></p>

<p class=MsoNormal align=right style='margin-bottom:0in;text-align:right;
line-height:normal'><span  style='font-family:"Times New Roman",serif'>для
проведения тренировок</span></p>

<p class=MsoNormal align=right style='margin-bottom:0in;text-align:right;
line-height:normal'><span  style='font-family:"Times New Roman",serif'>с
использованием дистанционных технологий</span></p>

<p class=MsoNormal align=right style='margin-bottom:0in;text-align:right;
line-height:normal'><span  style='font-family:"Times New Roman",serif'>№б/н
от 26.03.2020г.</span></p>

<p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
line-height:normal'><b><span  style='font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
line-height:normal'><b><span  style='font-family:"Times New Roman",serif'>Правила
пользования Помещением</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;text-align:justify;line-height:
normal'><b><span  style='font-size:12.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></b></p>

<p class=MsoListParagraphCxSpFirst style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-family:"Times New Roman",serif;
color:black'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black'>Сторона-1 предоставляет Стороне-2 доступ в Помещение, путем
электронного подписания Стороной-2 одним кликом кнопки «Забронировать» на сайте
 FITROOM.RU, а Сторона-2 оплачивает доступ в Помещение в соответствии с
Тарифом, действующим на момент бронирования («Заявка- акцепт»).</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-family:"Times New Roman",serif;
color:black'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black'>В целях обеспечения безопасности Помещения и имущества,
расположенного в нём, доступ в Помещение осуществляется по коду,
предоставленному Стороной-1 Стороне-2. Код доступа начинает действовать за 10
минут до начала времени использования Помещения и прекращает действовать по
истечении 20 минут после окончания использования Помещения. Сторона-2 обязана в
указанные в настоящем пункте сроки освободить Помещение. <span
style='background:#FBFBF9'>В случае, если оплата за доступ в Помещение была
произведена, но Сторона-2 не воспользовалась доступом в Помещение, не
предупредив о невозможности воспользоваться Помещением в срок не менее, чем за
4 часа до оплаченного времени, услуги по предоставлению Помещения (аренда)
считаются оказанными. Стоимость их не возвращается, за исключением случаев,
установленных законодательством.</span></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-family:"Times New Roman",serif;
color:black'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black'>Помещение может быть предоставлено только в часы работы Помещения,
которые указаны в Перечне помещений, размещенном на Сайте.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-family:"Times New Roman",serif;
color:black'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black'>В случае необходимости проведения специальных мероприятий в часы,
когда бронирование Помещения Стороной-2 уже было осуществлено и подтверждено,
Сторона-1 заблаговременно уведомляет Сторону-2 о невозможности воспользоваться
Помещением в ранее забронированные Стороной-2 часы. При этом, Сторона-1
сообщает Стороне-2 об ином доступном для бронирования времени. В случае
невозможности использования Помещения в предложенные Стороной-1 Стороне-2
взамен ранее забронированных часы, Сторона-1 производит возврат денежных
средств.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-family:"Times New Roman",serif;
color:black'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black'>Вне зависимости от наличия любых возражений, по окончании времени
использования Помещения Сторона-2 освобождает Помещение.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-family:"Times New Roman",serif;
color:black'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black'>Помещение передаётся полностью, со всем оборудованием (Имуществом)
в нём находящимся. </span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-family:"Times New Roman",serif;
color:black'>Сторона-2 самостоятельно подготавливает Помещение, тренажеры и
снаряды для проведения тренировок (в том числе обеспечивает уборку и
расстановку тренажеров и снарядов на места после окончания занятия), а также
обеспечивает безопасность при проведении занятий. После окончания занятий
Сторона-2 самостоятельно обеспечивает уборку мусора, оставшегося после занятия,
проверяет санузлы на готовность к использованию следующими посетителями
(чистота, отсутствие мусора, оставленных личных вещей и пр.).  При
невозможности самостоятельно обеспечить готовность Помещения для использования
следующими посетителями или при обнаружении поломок оборудования Сторона-2
производит фотофиксацию указанных фактов и незамедлительно сообщает о них
посредством мессенджеров на номера, указанные в настоящем Соглашении,
Стороне-1.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-family:"Times New Roman",serif;
color:black'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black'>Сторона-2 несет ответственность за сохранность Помещения,
оборудования и имущества на период бронирования.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black'>Сторона-1 может в одностороннем порядке <span style='background:
#FBFBF9'>изменять настоящие Правила, режим работы Помещения, опубликовав
уведомление о таких изменениях не менее, чем за 24 часа до вступления таких
изменений на Сайте. В случае внесения изменений в настоящие Правила Стороны
заключают дополнительное соглашение к Соглашению.</span></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black;background:#FBFBF9'>Сторона-2 обязана соблюдать требования
противопожарной безопасности, санитарно-гигиенические и иные требования,
установленные законодательством и Правилами.</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>10.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black'>Сторона-2 обязана бережно относиться к Помещению и к
расположенному в Помещении имуществу, не допуская порчи Помещения и имущества.
Сторона-2 обязуется возместить ущерб, причиненный своими
действиями/бездействием в течение 3 (трёх) календарных дней с даты получения от
Стороны-1 письменного требования о возмещении такого ущерба</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>11.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black'>Сторона-1 не несет ответственности за <span style='background:
#FBFBF9'>сохранность размещенных в Помещении или оставленных в Помещении личных
вещей Стороны-2.</span></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin:0in;text-align:justify;
text-indent:0in;line-height:normal'><span  style='font-size:12.0pt;
font-family:"Times New Roman",serif'>12.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span  style='font-family:"Times New Roman",serif;
color:black;background:#FBFBF9'>Сторона-1 не несет ответственность за
технические неудобства, в том числе за перебои с электричеством, с иными
коммунальными услугами, вызванные проведением сезонных, профилактических и
аварийных работ службами коммунального хозяйства, иными причинами, находящимися
за пределом контроля Стороны-1.</span></p>

<p class=MsoListParagraphCxSpLast style='margin:0in;text-align:justify;
line-height:normal'><span  style='font-family:"Times New Roman",serif;
color:black'><br>
<br>
</span></p></div>
                </div>
            </div>
        </div>
        <div class="slideup-sub-detail-bg animated fadeIn" @click="close_popup"></div>
    </div>
</template>

<script>
import { useStore } from "vuex"
import { computed, onMounted, ref } from "vue"

export default {
    name: 'PoliticsVerified',
    setup() {
        const store = useStore();
        const close_popup = () => {
            // Анимания исчезания фона
            document.querySelector('.slideup-sub-detail-bg').classList.remove('fadeIn')
            document.querySelector('.slideup-sub-detail-bg').classList.add('fadeOut')

            setTimeout(() => {
                document.querySelector('.slideup-sub-detail-bg').style.display = 'none'
                store.state.popup_politics_verified_status = false
            }, 100)
        }

        setTimeout(() => {
            // Анимания появления фона
            if (document.querySelector('.slideup-sub-detail-bg')) {
                document.querySelector('.slideup-sub-detail-bg').style.display = 'block'
            }
        }, 400)

        return { 
            close_popup,
        }
    }
}
</script>

<style scoped lang="scss">

    .slideup-sub-detail {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 9992;
        padding-top: 100px;

        > .slideup-sub-detail-bg {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 0;
            display: none;
        }

        > .window {
            width: 100%;
            height: 90%;
            background-color: #fff;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
            position: absolute;
            bottom: 0px;
            z-index: 1;
            overflow: hidden;

            @media (min-width: 767px) {
                width: 420px;
                left: calc(50% - 210px);
            }

            /*&::after {
                content: '';
                width: 100%;
                height: 20px;
                background-color: #fff;
                position: absolute;
                top: 0px;
                z-index: 1;
            }

            &:before {
                content: '';
                width: 70px;
                height: 5px;
                position: absolute;
                top: 10px;
                left: calc(50% - 35px);
                background-color: #ddd;
                border-radius: 50px;
                z-index: 2;
                
            }*/

            > .close {
                position: absolute;
                right: 15px;
                top: 11px;
                width: 38px;
                height: 38px;
                background-color: #f1f1f1;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                > img {
                    width: 14px;
                }
            }

            > .title {
                padding: 15px 20px 15px;
                font-size: 15px;
                font-weight: bold;
            }

            > .content {
                width: 100%;
                height: calc(100% - 61px);
                overflow-y: scroll;

                > .block-description {
                    width: 100%;
                    background-color: #fff;
                    padding: 0px 0px 25px;
                    position: relative;

                    > .description {
                        margin: 0px 20px 25px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 170%;
                        color: #444;
                        margin-bottom: 28px;
                        white-space: pre-wrap;
                    }
                }

                > .product-list {
                    width: auto;
                    margin: 0px 15px 10px;
                    display: flex;
                    flex-direction: column;

                    > .product-item {
                        width: 100%;
                        min-height: 70px;
                        box-sizing: border-box;
                        background-color: #fafafa;
                        border: 1px #eee solid;
                        border-radius: 12px;
                        margin-bottom: 18px;
                        padding: 10px 10px;
                        display: flex;
                        flex-direction: column;
                        transition: all 0.2s ease;

                        &.active {
                            border-color: #FFDC49;
                            background-color: #FFDC49;

                             > .item-description {
                                > .description {
                                    color: #444;
                                }
                            }
                        }

                        > .item-info {
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            > .radio {
                                width: 16px;
                                height: 16px;
                                border: 1px #ddd solid;
                                border-radius: 50px;
                                margin-right: 10px;
                                position: relative;
                                background-color: #fff;

                                &.active {
                                    border-color: #FFDC49;
                                    transition: all 0.2s ease;

                                    &:before {
                                        content: '';
                                        border-radius: 50px;
                                        position: absolute;
                                        top: 4px;
                                        left: 4px;
                                        right: 4px;
                                        bottom: 4px;
                                        background-color: #FFDC49;
                                    }
                                }
                            }

                            > .name {
                                flex: 1;
                                font-size: 14px;
                                font-weight: 500;
                                color: #000;
                            }

                            > .price {
                                flex: none;
                                width: 78px;
                                font-size: 18px;
                                font-weight: bold;
                                text-align: right;

                                > span {
                                    font-weight: 400;
                                    font-size: 14px;
                                }
                            }

                        }

                        > .item-description {
                            flex: 1;

                            > .description {
                                font-size: 11px;
                                font-weight: 400;
                                color: #999;
                                margin-top: 7px;
                                padding-top: 7px;
                                margin-left: 28px;
                            }
                        }

                    }
                }
            }
        }
    }
</style>