<template>
    <div class="preloader">
        <div class="loader"></div>
    </div>
</template>

<script>
import { useStore } from "vuex"
import { computed, onMounted } from "vue"

export default {
    name: 'Preloader',
}
</script>

<style lang="scss" scoped>
    $loaderColor: #FFDC49;//#B9E9BB;
    $bodyColor: rgba(0, 0, 0, 0.5); //rgba(29, 31, 32, 0.3);

    $animSpeed: 1.4s;
    $loaderAnim: $animSpeed linear infinite;
    $pseudoAnim: $animSpeed 0.2s ease infinite;

    // Simplify animations with unique-id().
    // Read more: http://advancedsass.com/articles/simplify-animation-keyframes-with-unique-id.html
    @mixin anim {
        $name: unique-id();
        animation-name: $name;
        
        @keyframes #{$name} {
            @content;
        }
    }

    // Set transform values based on direction
    @mixin jump($direction: right) {
        $t: null;
        $r: null;

        @if $direction == left {
            $t: -50%, -50%;
            $r: -180;
        }
        @else {
            $t: 50%, 50%;
            $r: 180;
        }

        65% {
            transform: translate($t) scale(0.2) rotate($r * 1deg);
            background-color: lighten($loaderColor, 20%);
        }

        70%, 100% {
            transform: translate(0, 0) scale(1) rotate($r + $r * 1deg);
            background-color: darken($loaderColor, 20%);
        }
    }

    @mixin spin($r) {
        20% {
            transform: rotate(-30deg) scale(1);
        }
        50% {
            transform: rotate($r * 1deg / 2) scale(4);
            background-color: lighten($loaderColor, 40%);
        }
        80% {
            transform: rotate($r * 1deg) scale(0.8);
        }
        90%, 100% {
            transform: rotate($r * 1deg) scale(1);
            background-color: $loaderColor;
        }
    }

    .preloader {
        position: fixed;
        top: -50px;
        left: -50px;
        right: -50px;
        bottom: -50px;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bodyColor;
        backdrop-filter: blur(7px);
        z-index: 9999;

    }

    .loader {
        position: relative;
        background-color: $loaderColor;
        width: 12px;
        height: 12px;
        border-radius: 3px;
        animation: $loaderAnim;
        @include anim {
            @include spin(720);
        }

        &:before, &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: darken($loaderColor, 20%);
            border-radius: 3px;
        }

        &:before {
            right: calc(100% + 2px);
            animation: $pseudoAnim;
            @include anim {
            @include jump(left);
            }
        }

        &:after {
            left: calc(100% + 2px);
            animation: $pseudoAnim;
            @include anim {
            @include jump(right);
            }
        }
        }
</style>