<template>
    <div class="slideup-sub-detail">
        <div class="window">
            <div class="close" @click="close_popup"><img src='../assets/img/icons/close.svg'></div>
            <div class="title" v-if="sub_load[0].category_type == 'trainer'">Тренировка с тренером</div>
            <div class="title" v-if="sub_load[0].category_type == 'office'">Аренда студии</div>
            <div class="content">
                <div class="description">Услуга тренировка с тренером - это полноценное занятие с персональным тренером в студии без лишних глаз в комфортной обстановке.</div>
                <div class="product-list" v-for="product_item in sub_load" :key="product_item.id">
                    <div class="product-item" 
                         :class="product_item_selected_id == product_item.id ? 'active': ''"
                         @click="product_select(product_item)">
                        <div class="item-info">
                            <div class="radio" :class="product_item_selected_id == product_item.id ? 'active': ''"></div>
                            <div class="name">{{ product_item.title }}</div>
                            <div class="price">{{ product_item.price }} ₽</div>
                        </div>
                        <div class="item-description">
                            <div class="description"><span>{{ product_item.description }}</span></div>
                        </div>
                    </div>
                </div>
                <div class="promocode-content">
                    <div class="promocode-row">
                        <input type="text" v-model="model_promocode" placeholder="Есть промокод">
                        <a href="#" class="btn btn-medium bg-yellow" 
                                    :class="model_promocode ? '' : 'disabled'"
                                    @click="model_promocode_check">Применить</a>
                    </div>
                    <div class="promocode-message">{{ promocode_message }}</div>
                    <div class="promocode-result" v-if="promocode_status">
                        <div class="price-new">{{ promocode_price }} ₽</div>
                        <div class="price-old"><s>{{ product_item_price }} ₽</s></div>
                    </div>

                </div>
                <div class="btn btn-large bg-yellow" style="margin-bottom: 35px;" @click="go_shop_sub_payment(product_item_selected_id)">Перейти к оплате</div>
            </div>
        </div>
        <div class="slideup-sub-detail-bg animated fadeIn" @click="close_popup"></div>
    </div>
</template>

<script>
import { useStore } from "vuex"
import { computed, ref } from "vue"

export default {
    name: 'SubDetail',
    setup() {
        const store = useStore();
        const product_item_selected_id = ref(null)
        const product_item_price = ref(null)
        const product_item_description = ref(null)
        const close_popup = () => {
            // Анимания исчезания фона
            document.querySelector('.slideup-sub-detail-bg').classList.remove('fadeIn')
            document.querySelector('.slideup-sub-detail-bg').classList.add('fadeOut')

            setTimeout(() => {
                document.querySelector('.slideup-sub-detail-bg').style.display = 'none'
                store.state.popup_sub_detail.open = false
            }, 100)
        }

        /* PROMOCODE */
        const model_promocode = ref(null)
        const promocode_status = ref(null)
        const promocode_price = ref(null)
        const promocode_message = ref(null)
        const model_promocode_check = async () => {
            if (model_promocode.value) {
                let { data } = await store.dispatch('PROMOCODE_CHECK', 
                                         {'product_id' : product_item_selected_id.value, 'promocode': model_promocode.value})

                promocode_price.value = data['data']['total_amount']
                if (data['data']['total_discount'] > 0) {
                    promocode_status.value = true
                    promocode_message.value = null
                } else {
                    promocode_status.value = null
                    promocode_message.value = 'Промокод не действителен или уже использован'
                }
            } else {
                promocode_message.value = null
                promocode_status.value = null
            }
        }



        const sub_load = computed(() => {
            let category = store.state.popup_sub_detail.category;
            let shop = store.state.shop

            //ackage = 
            if (category) {
                let products = ref(shop['package'][category].concat(shop['once'][category]))
                let product_list = products.value.sort((a, b) => {
                    var x = parseInt(a['price']);
                    var y = parseInt(b['price']);
                    return ((x < y) ? -1 : ((x > y) ? 1 : 0))
                })

                if (product_list) {
                    if (!product_item_selected_id.value) {
                        product_select(product_list[0])
                    }
                }

                return product_list
            }
        })

        const product_select = (product_item) => {
            product_item_selected_id.value = product_item['id']
            product_item_description.value = product_item['description']
            product_item_price.value = product_item['price']
        }

        const go_shop_sub_payment = (product_id) => {
            store.dispatch('SHOP_SUB_PAYMENT', {'product_id' : product_id, 'promocode': model_promocode.value})
        }

        setTimeout(() => {
            // Анимания появления фона
            document.querySelector('.slideup-sub-detail-bg').style.display = 'block'
        }, 250)
        return { 
            close_popup,
            sub_load,
            product_select,
            product_item_selected_id,
            product_item_description,
            go_shop_sub_payment,

            model_promocode,
            model_promocode_check,

            product_item_price,
            promocode_price,
            promocode_status,
            promocode_message
        }
    }
}
</script>

<style scoped lang="scss">

    .promocode-result {
        width: 190px;
        height: 50px;
        border: 2px #FFDC49 dashed;
        margin: 20px auto 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 12px;

        > .price-new {
            font-size: 24px;
            font-weight: bold;
            margin-right: 10px;
        }

        > .price-old {
            font-size: 16px;
            font-weight: normal;
            color: #666;
        }
    }

    .promocode-message {
        font-size: 13px;
        font-weight: 400;
        margin: 10px 20px;
        text-align: center;
    }

    .promocode-content {
        margin: 5px 20px 30px;

        > .promocode-row {
            width: auto;
            display: flex;
            flex-direction: row;
            position: relative;
            border: 1px #eee solid;
            border-radius: 50px;

            > input[type=text] {
                flex: 1;
                margin-right: 10px;
                border: 0px;
                border-radius: 50px;
                box-sizing: border-box;
                padding: 0px 20px;
                height: 44px;
                box-shadow: 0px 2px 8px #eee inset;
                font-size: 14px;
                font-weight: normal;
            }

            > .btn-medium {
                width: 110px;
                height: 44px;
                padding: 0px auto;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
            }
        }
    }

    .slideup-sub-detail {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 9990;
        padding-top: 100px;

        > .slideup-sub-detail-bg {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 0;
            display: none;
        }

        > .window {
            width: 100%;
            height: 90%;
            background-color: #fff;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
            position: absolute;
            bottom: 0px;
            z-index: 1;
            overflow: hidden;

            @media (min-width: 767px) {
                width: 420px;
                left: calc(50% - 210px);
            }

            /*&::after {
                content: '';
                width: 100%;
                height: 20px;
                background-color: #fff;
                position: absolute;
                top: 0px;
                z-index: 1;
            }

            &:before {
                content: '';
                width: 70px;
                height: 5px;
                position: absolute;
                top: 10px;
                left: calc(50% - 35px);
                background-color: #ddd;
                border-radius: 50px;
                z-index: 2;
                
            }*/

            > .close {
                position: absolute;
                right: 15px;
                top: 11px;
                width: 38px;
                height: 38px;
                background-color: #f1f1f1;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                > img {
                    width: 14px;
                }
            }

            > .title {
                padding: 15px 20px 15px;
                font-size: 21px;
                font-weight: bold;
            }

            > .content {
                width: 100%;
                height: calc(100% - 61px);
                overflow-y: scroll;

                > .description {
                    margin: 0px 20px 25px;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 165%;
                    color: #444;
                    margin-bottom: 28px;
                    white-space: pre-wrap;
                }

                > .product-list {
                    width: auto;
                    margin: 0px 15px 10px;
                    display: flex;
                    flex-direction: column;

                    > .product-item {
                        width: 100%;
                        min-height: 70px;
                        box-sizing: border-box;
                        background-color: #fafafa;
                        border: 1px #eee solid;
                        border-radius: 12px;
                        margin-bottom: 18px;
                        padding: 10px 10px;
                        display: flex;
                        flex-direction: column;
                        transition: all 0.2s ease;

                        &.active {
                            border-color: #FFDC49;
                            background-color: #FFDC49;

                             > .item-description {
                                > .description {
                                    color: #444;
                                }
                            }
                        }

                        > .item-info {
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            > .radio {
                                width: 16px;
                                height: 16px;
                                border: 1px #ddd solid;
                                border-radius: 50px;
                                margin-right: 10px;
                                position: relative;
                                background-color: #fff;

                                &.active {
                                    border-color: #FFDC49;
                                    transition: all 0.2s ease;

                                    &:before {
                                        content: '';
                                        border-radius: 50px;
                                        position: absolute;
                                        top: 4px;
                                        left: 4px;
                                        right: 4px;
                                        bottom: 4px;
                                        background-color: #FFDC49;
                                    }
                                }
                            }

                            > .name {
                                flex: 1;
                                font-size: 14px;
                                font-weight: 500;
                                color: #000;
                            }

                            > .price {
                                flex: none;
                                width: 78px;
                                font-size: 18px;
                                font-weight: bold;
                                text-align: right;

                                > span {
                                    font-weight: 400;
                                    font-size: 14px;
                                }
                            }

                        }

                        > .item-description {
                            flex: 1;

                            > .description {
                                font-size: 11px;
                                font-weight: 400;
                                color: #999;
                                margin-top: 7px;
                                padding-top: 7px;
                                margin-left: 28px;
                            }
                        }

                    }
                }
            }
        }
    }
</style>