<template>
    <div class="slideup-sub-detail" v-if="trainer_detail">
        <div class="window">
            <div class="close" @click="close_popup"><img src='../assets/img/icons/close.svg'></div>
            <div class="title">{{ trainer_detail.name }}</div>
            <div class="content">
                <div class="cover"><img :src="(trainer_detail.photo ? trainer_detail.photo : default_cover)"></div>
                <div class="block-description">
                    <div class="description" v-html="trainer_detail.description"></div>
                </div>
            </div>
        </div>
        <div class="slideup-sub-detail-bg animated fadeIn" @click="close_popup"></div>
    </div>
</template>

<script>
import { useStore } from "vuex"
import { computed, onMounted, ref } from "vue"
import DefaultCover from '../assets/img/icons/fit-icon-black.svg'

export default {
    name: 'TrainerDetailSlide',
    setup() {
        const store = useStore();
        const default_cover = DefaultCover
        const close_popup = () => {
            // Анимания исчезания фона
            document.querySelector('.slideup-sub-detail-bg').classList.remove('fadeIn')
            document.querySelector('.slideup-sub-detail-bg').classList.add('fadeOut')

            setTimeout(() => {
                document.querySelector('.slideup-sub-detail-bg').style.display = 'none'
                store.commit("popup_trainer_detail_status", false)
                store.state.trainer_detail_object = null
            }, 100)
        }

        const trainer_detail = computed(() => {
            if (store.state.trainer_detail_object) {
                return store.state.trainer_detail_object
            }
        })

        setTimeout(() => {
            // Анимания появления фона
            if (document.querySelector('.slideup-sub-detail-bg')) {
                document.querySelector('.slideup-sub-detail-bg').style.display = 'block'
            }
        }, 400)

        onMounted(async () => {
            await store.dispatch('LOAD_TRAINER_DETAIL')
        })

        return { 
            close_popup,
            trainer_detail,
            default_cover
        }
    }
}
</script>

<style scoped lang="scss">

    .cover {
        width: 100%;
        background-image: url('../uploads/cover_3.jpg'); 
        background-size: 100%;

        > img {
            width: 100%;
        }
    }

    .slideup-sub-detail {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 9990;
        padding-top: 100px;

        > .slideup-sub-detail-bg {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 0;
            display: none;
        }

        > .window {
            width: 100%;
            height: 90%;
            background-color: #fff;
            border-top-left-radius: 26px;
            border-top-right-radius: 26px;
            position: absolute;
            bottom: 0px;
            z-index: 1;
            overflow: hidden;

            @media (min-width: 767px) {
                width: 420px;
                left: calc(50% - 210px);
            }

            /*&::after {
                content: '';
                width: 100%;
                height: 20px;
                background-color: #fff;
                position: absolute;
                top: 0px;
                z-index: 1;
            }

            &:before {
                content: '';
                width: 70px;
                height: 5px;
                position: absolute;
                top: 10px;
                left: calc(50% - 35px);
                background-color: #ddd;
                border-radius: 50px;
                z-index: 2;
                
            }*/

            > .close {
                position: absolute;
                right: 15px;
                top: 11px;
                width: 38px;
                height: 38px;
                background-color: #f1f1f1;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                > img {
                    width: 14px;
                }
            }

            > .title {
                padding: 15px 20px 15px;
                font-size: 21px;
                font-weight: bold;
            }

            > .content {
                width: 100%;
                height: calc(100% - 61px);
                overflow-y: scroll;

                > .block-description {
                    width: 100%;
                    background-color: #fff;
                    border-top-left-radius: 21px;
                    border-top-right-radius: 21px;
                    padding: 25px 0px;
                    position: relative;
                    top: -40px;

                    > .description {
                        margin: 0px 20px 25px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 170%;
                        color: #444;
                        margin-bottom: 28px;
                        white-space: pre-wrap;
                    }
                }

                > .product-list {
                    width: auto;
                    margin: 0px 15px 10px;
                    display: flex;
                    flex-direction: column;

                    > .product-item {
                        width: 100%;
                        min-height: 70px;
                        box-sizing: border-box;
                        background-color: #fafafa;
                        border: 1px #eee solid;
                        border-radius: 12px;
                        margin-bottom: 18px;
                        padding: 10px 10px;
                        display: flex;
                        flex-direction: column;
                        transition: all 0.2s ease;

                        &.active {
                            border-color: #FFDC49;
                            background-color: #FFDC49;

                             > .item-description {
                                > .description {
                                    color: #444;
                                }
                            }
                        }

                        > .item-info {
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            > .radio {
                                width: 16px;
                                height: 16px;
                                border: 1px #ddd solid;
                                border-radius: 50px;
                                margin-right: 10px;
                                position: relative;
                                background-color: #fff;

                                &.active {
                                    border-color: #FFDC49;
                                    transition: all 0.2s ease;

                                    &:before {
                                        content: '';
                                        border-radius: 50px;
                                        position: absolute;
                                        top: 4px;
                                        left: 4px;
                                        right: 4px;
                                        bottom: 4px;
                                        background-color: #FFDC49;
                                    }
                                }
                            }

                            > .name {
                                flex: 1;
                                font-size: 14px;
                                font-weight: 500;
                                color: #000;
                            }

                            > .price {
                                flex: none;
                                width: 78px;
                                font-size: 18px;
                                font-weight: bold;
                                text-align: right;

                                > span {
                                    font-weight: 400;
                                    font-size: 14px;
                                }
                            }

                        }

                        > .item-description {
                            flex: 1;

                            > .description {
                                font-size: 11px;
                                font-weight: 400;
                                color: #999;
                                margin-top: 7px;
                                padding-top: 7px;
                                margin-left: 28px;
                            }
                        }

                    }
                }
            }
        }
    }
</style>