<template>
    <div class="popup-trainer-detail" v-if="trainer_detail">
        <div class="cover" :style="{ 'background-image': 'url(' + (trainer_detail.photo ? trainer_detail.photo : default_cover) + ')' }"></div>
        <div class="content">
            <div class="profile">
                <div class="info">
                    <div class="name"><img src='../assets/img/icons/dumbbell.svg'>{{ trainer_detail.name }}</div>
                </div>
            </div>

            <div class="description" v-html="trainer_detail.description"></div>
            <div class="btn-group">
                <div href="javascript://" class="btn btn-medium bg-yellow margin-auto" @click="close_popup">
                    Закрыть окно
                </div>
            </div>	
        </div>
    </div>
</template>

<script>
import { useStore } from "vuex"
import { computed, onMounted } from "vue"
import DefaultCover from '../assets/img/icons/fit-icon-black.svg'

export default {
    name: 'TrainerDetail',
    setup() {
        const store = useStore();
        const default_cover = DefaultCover
        const close_popup = () => { 
            store.commit("popup_trainer_detail_status", false)
            // Обнуляем объект с данными после закрытия
            store.state.trainer_detail_object = null
        }

        const trainer_detail = computed(() => {
            if (store.state.trainer_detail_object) {
                return store.state.trainer_detail_object
            }
        })

        onMounted(async () => {
            await store.dispatch('LOAD_TRAINER_DETAIL')
        })

        return { 
            close_popup,
            trainer_detail,
            default_cover
        }
    }
}
</script>

<style scoped>
    .cover {
        background-image: url('../uploads/cover_3.jpg'); 
        background-size: 100%;
    }
</style>