<template>
    <div class="popup-verified">
        <div class="close" @click="close_popup"><img src='../assets/img/icons/close.svg'></div>
        <div class="window">
            <!--<div class="cover"><img src="../assets/img/icons/personal-training.svg"></div>-->
            <div class="title" style="margin-top: 50px;">Аренда студии</div>
            <div class="description">Аренда студии предоставляет возможность заниматься как самостоятельно, так и с детьми.<br><br>Услуга "Аренда студии" предоставляется <u>после подтверждения личности</u>, это требуется для обеспечения безопасности, а так же для комфортного пользования услугами FITROOM.<br><br><u>Срок рассмотрения заявки до одного рабочего дня.</u></div>
        
            <div class="form-row" v-if="auth_status">
                <form class="form-default" autocomplete="off">
                    <input type="text" :class="validate.name ? 'required' : ''" v-model.trim='form.name' placeholder="Имя">
                    <input type="text" :class="validate.last_name ? 'required' : ''" v-model.trim='form.last_name' placeholder="Фамилия">
                    <input type="phone" :class="validate.phone ? 'required' : ''" v-model.trim='form.phone' v-mask="'+7(###)-###-##-##'" placeholder="Номер телефона">

                    <input type="text" :class="validate.passport_number ? 'required' : ''" v-model.trim='form.passport_number' v-mask="'## ## ######'" placeholder="Серия / Номер">
                    <input type="text" :class="validate.passport_date ? 'required' : ''" v-model.trim='form.passport_date' v-mask="'##.##.####'" placeholder="Дата выдачи">
                    <textarea :class="validate.passport_place ? 'required' : ''" v-model.trim='form.passport_place' placeholder="Кем выдан"></textarea>


                    <div class="title-upload">Прописка и лицевое фото паспорта</div>
                    <div id="dZUpload" class="dropzone" :class="validate.images ? 'required' : ''">
                        <div class="dz-default dz-message">Нажмите для загрузки фотографии паспорта</div>
                    </div>

                    <span class='error_message'></span>
                    <span class='success_message'></span>

                    <div class="form-description">
                        После прохождения верефикация в разделе "Рассписание" иконка Аренды станет доступной для выбора.
                    </div>

                    <div class="send-polytics">
                        <span>Нажимая кнопку "Отправить заявку" вы соглашаетесь с</span>
                        <a href="#polytics" @click="popup_politics_verified_open"><u>условиями предоставления услуг</u></a>
                    </div>

                    <a href="javascript://" 
                           class="btn btn-large bg-yellow" 
                           style="margin-top: 15px; margin-bottom: 100px;" 
                           @click="send_verified">Отправить заявку</a>
                </form>
            </div>

            <div class="btn btn-large bg-yellow margin-top-40" 
                 style="max-width: 250px;" 
                 v-if="!auth_status"
                 @click="go_auth()">Сначала войдите в профиль</div>

            <div class="btn btn-empty text-underline" 
                 style="max-width: 250px; opacity: 0.4; margin-top: 15px;" 
                 v-if="!auth_status"
                 @click="go_reg()">Зарегистрироваться</div>

        </div>
    </div>
</template>

<script>

import { useRouter } from 'vue-router'
import { useStore } from "vuex"
import { computed, onMounted, ref, reactive, toRaw } from "vue"
import { apiList } from '../api/api'
import axios from "axios"
Dropzone.autoDiscover = false;

export default {
    name: 'Verified',
    setup() {
        const router = useRouter();
        const store = useStore();
        const close_popup = () => { 
            store.commit("popup_verified_set", {'open': false, 'office_id': null})
        }

        const popup_politics_verified_open = () => store.state.popup_politics_verified_status = true;
        const uploads = ref([])
        const isBtnDisabled = ref(false)
        const error_message = ref(null)
        const success_message = ref(null)
        
        const auth_status = computed(() => store.state.auth_status)

		const validate = reactive({
			'name': null,
			'last_name': null,
            'phone': null,
            'passport_number': null,
            'passport_date': null,
            'passport_place': null,
            'images': null
		})

		const form = reactive({
			'name': null,
			'last_name': null,
            'phone': null,
            'passport_number': null,
            'passport_date': null,
            'passport_place': null,
            'images': null
		})

		let config = {
			headers: {
				"Content-Type": "application/json",
			}
        }
        
        const send_verified = async (e) => {
			e.preventDefault();
            let data = toRaw(form)
            data['images'] = uploads.value

			let validated = 0
			error_message.value = null
			
			if (data.phone)
				data.phone = data.phone.replace(/[\W]+/g, '')

			for(let item in data) {
				if(!data[item]) {
					validate[item] = true
					validated++
				} else {
					validate[item] = null
					
					if (item == 'phone') {
						if (data[item].length < 11) {
							validate[item] = true
							validated++
						}
                    }
                    
                    if (item == 'images') {
						if (Object.keys(uploads.value).length < 1) {
							validate[item] = true
							validated++
						}
					}

				}
            }
            
			// Если нету ошибок валидации
			if (!validated) {
				isBtnDisabled.value = true
				store.commit('lockUi')
				let url = apiList.url + apiList.api.send_verified
				let confirm = await axios.post(url, data, config)
					.then(async (response) => {
						store.commit('unlockUi')
						if (!response.data.result)
							error_message.value = response.data.error_message

						if (response.data.result) {
                            alert('Заявка успешно отправлена, после подтверждения вам станут доступны - аренда студии, а так же пакеты на аренду')
							close_popup()
						}

						
					})
					.catch((error) => {
						let response = error.response
					})
				
			}
        }
        
        const go_auth = () => {
            close_popup()
            router.push({'name': 'Login'})
        }

        const go_reg = () => {
            close_popup()
            router.push({'name': 'Registration'})
        }

        
        onMounted(() => {
            
            if (auth_status.value) {
                if (document.querySelector('.dz-hidden-input'))
                    document.querySelector('.dz-hidden-input').remove()

                let url = apiList.url + apiList.api.image_upload
                const dz = new Dropzone('#dZUpload', {
                    url: url,
                    addRemoveLinks: true,
                    thumbnailWidth: 90,
                    acceptedFiles: ".jpeg,.jpg,.png",
                    thumbnailHeight: 90,
                    dictRemoveFile: 'Удалить',
                    success: function (file, response) {
                        file.previewElement.classList.add("dz-success");
                        if (response.result)
                            uploads.value.push(response.filename)
                    },
                    error: function (file, response) {
                        file.previewElement.classList.add("dz-error");
                    }
                });
            }
        })

        return { 
            close_popup,
            isBtnDisabled,
            form,
            validate,
            send_verified,
            auth_status,
            go_auth,
            go_reg,

            popup_politics_verified_open,
            uploads
        }
    }
}
</script>

<style scoped lang="scss">

    .send-polytics {
        width: auto;
        font-size: 12px;
        color: #999;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0px 40px;
        text-align: center;

        > a {
            display: inline;
            color: #777;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .dropzone {
        min-height: 40px;
        margin: 5px 40px 15px;
        border-radius: 12px;
        border: 1px #ddd solid;
        padding: 10px;
        position: relative;

        &.required {
			border-color: #fa4b4b;
		}
    }

    .dz-message {
        font-size: 14px;
        font-weight: lighter;
        color: #444;
    }

    .dz-image {
        width: 90px !important;
        height: 90px !important;
    }

    .dz-remove {
        font-size: 13px !important;
        font-weight: normal;
        margin-top: 9px;
        text-decoration: none;
        color: rgba(250, 75, 75, 0.6);
    }

    .title-upload {
        font-size: 13px;
        margin-left: 50px;
        margin-top: 10px;
        color: #444;
    }

    .popup-verified {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #f9f9f9;
        z-indeX: 9991;
        

        > .close {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 50px;
            height: 50px;
            background-color: #f1f1f1;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            > img {
                width: 16px;
            }
        }

        > .window {
            width: 100%;
            height: 100vh;
            overflow-y: scroll;

            @media (min-width: 767px) {
                width: 470px;
                margin: auto;
                height: 100vh;
            }

            > .cover {
                width: 70%;
                margin: 40px auto 25px;
                
                > img {
                    width: 100%;
                }
            }

            > .title {
                width: 100%;
                font-size: 27px;
                font-weight: bold;
                color: #000;
                text-align: center;
                margin-bottom: 10px;
            }

            > .description {
                width: 80%;
                font-size: 14px;
                font-weight: 400;
                color: #444;
                margin: 0px auto 15px;
                line-height: 161%;
                box-sizing: border-box;
                text-align: center;
            }

            .form-description {
                width: 80%;
                font-size: 12px;
                font-weight: 400;
                color: #444;
                margin: 0px auto 15px;
                line-height: 161%;
                box-sizing: border-box;
                text-align: center;
            }

            .form-row {
                padding-bottom: 50px;
            }
        }
    }
</style>