<template>
	<div class="auth-menu animated fadeInUp" v-if="menu_enabled">
		<router-link :to="{'name': 'Main'}"><div class="menu-item"><div class="icon"><img src="./assets/img/icons/home.svg"></div><div class="name">Главная</div></div></router-link>
		<router-link :to="{'name': 'Subscription'}"><div class="menu-item"><div class="icon"><img src="./assets/img/icons/subscription.svg"></div><div class="name">Пакеты</div></div></router-link>
		<router-link :to="{'name': 'Timetable'}"><div class="menu-item"><div class="icon"><img src="./assets/img/icons/calendar.svg"></div><div class="name">Расписание</div></div></router-link>
		<router-link :to="{'name': 'Workout'}"><div class="menu-item"><div class="icon"><img src="./assets/img/icons/dumbbell.svg"></div><div class="name">Тренировки</div></div></router-link>
		<router-link :to="{'name': 'Profile'}"><div class="menu-item"><div class="icon profile"><img src="./assets/img/icons/fit-icon.svg"></div><div class="name">Профиль</div></div></router-link>
	</div>

	<div class="wrapper animated fadeIn" :class="is_auth ? 'auth-padding' : ''">
		<div class="header">
			<div class="logo"><a href="#index"><img src="./assets/img/icons/fit-icon.svg"></a></div>
			<div class="office-item" @click="popup_offices_open" v-if="offices_catalog">
				<div class="item-header">
					<div class="title">Выбор студии</div>
					<div class="city">{{ office_selected_object ? office_selected_object.city : '' }}</div>
				</div>
				<div class="office"><span>{{ office_selected_object ? office_selected_object.address : 'Выберите свою студию' }}</span><img src="./assets/img/icons/arrow-down.svg"></div>
			</div>
			<div class="user">
				<!--<div class="notify" v-if="is_auth"><img src="./assets/img/icons/alarm.svg"></div>-->
				<div class="profile" v-if="!is_auth">
					<router-link :to="{'name': 'Login'}">
						<img src="./assets/img/icons/profile.svg">
					</router-link>
				</div>
			</div>
		</div>

		<router-view v-slot="{ Component }">
			<transition name="slide-fade" mode="out-in">
				<component :is="Component" :key="$route.path"></component>
			</transition>
		</router-view>

		<!-- Приветственное окно -->
		<!--<div class="component-hello animated fadeIn" v-if="first_visit_confirm_status">
			<div class="logo"><img src="./assets/img/icons/fit-logo-black.svg"></div>
			<div class="message">Здесь твой личный зал и тренер</div>
			<div class="bg-image"><img src="./assets/img/icons/atlet-gold.svg"></div>
			<div @click="first_visit_confirm" class="btn btn-large border-black" style="max-width: 210px;">Начать использовать</div>
		</div>-->
	</div>

	<transition name="fade-default">
		<preloader v-if="locking_pool"></preloader>
	</transition>

	<transition-group name="fade">
  		<offices v-if="popup_offices_status"></offices>
  		<verified v-if="popup_verified_status"></verified>
	</transition-group>
	
	<transition-group name="fade-up">
		<sub-detail v-if="popup_sub_detail_status"></sub-detail>
		<politics v-if="popup_politics_status"></politics>
		<politics-verified v-if="popup_politics_verified_status"></politics-verified>
		<offer v-if="popup_offer_status"></offer>
	</transition-group>
</template>

<script>
import './assets/css/animate.css'
import './assets/css/sass/main.scss?100'
import Offices from './components/Offices.vue'
import SubDetail from './components/SubDetail.vue'
import Verified from './components/Verified.vue'
import Preloader from './components/Preloader.vue'
import Politics from './components/Politics.vue'
import PoliticsVerified from './components/PoliticsVerified.vue'
import Offer from './components/Offer.vue'

import { useStore } from "vuex"
import { computed, onMounted, ref, onBeforeMount, onUpdated, watchEffect } from "vue"
import Cookies from 'js-cookie'

export default {
  name: 'App',
  setup() {
		const store = useStore();
		const menu_enabled = computed(() => store.state.menu_enabled);
		const is_auth = computed(() => store.state.auth_status)
		const popup_politics_status = computed(() => store.state.popup_politics_status)
		const popup_politics_verified_status = computed(() => store.state.popup_politics_verified_status)
		/* Окно выбора студии */
		const popup_offices_status = computed(() => store.state.popup_offices_status)
		const popup_offices_open = () => store.commit('popup_offices_status', true);
		const popup_sub_detail_status = computed(() => store.state.popup_sub_detail.open)
		const offices_catalog = computed(() => store.state.offices.catalog)

		const popup_offer_status = computed(() => store.state.popup_offer_status)
		const popup_offer_open = () => store.commit('popup_offer_status', true);


		/* Окно о тренере */
		const popup_trainer_detail_status = computed(() => store.state.popup_trainer_detail_status);

		/* Окно верификации */
		const popup_verified_status = computed(() => store.state.popup_verified.open)

		/* Проверяем первый визит */
		const first_visit_get = computed(() => {
			let fv = Cookies.get('firstVisitConfirm') ? false : true;
			store.commit('first_visit_confirm_set', fv);
			return fv;
		});
		const first_visit_confirm_status = ref(first_visit_get.value);
		const first_visit_confirm = () => { 
			first_visit_confirm_status.value = false;
			Cookies.set('firstVisitConfirm', true, {'expires': 365});
			/* Устанавливаем статус о неиспользованной первой тренеровке */
			Cookies.set('firstTrainingUses', false, {'expires': 365});
		}

		const office_selected_object = computed(() => {
			if (Object.keys(store.state.offices).length) {
				const params = new URLSearchParams(window.location.search)
				for (const param of params) {
					if (param[0] == 'club') {
						let off_list = store.state.offices
						for (let item_office of off_list['catalog']) {
							if (item_office['id'] == param[1]) {
								store.state.office_selected_id = param[1]
								Cookies.set('office_selected_id', param[1]);

								store.state.office_selected_object = {
									id: item_office['id'],
									address: item_office['name'],
									city_code: null,
									city: null
								}
							}
						}
					}
				}

				let cookie_office_id = Cookies.get('office_selected_id');
				let office_selected_id = store.state.office_selected_id;

				if (cookie_office_id) {
					for (let item_offices of offices_catalog.value) {
						if (item_offices.id == cookie_office_id) {
							store.state.office_selected_object = item_offices
							store.state.office_selected_id = item_offices.id
							return item_offices;
						}
					}
				} else {
					return store.state.office_selected_object;
				}

				if (params[0] == 'club') {
					window.location = '/'
				}
			}
		});

		watchEffect(() => {
			if (store.state.office_selected_id) {
				console.log(office_selected_object.value)
			}
		})

		const locking_pool = computed(() => store.state.locking_pool)

		onBeforeMount(async () => {
			await store.dispatch('APP_INIT')
		});

		return {
			popup_offices_status,
			popup_offices_open,
			popup_trainer_detail_status,
			popup_sub_detail_status,
			popup_verified_status,
			first_visit_confirm_status,
			first_visit_confirm,
			office_selected_object,
			menu_enabled,
			offices_catalog,
			is_auth,
			locking_pool,
			popup_politics_status,

			popup_politics_verified_status,

			popup_offer_status,
			popup_offer_open
		}
  },

  components: {
	Offices,
	SubDetail,
	Verified,
	Preloader,
	Politics,
	PoliticsVerified,
	Offer
  }
}
</script>

<style scoped lang="scss">
	/* FADE DEFAULT */
	.fade-default-enter-active {
		transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-default-leave-active {
		transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-default-enter-from,
	.fade-default-leave-to {
		opacity: 0;
	}

	/* FADE ANIMATEION */
	.fade-enter-active {
		transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-leave-active {
		transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
        transform: translateY(-20px);
	}

	/* FADE-UP ANIMATEION */
	.fade-up-enter-active {
		transition: all 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-up-leave-active {
		transition: all 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	}

	.fade-up-enter-from,
	.fade-up-leave-to {
		opacity: 1;
        transform: translateY(500px);
	}
	
	/* SLIDE FADE ANIMATEION */
    .slide-fade-enter-active {
        transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-leave-active {
        transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter-from, .slide-fade-leave-to {
        transform: translateY(10px);
        opacity: 0;
    }
</style>