//@import url('https://fonts.googleapis.com/css?family=PT+Sans:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
//@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,700');

html {
	scroll-behavior: smooth;
	
}

body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;

	a, a:hover, a:active, a:focus, button, input { 
		outline: none;
	}
}

* {
	&::-webkit-scrollbar {
		display: none;
	}
}

:root {
	font-family: 'Roboto', Arial,-apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
	line-height: 1.154;
	line-height: 1.5;
	font-weight: 400;

	background-color: #fff;

	-webkit-font-smoothing: antialiased;
  	-firefox-font-smoothing: antialiased;
  	-ms-font-smoothing: antialiased;
  	font-smoothing: antialiased;
  	user-select: none;
	-webkit-user-select: none;
	tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

header, footer, article, section, nav {
	display: block;
}



.fadeInUp {
  -webkit-animation: fadeInUp 0.2s; 
  -moz-animation:    fadeInUp 0.2s; 
  -o-animation:      fadeInUp 0.2s; 
  animation:         fadeInUp 0.2s;
}

.fadeInDown {
  -webkit-animation: fadeInDown 0.2s; 
  -moz-animation:    fadeInDown 0.2s; 
  -o-animation:      fadeInDown 0.2s; 
  animation:         fadeInDown 0.2s;
}

.fadeInLeft {
	-webkit-animation: fadeInLeft 0.3s; 
	-moz-animation:    fadeInLeft 0.3s; 
	-o-animation:      fadeInLeft 0.3s; 
	animation:         fadeInLeft 0.3s;
  }

.fadeIn {
  -webkit-animation: fadeIn 0.2s; 
  -moz-animation:    fadeIn 0.2s; 
  -o-animation:      fadeIn 0.2s; 
  animation:         fadeIn 0.2s;
}


.fadeOut {
	-webkit-animation: fadeOut 0.2s; 
	-moz-animation:    fadeOut 0.2s; 
	-o-animation:      fadeOut 0.2s; 
	animation:         fadeOut 0.2s;
  }

$f-yellow: #FFDC49;
$f-gray: #B3B3B3;
$f-gray-light: #F1F3F2;
$f-gray-dark: #9A9A9A;
$f-purple-soft: rgba(233,198,252, 0.4);

$soft-pink: #FCE1EC;
$soft-pink-04: rgba(252, 225, 236, 0.4);

$soft-purple: rgba(233,198,252, 0.4);
$soft-yellow: #FCFCDA;
$soft-yellow-04: rgba(252, 252, 218, 0.4);
$soft-blue: #DCF4FC;
$soft-blue-04: rgba(220, 244, 252, 0.4);
$soft-green: rgba(196,252,156, 0.2);
$soft-green-text: rgba(196,252,156, 1);

html, body {
	&::-webkit-scrollbar {
	   width: 0px;
	   display: auto;
	}

	&::-webkit-scrollbar-thumb {
	    border-radius: 25px;
	    background-color: #bbb;
	}

	::-webkit-scrollbar-track-piece {
		background:transparent;
	}
}

@media (min-width: 767px) {
	#app {
		display: flex;
		flex-direction: row;
	}
}

.auth-menu {
	max-width: 370px;
	width: 100%;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #f7f7f7;
	box-shadow: 0px 5px 10px #ddd;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-top: 1px #eee solid;
	padding: 8px 10px;
	margin: auto;
	z-index: 1000;

	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: space-around;

	@media (min-width: 767px) {
		width: 100px;
		height: 500px;
		margin: 80px 0px 0px;
		flex-direction: column;
		align-items: center;
		position: relative;
		border-radius: 12px;
	}
	
	> a {
		width: 60px;
		text-decoration: none;
		display: block;
		outline: none;

		@media (min-width: 767px) {
			width: 90px;
		}

		&.router-link-active {
			> .menu-item {
				background-color: $f-yellow;
				border-radius: 6px;
			}
		}

		> .menu-item {
			flex: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0px 0px;
			padding: 4px 5px;
			cursor: pointer;
			transition: all 0.3s ease;

			@media (min-width: 767px) {
				padding: 9px 7px;
			}

			> .icon {
				width: 20px;
				height: 20px;
				overflow: hidden;
				margin-bottom: 4px;

				@media (min-width: 767px) {
					width: 24px;
					height: 24px;
				}

				&.profile {
					border-radius: 50px;
				}

				> img {
					width: 100%;
					height: 100%;
				}
			}

			> .name {
				width: auto;
				font-size: 9px;
				font-weight: normal;
				color: #000;
				letter-spacing: .1px;

				@media (min-width: 767px) {
					font-size: 12px;
					margin-top: 3px;
				}
			}
		} 
	}
}

@media (min-width: 767px) {
	body {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

.wrapper {
	max-width: 670px;
	min-width: 320px;
	min-height: 50vh;
	margin: auto;
	overflow: hidden;
	padding-bottom: 35px;
	position: relative;

	&.auth-padding {
		padding-bottom: 105px;
	}

	> .header {
		width: calc(100% - 40px);
		height: 80px;
		border-bottom: 1px #ddd solid;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		padding: 0px 20px;

		> .logo {
			flex: none;
			width: 47px;
			height: 47px;
			border-radius: 12px;
			background-color: $f-yellow;
			margin-right: 20px;
			overflow: hidden;

			> a {
				width: 100%;
				height: 100%;
				text-decoration: none;
				display: block;

				> img {
					width: 100%;
					height: 100%;
				}
			}
		}

		> .office-item {
			flex: none;
			width: auto;
			max-width: 185px;
			font-size: 11px;
			color: $f-gray;
			cursor: pointer;

			> .item-header {
				width: auto;
				display: flex;
				flex-direction: row;
				align-items: center;
				
				> .title {
					color: $f-gray;
					font-size: 10px;
					font-weight: normal;
					color: #000;
					overflow: hidden;
					clear: both;
					padding: 2px 6px;
					background-color: #f7f7f7;
					border-radius: 6px;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
					margin-right: 7px;
				}

				> .city {
					color: $f-gray;
					font-size: 10px;
					overflow: hidden;
					clear: both;
				}
			}

			> .office {
				color: #000;
				font-size: 12px;
				padding: 5px 7px 5px;
				background-color: #f7f7f7;
				border-radius: 6px;
				border-top-left-radius: 0px;
				overflow: hidden;
				clear: both;

				display: flex;
				flex-direction: row;
				align-items: center;

				> span {
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}

				> img {
					width: 8px;
					height: 8px;
					margin-left: 9px;
				}
			}
		}

		> .user {
			flex: 1;
			height: 40px;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			padding-top: 8px;
			opacity: 0.8;

			> .notify {
				flex: none;
				width: 21px;
				transition: all 0.1s ease;

				&:active {
					transform: scale(.95)
				}
				
				> img {
					width: 100%;
				}
			}

			> .profile {
				flex: none;
				width: 21px;
				transition: all 0.1s ease;

				&:active {
					transform: scale(.95)
				}
	
				> img {
					width: 100%;
				}
			}
		}
	}

	@media (min-width: 767px) {
		width: 767px;
		max-width: 767px;
		min-height: 50vh;

		border: 1px $f-yellow solid;
		border-radius: 36px;

		margin: 70px auto;

		&.auth-padding {
			padding-bottom: 30px;
			margin: 50px 20px 50px;
		}

		
		> .header {
			height: 100px;

			> .user {
				height: 50px;
	
				> .profile {
					width: 27px;
					height: 27px;
				}
			}

			> .logo {
				width: 60px;
				height: 60px;
			}

			> .office-item {
				max-width: 100%;

				> .item-header {
					> .title {
						font-size: 13px;
					}
				}

				> .office {
					> span {
						font-size: 14px;
						font-weight: medium;
					}
				}
			}
		}
	}

	> .component-hello {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background-color: $f-yellow;
		z-index: 9999;

		> .logo {
			width: 200px;
			overflow: hidden;
			margin: 120px auto 0px;

			> img {
				width: 100%;
			}
		}

		> .message {
			width: auto;
			font-size: 16px;
			font-weight: 600;
			margin: 0px 0px 20px;
			text-align: center;
		}

		> .bg-image {
			flex: none;
			width: 260px;
			overflow: hidden;
			margin: 60px 0 50px;
			margin-left: calc(50% - 160px);


			> img {
				width: 100%;
			}
		}
	}

	> .component-profile {
		width: 100%;
		padding: 0px 0px 25px;

		> .cover {
			width: 100%;
			height: 180px;
			background-color: $f-purple-soft;
			z-index: 0;
			opacity: .99;
			overflow: hidden;

			> img {
				width: 100%;
			}
		}

		> .title {
			width: auto;
			font-size: 20px;
			font-weight: bold;
			color: #000;
			margin: 0px 20px 20px;
		}

		> .btn-edit {
			width: 180px;
			padding: 6px 6px;
			background-color: #f7f7f7;
			border: $f-gray-light;
			border-radius: 50px;
			color: $f-gray-dark;
			font-size: 13px;
			font-weight: 400;
			text-align: center;
			position: absolute;
			top: 258px;
			right: 20px;
			z-index: 2;

			@media (min-width: 767px) {
				top: 275px;
			}
		}

		> .person {
			width: 100%;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			position: relative;
			border-top-left-radius: 21px;
			border-top-right-radius: 21px;
			top: -20px;
			clear: both;

			> .avatar {
				width: 90px;
				height: 90px;
				border-radius: 200px;
				border: 3px $f-yellow solid;
				margin: -20px 20px 12px;
				padding: 0px;
				overflow: hidden;
				background-color: #f7f7f7;

				> span {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: bold;
					font-size: 36px;
					color: #444;

					> img {
						width: 100%;
						min-height: 100%;
					}
				}

				> img {
					width: 100%;
					min-height: 100%;
				}
			}

			> .name {
				width: auto;
				font-size: 21px;
				font-weight: bold;
				margin-left: 20px;
				z-index: 1;
			}
		}

		> .my-office {
			width: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin: -10px 20px 0px;
			padding-bottom: 5px;
			background-color: #f7f7f7;
			padding: 10px 10px 8px;
			border-radius: 9px;
			border: 1px #eee solid;
			overflow: hidden;

			> .title {
				font-size: 13px;
				font-weight: bold;
				margin-bottom: 4px;

				> a {
					color: $f-yellow;
					margin-left: 5px;
				}
			}

			> .office-selected {
				width: 100%;
				font-size: 18px;
				font-weight: lighter;
				float: left;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		> .profile-info {
			margin: 10px 20px 0px;
			> table.table-default {
				padding: 0px;
				margin: 0px;
				font-size: 12px;
				font-weight: lighter;

				> tbody {
					> tr {
						
						td {
							height: 30px;

							&:first-child {
								width: 120px;
								padding-right: 10px;
							}

							&:last-child {
								font-weight: 500;
							}
						}
					}
				}
			}
		}

		> .subscriptions {
			width: auto;
			> .title {
				width: auto;
				font-size: 18px;
				font-weight: bold;
				color: #000;
				margin: 0px 20px 20px;
				text-align: center;
			}

			> .message {
				width: auto;
				font-size: 13px;
				font-weight: lighter;
				color: #000;
				text-align: center;
			}

			> .subscription-list {
				> .subscription-card-balance {
					flex: none;
					width: 300px;
					background-color: $f-yellow;
					border-radius: 12px;
					margin: 10px auto;
					overflow: hidden;
					clear: both;
					margin-right: 15px;
					padding-bottom: 15px; 

					&.office {
						background-color: $f-purple-soft;
		
						> .logo {
							background-image: url('../../img/icons/fit-logo-purple.svg');
						}
					}
		
					> .logo {
						width: auto;
						height: 18px;
						background-image: url('../../img/icons/fit-logo-gold.svg');
						background-repeat: no-repeat;
						background-position: center left;
						background-size: 35%;
						margin-top: 12px;
						margin-left: 15px;
					}
		
					> .title {
						font-size: 18px;
						font-weight: bold;
						color: #000;
						margin-left: 15px;
					}
		
					> .balance-card {
						width: auto;
						display: flex;
						flex-direction: row;
		
						> .person {
							flex: none;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							margin: 10px 20px 0px;
		
							> .avatar {
								flex: none;
								width: 58px;
								height: 58px;
								border: 2px #fff solid;
								border-radius: 100px;
								background-color: $f-gray-light;
								overflow: hidden;
		
								> span {
									width: 100%;
									height: 100%;
									display: flex;
									justify-content: center;
									align-items: center;
									font-weight: bold;
									font-size: 21px;
									color: #000;

									> img {
										width: 100%;
										min-height: 100%;
									}
								}
		
								> img {
									width: 100%;
									min-height: 100%;
								}
							}
		
							> .name {
								font-size: 10px;
								text-align: center;
								font-weight: 400;
								margin-top: 6px;
								line-height: 131%;
							}
						}
		
						> .info {
							flex: 1;
							padding-top: 10px;
							padding-left: 20px;
		
							> .training-count {
								display: flex;
								flex-direction: row;
								align-items: center;
		
								> span {
									font-size: 13px;
									line-height: 131%;
									font-weight: normal;
								}
		
								> strong {
									font-size: 36px;
									font-weight: bold;
									margin-left: 12px;
								}
							}
		
							> .subscription-outdate {
								font-size: 12px;
								margin-top: 0px;
								display: none;
		
								> strong {
									font-size: 12px;
								}
							}
		
							> .btn {
								margin-top: 7px;
								float: left;
							}
						}
					}
				}
			}
		}

		> .my-card {
			width: 300px;
			display: flex;
			flex-direction: column;
			margin: 0px auto 0px;

			> .title {
				flex: 1;
				font-size: 16px;
				font-weight: lighter;
				color: #000;
				margin-bottom: 4px;
			}

			> .card {
				width: auto;
				height: 42px;
				background-color: #f7f7f7;
				border-radius: 6px;
				
				display: flex;
				flex-direction: row;
				align-items: center;

				padding: 0px 20px;

				> .number {
					flex: none;
					font-size: 14px;
					font-weight: bold;
					margin-right: 25px;
				}

				> .date {
					flex: none;
					font-size: 14px;
					font-weight: bold;

					margin-right: 15px;
				}

				> .type {
					flex: 1;
					display: flex;
					justify-content: flex-end;
					> img {
						width: 40px;
					}
				}
			}
		}
	}

	> .component-index {
		width: auto;

		> .title {
			font-size: 20px;
			font-weight: bold;
			color: #000;
			margin: 15px 20px 15px;
		}

		> .training-list {
			width: auto;
			margin: 0px 20px 15px;

			> .list-item {
				width: auto;
				height: 40px;
				background-color: #fafafa;
				padding: 3px 6px;
				border-radius: 9px;
				margin-bottom: 10px;

				display: flex;
				flex-direction: row;
				align-items: center;

				box-shadow: 0px 10px 25px #eee;

				> .tag {
					flex: none;
					width: 88px;
					height: 32px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					margin-right: 12px;
					border-radius: 6px;
					font-size: 12px;
					font-weight: bold;

					&.canceled { background-color: $soft-pink-04; color: hsl(337, 43%, 63%); }
					&.planned { background-color: $soft-blue; color: hsl(195, 65%, 50%); }
					&.passes { background-color: $soft-yellow-04; color: rgb(156, 156, 53);}
					&.ended {background-color: $soft-green; color: $soft-green-text; }
				}

				> .item-content {
					flex: 1;
					display: flex;
					flex-direction: column;
					overflow: hidden;

					> .date-time {
						flex: 1;
						font-size: 11px;
						font-weight: bold;
						padding-right: 5px;
					}

					> .office {
						font-size: 11px;
						font-weight: lighter;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						padding-right: 5px;
					}
				}
			}
		}

		> .stats-block-row {
			width: auto;
			margin: 0px 20px 15px;
			
			display: flex;
			flex-direction: row;

			> .row-item {
				flex: 1;
				padding: 10px;
				border-radius: 12px;
				background-color: #f9f9f9;
				margin-right: 10px;

				&:last-child {
					margin-right: 0px;
				}

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				
				> .counter {
					font-size: 32px;
					font-weight: bold;
					color: rgba(0, 0, 0, 0.7);
					text-align: center;
					line-height: 40px;
				}

				> .description {
					font-size: 11px;
					font-weight: normal;
				}
			}
		}

		> .stats-block {
			width: auto;
			margin: 0px 20px 15px;
			background-color: $f-gray-light;
			padding: 15px 10px;
			border-radius: 12px;
			
			display: flex;
			flex-direction: row;
			align-items: flex-end;

			&.soft-pink { background-color: $soft-pink; }
			&.soft-purple { background-color: $soft-purple; }
			&.soft-yellow { background-color: $soft-yellow; }
			&.soft-blue { background-color: $soft-blue; }

			> .counter {
				width: 90px;
				flex: none;
				font-size: 56px;
				font-weight: bold;
				color: rgba(0, 0, 0, 0.7);
				margin-right: 15px;
				line-height: 46px;
				text-align: center;
			}

			> .description {
				font-size: 12px;
				font-weight: normal;

				> span {
					font-weight: bold;
					font-size: 18px;
				}
			}
		}
	}

	> .component-trainings {
		width: auto;

		> .title-message {
			width: 80%;
			font-size: 20px;
			font-weight: lighter;
			color: $f-gray-dark;
			margin: 100px auto 0px;
			text-align: center;
		}

		> div {
			> .title {
				font-size: 20px;
				font-weight: bold;
				color: #000;
				margin: 15px 20px 0px;
			}

			> .training-block {
				width: auto;

				> .training-list {
					width: 100%;
					display: flex;
					overflow-y: hidden;
					overflow-x: auto;
					padding: 0px 20px;
					box-sizing: border-box;

					&::-webkit-scrollbar {
						display: none;
					}

					> .choise-row {
						flex: 1;
						display: flex;
						flex-direction: row;
						align-items: flex-start;

						> .choise-card {
							flex: none;
							border: 1px #ddd solid;
							border-radius: 12px;
							padding: 20px;
							margin: auto;
							background-color: #fff;
							margin: 10px 0px;
							margin-right: 20px;
							position: relative;
							overflow: hidden;
	
							> .choise-card-title {
								font-size: 11px;
								font-weight: 400;
								color: #000;
								padding: 4px 20px;
								margin: 0px 20px 12px;
								text-align: center;
								border: 2px rgba(255, 220, 73, 0.9) solid;
								border-radius: 12px;
							}
	
							&:last-child {
								margin-right: 20px;
							}
	
							> .card-header {
								width: 260px;
								padding-bottom: 10px;
								border-bottom: 1px #ddd solid;
								display: flex;
								flex-direction: column;
				
								> .title-training {
									font-size: 18px;
									font-weight: bold;
									color: #000;
								}
				
								> .total-office {
									font-size: 11px;
									font-weight: 400;
									color: #000;
									overflow: hidden;
									text-overflow: ellipsis;
								}
							}
				
							> .card-content {
								display: flex;
								flex-direction: row;
								padding: 15px 0px 15px;
				
								> .trainer-info {
									flex: none;
									display: flex;
									flex-direction: column;
									padding-right: 35px;
				
									> span {
										color: $f-gray-dark;
										font-size: 11px;
										font-weight: 500;
										margin-bottom: 10px;
										text-align: center;
									}
				
									> .trainer-detail {
										display: flex;
										flex-direction: column;
										justify-content: center;
										align-items: center;
				
										> .avatar {
											flex: none;
											width: 80px;
											height: 80px;
											border: 2px $f-yellow solid;
											border-radius: 100px;
											background-color: $f-gray-light;
											overflow: hidden;
				
											> span {
												width: 100%;
												height: 100%;
												display: flex;
												justify-content: center;
												align-items: center;
												font-weight: bold;
												font-size: 42px;
												color: #000;
	
												> img {
													width: 100%;
													min-height: 100%;
												}
											}
											
											> img {
												width: 100%;
												min-height: 100%;
											}
											
										}
				
										> .name {
											font-size: 12px;
											text-align: center;
											font-weight: bold;
											margin-top: 6px;
											line-height: 131%;
										}
									}
								}
				
								> .training-info {
									flex: 1;
									display: flex;
									flex-direction: column;
				
									> .info-date {
										width: auto;
										display: flex;
										flex-direction: column;
										margin-bottom: 5px;
				
										> span {
											color: $f-gray;
											font-size: 11px;
											margin-right: 6px;
										}
				
										> .text {
											width: auto;
				
											> span {
												font-size: 21px;
												font-weight: bold;
												margin-right: 5px;
				
												&:first-child {
													color: $f-yellow;
												}
											}
										}
									}
				
									> .info-time {
										width: auto;
										display: flex;
										flex-direction: column;
										margin-bottom: 5px;
				
										> span {
											color: $f-gray;
											font-size: 11px;
				
											&:last-child {
												font-size: 21px;
												font-weight: 500;
												color: #000;
											}
										}
									}
				
									> .info-reserved {
										width: auto;
										display: flex;
										flex-direction: column;
										margin-bottom: 5px;
				
										> span {
											color: $f-gray;
											font-size: 11px;
				
											&:last-child {
												font-size: 21px;
												font-weight: 500;
												color: #000;
											}
										}
									}
								}
							}
	
							> .btn-group {
								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: center;
								margin: 0px;
	
								> a.btn-small {
									width: 110px;
									margin-right: 15px;
									
									&:last-child {
										margin-right: 0px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	> .component-subsciptions {
		width: auto;

		> .title {
			font-size: 20px;
			font-weight: bold;
			color: #000;
			margin: 15px 20px 15px;

			&:first-child {
				margin-bottom: 0px;
			}
		}

		> .title-label {
			font-size: 14px;
			font-weight: normal;
			color: #000;
			margin: 5px 20px 0px;
		}

		> .subscription-block {
			width: auto;

			> .message {
				width: auto;
				font-size: 14px;
				font-weight: lighter;
				color: #000;
				text-align: center;
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			> .subscription-list {
				width: 100%;
				white-space: nowrap;
				overflow-x: auto;
				overflow-y: hidden;
				padding: 0px 20px;

				&::-webkit-scrollbar {
					display: none;
				}

				> .subscription-card-balance {
					flex: none;
					max-width: 300px;
					min-width: 270px;
					background-color: $f-yellow;
					border-radius: 12px;
					margin: 10px auto;
					overflow: hidden;
					clear: both;
					display: inline-block;
					margin-right: 15px;
					padding-bottom: 15px; 

					&:last-child {
						margin-right: 40px;
					}

					&.office {
						background-color: $f-purple-soft;
		
						> .logo {
							background-image: url('../../img/icons/fit-logo-purple.svg');
						}
					}
		
					> .logo {
						width: auto;
						height: 18px;
						background-image: url('../../img/icons/fit-logo-gold.svg');
						background-repeat: no-repeat;
						background-position: center left;
						background-size: 35%;
						margin-top: 12px;
						margin-left: 15px;
					}
		
					> .title {
						font-size: 18px;
						font-weight: bold;
						color: #000;
						margin-left: 15px;
					}
		
					> .balance-card {
						width: auto;
						display: flex;
						flex-direction: row;
		
						> .person {
							flex: none;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							margin: 10px 20px 0px;
		
							> .avatar {
								flex: none;
								width: 58px;
								height: 58px;
								border: 2px #fff solid;
								border-radius: 100px;
								background-color: $f-gray-light;
								overflow: hidden;
		
								> span {
									width: 100%;
									height: 100%;
									display: flex;
									justify-content: center;
									align-items: center;
									font-weight: bold;
									font-size: 21px;
									color: #000;

									> img {
										width: 100%;
										min-height: 100%;
									}
								}
		
								> img {
									width: 100%;
									min-height: 100%;
								}
							}
		
							> .name {
								font-size: 10px;
								text-align: center;
								font-weight: 400;
								margin-top: 6px;
								line-height: 131%;
							}
						}
		
						> .info {
							flex: 1;
							padding-top: 10px;
							padding-left: 20px;
		
							> .training-count {
								display: flex;
								flex-direction: row;
								align-items: center;
		
								> span {
									font-size: 13px;
									line-height: 131%;
									font-weight: normal;
								}
		
								> strong {
									font-size: 36px;
									font-weight: bold;
									margin-left: 12px;
								}
							}
		
							> .subscription-outdate {
								font-size: 12px;
								margin-top: 0px;
								display: none;
		
								> strong {
									font-size: 12px;
								}
							}
		
							> .btn {
								margin-top: 7px;
								float: left;
							}
						}
					}
				}

				> .subscription-card-row {
					display: inline-block;

					&:last-child {
						margin-right: 40px;
					}

					> .subscription-card {
						max-width: 300px;
						min-width: 270px;
						height: 170px;
						background-color: $f-yellow;
						border-radius: 12px;
						margin: 10px auto;
						margin-right: 15px;
						overflow: hidden;
						clear: both;
						background-image: url('../../img/icons/fit-icon-gray-s.svg');
						background-repeat: no-repeat;
						background-position: right bottom;
						background-size: 32%;
			
						&.office {
							background-color: $f-purple-soft;
							background-image: url('../../img/icons/fit-icon-gray-s.svg');
			
							> .logo {
								background-image: url('../../img/icons/fit-logo-black.svg');
							}
						}
			
						> .logo {
							width: auto;
							height: 18px;
							background-image: url('../../img/icons/fit-logo-black.svg');
							background-repeat: no-repeat;
							background-position: center left;
							background-size: 35%;
							margin-top: 12px;
							margin-left: 15px;
						}
			
						> .title {
							font-size: 17px;
							font-weight: bold;
							color: #444;
							margin-top: 10px;
							margin-left: 15px;
							line-height: 131%;
							white-space: normal !important;
						}
					}
				}
			}
		}

		> .shop-card {
			width: auto;
			min-height: 180px;
			background-color: $f-gray-light;
			background-image: url('../../../uploads/cover_2.jpg');
			background-size: cover;
			border-radius: 12px;
			margin: 10px 20px;
			overflow: hidden;
			clear: both;
			position: relative;

			@media (min-width: 767px) {
				max-width: 320px;
			}

			> .logo {
				width: auto;
				height: 18px;
				background-image: url('../../img/icons/fit-logo-white.svg');
				background-repeat: no-repeat;
				background-position: center left;
				background-size: 40%;
				margin-top: 15px;
				margin-left: 20px;
				z-index: 1;
				position: relative;
			}

			> .title {
				font-size: 21px;
				font-weight: bold;
				color: #fff;
				margin-left: 20px;
				line-height: 111%;
				margin-top: 8px;
				z-index: 1;
				position: relative;
			}

			> span {
				font-size: 12px;
				color: #fff;
				margin-top: 10px;
				margin-left: 20px;
				line-height: 151%;
				font-weight: normal;
				display: block;
				z-index: 1;
				position: relative;
			}

			> .btn {
				margin-left: 15px;
				margin-top: 15px;
				margin-bottom: 15px;
				z-index: 1;
				position: relative;
			}

			> .bg-filter {
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(175, 175, 175, 0.2) 31.23%, rgba(89, 89, 89, 0.45) 65.1%, rgba(0, 0, 0, 0.6) 100%);
				z-index: 0;
				opacity: .99;
			}
		}
	}

	> .component-write {
		width: auto;

		> .trainer-section {
			width: 100%;
			border-bottom: 1px #ddd solid;
			padding: 15px 0px 25px;
			overflow: hidden;

			> .title {
				width: auto;
				font-size: 20px;
				font-weight: bold;
				color: #000;
				margin: 0px 20px 15px;
			}

			> .trainer-slide {
				width: auto;
				min-height: 100px;
				white-space: nowrap;
				overflow-x: auto;
				padding: 2px 20px;
				scroll-behavior: smooth;

				&::-webkit-scrollbar {
					display: none;
				}

				> .slide-item {
					width: 68px;
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-right: 20px; 
					display: inline-block;
					position: relative;
					//float: left;

					&:last-child {
						margin-right: 0px;
					}

					@media (min-width: 767px) {
						width: 100px;
						margin-right: 20px;
					}

					&.active {
						&:before {
							content: '';
							width: 20px;
							height: 20px;
							border-radius: 50px;
							border: 3px #fff solid;
							position: absolute;
							top: 0px;
							right: -5px;
							background-color: $f-yellow;
							background-image: url('../../img/icons/check.svg');
							background-size: 14px;
							background-position: center;
							background-repeat: no-repeat;
							z-index: 1;

							@media (min-width: 767px) {
								width: 30px;
								height: 30px;
								top: -5px;
								right: -5px;
								background-size: 18px;
							}
						}
					}

					> .item-content {

						> .avatar {
							flex: none;
							width: 64px;
							height: 64px;
							border: 2px $f-yellow solid;
							border-radius: 100px;
							background-color: $f-gray-light;
							overflow: hidden;
							position: relative;

							@media (min-width: 767px) {
								width: 80px;
								height: 80px;
								margin: auto;
							}

							> .access-deny {
								background-color: rgba(0, 0, 0, 0.6);
								position: absolute;
								top: 0px;
								left: 0px;
								right: 0px;
								bottom: 0px;
								border-radius: 50px;
								display: flex;
								justify-content: center;
								align-items: center;
								backdrop-filter: blur(2px);

								@media (min-width: 767px) {
									top: 0px;
									left: 0px;
									right: 0px;
									bottom: 0px;
									backdrop-filter: blur(3px);
								}

								> img {
									width: 32px;
								}
							}

							> span {
								width: 100%;
								height: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								font-weight: bold;
								font-size: 38px;
								color: #000;

								> img {
									width: 100%;
									min-height: 100%;
								}
							}

							> img {
								width: 100%;
								min-height: 100%;
							}
						}

						> .name {
							width: auto;
							font-size: 10px;
							color: #000;
							text-align: center;
							line-height: 131%;
							margin-top: 5px;
							white-space: normal;

							@media (min-width: 767px) {
								font-size: 13px;
								font-weight: 400;
								margin-top: 8px;
							}
						}
					}
				}
			}

			> .btn-group {
				width: auto;
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin-top: 20px;

				> .btn {
					margin-right: 10px;

					&:last-child {
						margin-right: 0px;
					}

					@media (min-width: 767px) {
						&.btn-small {
							font-size: 13px;
							padding: 7px 20px;
							height: 40px;
						}
					}
				}

				@media (min-width: 767px) {
					margin-left: 30px;
					float: left;
				}
			}
		}

		> .date-section {
			width: 100%;
			border-bottom: 1px #ddd solid;
			background-color: #f7f7f7;
			padding: 15px 0px 10px;

			> .title {
				width: auto;
				font-size: 20px;
				font-weight: bold;
				color: #000;
				margin: 0px 20px 15px;
			}

			> .date-slide {
				width: auto;
				height: 100px;
				white-space: nowrap;
				overflow-y: hidden;
				overflow-x: auto;
				padding: 2px 20px 0px;
				padding-right: 60px;
				scroll-behavior: smooth;
				display: flex;
				flex-direction: row;

				@media (min-width: 767px) {
					scroll-behavior: auto;
					height: 120px;
					display: block;
					//flex-direction: row;
				}
				
				// flex ?

				&::-webkit-scrollbar {
					display: none;
				}

				> .date-item {
					flex: none;
					width: 46px;
					height: 85px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-right: 12px; 
					display: inline-block;
					position: relative;
					overflow: hidden;

					@media (min-width: 767px) {
						width: 52px;
						margin-right: 18px;
						min-height: 100px;
					}

					&:last-child {
						margin-right: 50px;
					}

					> .date-name {
						flex: none;
						width: auto;
						font-size: 13px;
						color: $f-gray-dark;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-bottom: 2px;

						@media (min-width: 767px) {
							font-size: 16px;
						}
					}

					> .date-number {
						flex: none;
						width: 46px;
						height: 46px;
						border-radius: 100px;
						font-size: 21px;
						color: #000;
						font-weight: 900;
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: transparent;
						margin: auto;

						@media (min-width: 767px) {
							width: 52px;
							height: 52px;
							font-size: 24px;
						}

						&.today {
							background-color: #fff;
							border: 1px $f-yellow solid;
							box-sizing: border-box;
						}

						&.active {
							background-color: $f-yellow;
						}
					}

					> .date-today {
						flex: none;
						width: auto;
						font-size: 10px;
						color: $f-gray;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-top: 4px;

						@media (min-width: 767px) {
							font-size: 12px;
						}

						&.label-gray {
							color: #000;
						}
					}

					&:last-child {
						margin-right: 0px;
					}
				}
			}
		}

		> .time-section {
			width: 100%;
			padding: 15px 0px 15px;
			margin-bottom: 20px;
			position: relative;

			@media (min-width: 767px) {
				max-width: 560px;
			}

			&.not-selected {
				height: 90px;

				> .trainer-not-selected {
					position: absolute;
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					background-color: rgba(255, 255, 255, 0.8);

					display: flex;
					align-items: center;
					justify-content: center;
					z-index: 500;

					transition: all 0.2s ease;

					> span {
						width: 180px;
						color: #000;
						font-weight: bold;
						font-size: 16px;

						padding: 70px 20px 0px;
						text-align: center;

						line-height: 151%;
					}
				}
			}

			> .title {
				width: auto;
				font-size: 20px;
				font-weight: bold;
				color: #000;
				margin: 0px 20px 5px;
			}

			> .time-seasons {
				width: auto;
				margin: 0px 20px 0px;

				> .season {
					width: auto;
					display: flex;
					flex-direction: column;

					> .time-block {
						display: flex;
						flex-direction: column;
						padding: 10px 0px;

						> .title {
							flex: none;
							width: 60px;
							font-size: 14px;
							font-weight: 600;
							color: #000;
							border-radius: 6px;
							padding-left: 11px;
							margin-bottom: 5px;
							float: left;
							position: relative;

							&:before {
								content: '';
								width: 4px;
								height: 4px;
								border-radius: 50px;
								top: calc(50% - 2px);
								left: 0px;
								background-color: $f-yellow;
								position: absolute;
							}
						}

						> .time-list {
							width: auto;
							height: 40px;
							display: flex;
							flex-direction: row;

							@media (min-width: 767px) {
								height: 50px;
							}

							> .time-item {
								flex: 1;
								height: 38px;
								border: 1.5px #ddd solid;
								background-color: #f7f7f7;
								font-size: 13px;
								font-weight: 300;
								box-sizing: border-box;
								margin-right: 6px;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 6px;

								@media (min-width: 767px) {
									height: 48px;
									font-size: 15px;
									font-weight: 300;
								}

								&.reserved {
									pointer-events: none;
									background-color: #fff;
									border: 1px #eee solid;
									color: $f-gray;
								}

								&.active {
									background-color: $f-yellow;
									border-color: $f-yellow;
									font-weight: bold;
								}

								&:last-child {
									margin-right: 0px;
								}
							}
						}
					}
				}
			}
		}
	}

	> .component-registration, .component-login {
		width: auto;

		@media (min-width: 767px) {
			max-width: 420px;
			margin: auto;
		}

		> .title-general {
			width: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 25px 0px;

			> .text {
				font-size: 24px;
				font-weight: bold;
				color: #000;
			}

			> .description {
				font-size: 12px;
				font-weight: 400;
				color: #000;
				text-transform: lowercase;
			}
		}

		> .form-row {
			padding: 0px 0px 0px;

			> form {
				input[type=submit] {
					margin-top: 20px;
					margin-bottom: 10px;
					outline: none;
				}

				.offices-input {
					width: calc(100% - 78px);
					height: 42px;
					margin: 10px 40px;
					border: 1px #ddd solid;
					border-radius: 6px;
					box-sizing: border-box;
					
					padding: 0px 10px;
					display: flex;
					align-items: center;
					font-size: 14px;

					> span {
						flex: 1;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}

					> img {
						width: 10px;
						margin-left: 5px;
					}

					&.required {
						border-color: #fa4b4b;
					}
				}
			}

			.send-polytics {
				width: auto;
				font-size: 12px;
				color: $f-gray;
				margin-top: 15px;
				margin-bottom: 15px;
				padding: 0px 40px;
				text-align: center;

				> a {
					display: inline;
					color: #777;
					margin-left: 5px;
				}
			}
		}

		> .popup-phone-confirm {
			position: fixed;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			background-color: rgba(0, 0, 0, .3);

			display: flex;
			justify-content: center;
			align-items: center;

			padding-bottom: 90px;

			> .window {
				max-width: 320px;
				width: calc(100% - 40px);
				min-height: 100px;
				margin: auto auto;
				background-color: #fff;
				border-radius: 6px;

				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 25px 0px 15px;

				> .title {
					flex: none;
					width: auto;
					margin: 0px 10px 5px;
					font-size: 16px;
					font-weight: bold;
					color: #000;
					text-align: center;
				}

				> span {
					text-align: center;
					font-size: 12px;
					color: $f-gray-dark;
					margin-bottom: 10px;
				}

				> input[type=text] {
					flex: none;
					width: calc(100% - 60px);
					height: 52px;
					border: 1px #eee solid;
					border-radius: 6px;
					box-sizing: border-box;
					padding: 0px 10px;
					font-size: 14px;
					font-weight: 300;
					outline: none;
					transition: all 0.3s ease;
					box-shadow: 0px 5px 20px #eee;
					text-align: center;

					&.required {
						border-color: #fa4b4b;
					}
				}

				> .btn {
					flex: none;
					margin-top: 20px;
				}
			}
		}
	}

	> .component-choise-write {
		width: 100%;
		padding: 15px 0px 25px;

		@media (min-width: 767px) {
			max-width: 420px;
			margin: auto;
		}

		> a.title-back {
			width: auto;
			font-size: 20px;
			font-weight: bold;
			color: #000;
			margin: 0px 20px 15px;
			text-decoration: none;
			display: block;

			> img {
				width: 12px;
				height: 12px;
				margin-right: 9px;
			}
		}

		> .choise-card {
			width: calc(100% - 80px);
			border: 1px #eee solid;
			border-radius: 12px;
			padding: 20px; 
			margin: auto;
			background-color: #fff;
			box-shadow: 0px 20px 20px #ddd;
			margin-bottom: 40px;

			> .card-header {
				width: 100%;
				padding-bottom: 10px;
				border-bottom: 1px #ddd solid;
				display: flex;
				flex-direction: column;

				> .title-training {
					font-size: 18px;
					font-weight: bold;
					color: #000;
				}

				> .total-office {
					font-size: 11px;
					font-weight: 400;
					color: #000;
				}
			}

			> .card-content {
				width: 100%;
				display: flex;
				flex-direction: row;
				padding: 15px 0px 15px;

				> .trainer-info {
					flex: none;
					display: flex;
					flex-direction: column;
					padding-right: 35px;

					> span {
						color: $f-gray-dark;
						font-size: 11px;
						font-weight: 500;
						margin-bottom: 10px;
						text-align: center;
					}

					> .trainer-detail {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						> .avatar {
							flex: none;
							width: 80px;
							height: 80px;
							border: 2px $f-yellow solid;
							border-radius: 100px;
							background-color: $f-gray-light;
							overflow: hidden;

							> span {
								width: 100%;
								height: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								font-weight: bold;
								font-size: 36px;
								color: #000;

								> img {
									width: 100%;
									min-height: 100%;
								}
							}

							> img {
								width: 100%;
								min-height: 100%;
							}
						}

						> .name {
							font-size: 12px;
							text-align: center;
							font-weight: bold;
							margin-top: 6px;
							line-height: 131%;
						}
					}
				}

				> .training-info {
					flex: 1;
					display: flex;
					flex-direction: column;

					> .info-date {
						width: auto;
						display: flex;
						flex-direction: column;
						margin-bottom: 5px;

						> span {
							color: $f-gray;
							font-size: 11px;
						}

						> .text {
							width: auto;

							> span {
								font-size: 21px;
								font-weight: bold;
								margin-right: 6px;

								&:first-child {
									color: $f-yellow;
								}
							}
						}
					}

					> .info-time {
						width: auto;
						display: flex;
						flex-direction: column;
						margin-bottom: 5px;

						> span {
							color: $f-gray;
							font-size: 11px;

							&:last-child {
								font-size: 21px;
								font-weight: 500;
								color: #000;
							}
						}
					}

					> .info-reserved {
						width: auto;
						display: flex;
						flex-direction: column;
						margin-bottom: 5px;

						> span {
							color: $f-gray;
							font-size: 11px;

							&:last-child {
								font-size: 21px;
								font-weight: 500;
								color: #000;
							}
						}
					}
				}
			}
		}

		> div {

			> .message-training {
				font-size: 12px;
				font-weight: 300;
				color: #000;
				text-align: center;
				margin: 0px 20px 25px;
			}

			> .subscription-for {
				> .subscription-row {
					> .message-training {
						font-size: 12px;
						font-weight: 300;
						color: #000;
						text-align: center;
						margin: 0px 20px 25px;
					}

					> .subscription-card-balance {
						flex: none;
						width: 300px;
						background-color: $f-yellow;
						border-radius: 12px;
						margin: 10px auto;
						overflow: hidden;
						clear: both;
						padding-bottom: 15px; 


						&.office {
							background-color: $f-purple-soft;
			
							> .logo {
								background-image: url('../../img/icons/fit-logo-purple.svg');
							}
						}
			
						> .logo {
							width: auto;
							height: 18px;
							background-image: url('../../img/icons/fit-logo-gold.svg');
							background-repeat: no-repeat;
							background-position: center left;
							background-size: 35%;
							margin-top: 12px;
							margin-left: 15px;
						}
			
						> .title {
							font-size: 18px;
							font-weight: bold;
							color: #000;
							margin-left: 15px;
						}
			
						> .balance-card {
							width: auto;
							display: flex;
							flex-direction: row;
			
							> .person {
								flex: none;
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								margin: 10px 20px 0px;
			
								> .avatar {
									flex: none;
									width: 58px;
									height: 58px;
									border: 2px #fff solid;
									border-radius: 100px;
									background-color: $f-gray-light;
									overflow: hidden;
			
									> span {
										width: 100%;
										height: 100%;
										display: flex;
										justify-content: center;
										align-items: center;
										font-weight: bold;
										font-size: 21px;
										color: #000;

										> img {
											width: 100%;
											min-height: 100%;
										}
									}
			
									> img {
										width: 100%;
										min-height: 100%;
									}
								}
			
								> .name {
									font-size: 10px;
									text-align: center;
									font-weight: 400;
									margin-top: 6px;
									line-height: 131%;
								}
							}
			
							> .info {
								flex: 1;
								padding-top: 10px;
								padding-left: 20px;
			
								> .training-count {
									display: flex;
									flex-direction: row;
									align-items: center;
			
									> span {
										font-size: 13px;
										line-height: 131%;
										font-weight: normal;
									}
			
									> strong {
										font-size: 36px;
										font-weight: bold;
										margin-left: 12px;
									}
								}
			
								> .subscription-outdate {
									font-size: 12px;
									margin-top: 0px;
									display: none;
			
									> strong {
										font-size: 12px;
									}
								}
			
								> .btn {
									margin-top: 7px;
									float: left;
								}
							}
						}
					}
				}
			}

			> .subscription-card {
				width: 300px;
				height: 180px;
				background-color: $f-yellow;
				border-radius: 12px;
				margin: 20px auto;
				overflow: hidden;
				clear: both;
				background-image: url('../../img/icons/runner-gold.svg');
				background-repeat: no-repeat;
				background-position: 10px 80px;

				&.office {
					background-color: $f-purple-soft;
					background-image: url('../../img/icons/atlet-purple.svg');
					background-size: 35%;

					> .logo {
						background-image: url('../../img/icons/fit-logo-purple.svg');
					}
				}

				> .logo {
					width: auto;
					height: 18px;
					background-image: url('../../img/icons/fit-logo-gold.svg');
					background-repeat: no-repeat;
					background-position: center left;
					background-size: 35%;
					margin-top: 12px;
					margin-left: 15px;
				}

				> .title {
					font-size: 18px;
					font-weight: bold;
					color: #000;
					margin-left: 15px;
				}
			}

			> .btn-ticket {
				width: 240px;
				height: 65px;
				background-color: $f-yellow;
				border-radius: 12px;
				border: 1px transparent solid;
				box-sizing: border-box;
				margin: auto;
				text-decoration: none;

				display: flex;
				flex-direction: row;
				
				color: #000;
				transition: all 0.2s ease;

				&:active {
					transform: scale(.97)
				}

				&.full {
					width: 270px;
					//background-color: #fafafa;
					border-color: $f-yellow;

					> .description {
						flex: 1;
						padding-left: 22px;
					}

					> .price-list {
						width: 130px;
						.price {
							font-size: 24px; 
						}
					}
				}

				> .description {
					display: flex;
					align-items: center;
					flex: 1;
					font-size: 12px;
					font-weight: bold;
					padding-left: 30px;
					line-height: 131%;
				}

				> .price-list {
					flex: none;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100px;

					> .price {
						font-size: 18px;
						font-weight: bold;
						color: #000;
					}
					
					> .price-old {
						font-size: 11px;
						font-weight: normal;
						text-decoration: line-through;
					}
				}
			}
		}
	}

	> .component-payment-success {
		width: auto;
		padding-top: 50px;

		&.error {
			> .message-block {
				background-color: transparent;
				min-height: 100px;

				> .message {
					font-size: 18px;
					font-weight: lighter;
					margin: 25px 10px 0px;
				}
			}
		}

		> .message-block {
			width: calc(100% - 80px);
			height: 200px;
			border-radius: 12px;
			padding: 20px;
			margin: 0px auto 35px;
			background-color: #f7f7f7;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			> .message {
				font-size: 21px;
				font-weight: normal;
				text-align: center;
				margin: 0px 10px 25px;
			}

			> .icon {
				width: 62px;
				height: 62px;
				overflow: hidden;

				> img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.float-right { float: right; }
.float-left { float: left; }

.margin-auto { margin: auto; }
.margin-top-40 { margin-top: 40px !important; }

.btn {
	border: 0px;
	box-sizing: border-box;
	transition: all 0.1s ease;
	text-decoration: none;

	&:active {
		transform: scale(0.97);
	}

	&.disabled {
		pointer-events: none;
		text-decoration: none;
		color: $f-gray !important;
		background-color: #f7f7f7 !important;
	  }

	&.btn-micro {
		padding: 0px 15px;
		height: 26px;
		border-radius: 50px;
		color: #000;
		text-decoration: none;
		font-size: 10px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.btn-small {
		padding: 0px 15px;
		height: 34px;
		border-radius: 50px;
		color: #000;
		text-decoration: none;
		font-size: 11px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.btn-large {
		max-width: 180px;
		padding: 0px 25px;
		height: 46px;
		border-radius: 50px;
		color: #000;
		text-decoration: none;
		font-size: 14px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
	}

	&.btn-medium {
		max-width: 160px;
		padding: 0px 20px;
		height: 38px;
		border-radius: 50px;
		color: #000;
		text-decoration: none;
		font-size: 13px;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
	}

	&.btn-empty {
		max-width: 180px;
		padding: 0px 25px;
		height: 32px;
		border-radius: 50px;
		color: #000;
		background-color: transparent;
		text-decoration: underline;
		font-size: 14px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
		

		&:hover {
			color: $f-yellow;
		}
	}

	&.btn-empty-gray {
		max-width: 180px;
		padding: 0px 25px;
		height: 32px;
		border-radius: 50px;
		color: $f-gray;
		background-color: transparent;
		text-decoration: none;
		font-size: 14px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;

		> a {
			text-decoration: none;
		}

		&:hover {
			color: $f-yellow;
		}
	}

	&.border-yellow {
		border: 1px $f-yellow solid;
	}

	&.border-black {
		border: 1px #000 solid;
	}

	&.border-gray {
		border: 1px $f-gray solid;
	}
	
	&.bg-yellow {
		background-color: $f-yellow; 
	}

	&.bg-yellow-outline {
		border: 1px $f-yellow solid;
		background-color: #fff;
	}

	&.bg-trainer {
		background-color: $f-yellow; 
	}

	&.bg-office {
		background-color: $f-purple-soft;
	}

	&.bg-white {
		background-color: #fff;
	}

	&.text-gray { 
		color: $f-gray;
		> a {
			color: $f-gray;
		}
	}
	&.text-gray-dark { color: $f-gray-dark; }

	&.opacity-03 { opacity: 0.3; }

	&.hover-opacity-1 {
		&:hover {
			opacity: 1;
		}
	}
}

.form-default {
	padding: 25px 0px 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&.profile {
		> .input-item {
			position: relative;
			margin-bottom: 15px;

			> label {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0px 6px;
				background-color: #f7f7f7;
				color: #000;
				border-radius: 4px;
				border: 1px #eee solid;
				font-size: 10px;
				font-weight: bold;
				float: left;
				position: absolute;
				top: -10px;
				left: 0px;
			}

			> input[type=text], input[type=email], input[type=phone], input[type=password] {
				width: calc(100% - 20px);
				height: 42px;
				margin: 0px 0px 10px;
				border: 1px #eee solid;
				border-radius: 6px;
				padding: 0px 10px;
				font-size: 14px;
				font-weight: 300;
				outline: none;
				transition: all 0.3s ease;
				box-shadow: 0px 5px 20px #eee;
		
				&:focus {
					border-color: $f-yellow;
				}

				&:disabled {
					background-color: #f7f7f7;
				}
			}
		
			> textarea {
				width: calc(100% - 20px);
				height: 82px;
				margin: 0px 0px 10px;
				border: 1px #eee solid;
				border-radius: 6px;
				padding: 10px 10px;
				font-size: 14px;
				font-weight: 300;
				font-family: 'Roboto';
				outline: none;
				transition: all 0.3s ease;
				box-shadow: 0px 5px 20px #eee;
		
				&:focus {
					border-color: $f-yellow;
				}
				
				&:disabled {
					background-color: #f7f7f7;
				}
			}
		}
	}

	> input[type=text], input[type=email], input[type=phone], input[type=password] {
		width: calc(100% - 100px);
		height: 42px;
		margin: 0px 40px 10px;
		border: 1px #ddd solid;
		border-radius: 6px;
		padding: 0px 10px;
		font-size: 14px;
		font-weight: 300;
		outline: none;
		transition: all 0.3s ease;

		&:focus {
			border-color: $f-yellow;
		}

		&.required {
			border-color: #fa4b4b;
		}
	}

	> textarea {
		width: calc(100% - 100px);
		height: 82px;
		margin: 0px 40px 10px;
		border: 1px #ddd solid;
		border-radius: 6px;
		padding: 10px 10px;
		font-size: 14px;
		font-weight: 300;
		outline: none;
		transition: all 0.3s ease;

		&:focus {
			border-color: $f-yellow;
		}

		&.required {
			border-color: #fa4b4b;
		}
	}

	> .error_message {
		margin: 0px 40px;
		font-size: 12px;
		color: #fa4b4b;
		text-align: center;
		font-weight: 400;
	}

	> .success_message {
		margin: 0px 40px;
		font-size: 12px;
		color: #52C306;
		text-align: center;
		font-weight: 400;
	}
}

.popup-trainer-detail {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	width: 100%;
	overflow: hidden;
	margin: auto;

	overflow-x: hidden;
	overflow-y: auto;

	padding-bottom: 110px;

	background-color: #fff;
	z-index: 2000;

	&::-webkit-scrollbar {
		display: none;
	}

	> .copy {
		width: auto;
		padding: 18px 0px 32px;

		> .logo {
			width: 180px;
			margin: auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			> .created {
				font-size: 10px;
				font-weight: 400;
				color: #657786;
				opacity: .35;
				text-align: center;
				white-space: nowrap;
				margin-right: 8px;
				font-variant: small-caps;
			}

			> img {
				width: 120px;
				opacity: 0.35;
			}
		}
	}

	> .cover {
		width: 100%;
		height: 345px;
		background-color: #000;
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover !important;

		@media (min-width: 767px) {
			width: 470px;
			height: 390px;
			margin: auto;
		}
	}

	> .content {
		width: auto;
		position: relative;
		top: -18px;

		background-color: #fff;
		border-radius: 18px 18px 0px 0px;

		padding: 12px 0px 22px;

		@media (min-width: 767px) {
			width: 470px;
			margin: auto;
		}

		> .profile {
			flex: none;
			width: auto;
			position: relative;
			padding: 0px 22px;
			margin-bottom: 10px;
			display: flex;
			flex-direction: row;

			> .info {
				flex: 1;

				display: flex;
				flex-direction: column;
				padding-top: 5px;

				> .name {
					font-size: 21px;
					font-weight: bold;
					color: #000;
					display: flex;
					flex-direction: row;
					align-items: center;

					> img {
						width: 16px;
						margin-right: 8px;
						margin-top: 1px;
					}
				}

				> .description {
					font-size: 16px;
					font-weight: 300;
					color: #657786;
					letter-spacing: -.41px;
				}
			}
		}

		> .title {
			font-size: 18px;
			font-weight: bold;
			line-height: 120%;
			color: #000;
			margin-bottom: 16px;
			padding: 0px 22px;
		}

		> .description {
			font-size: 13px;
			font-weight: 400;
			line-height: 165%;
			color: #444;
			margin-bottom: 28px;
			white-space: pre-wrap;
			padding: 0px 22px;

			@media (min-width: 767px) {
				font-size: 14px;
			}
		}

		> .btn-group {
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			> .btn {
				margin: 0px;
				margin-right: 10px;

				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
}

.popup-office-select {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 2000;

	> .bg-blur {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		backdrop-filter: blur(1.5px);
		z-index: 0;
		opacity: .99;
	}

	> .window-content {
		width: calc(100% - 20px);
		max-width: 370px;
		height: calc(100% - 40px);
		margin: 10px auto;
		padding: 10px 0px;
		background-color: #fff;
		border-radius: 6px;
		overflow: hidden;
		z-index: 1;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		> .title {
			flex: none;
			width: calc(100% - 20px);
			padding: 0px 0px 10px;
			font-size: 13px;
			font-weight: bold;
			margin: 0px 10px;
			text-align: center;
			color: #444;
		}

		> .search {
			width: calc(100% - 20px);
			position: relative;
			margin: 0px 10px 15px;

			> input[type=text] {
				width: 100%;
				height: 44px;
				background-color: #f7f7f7;
				border: 1px transparent solid;
				border-radius: 6px;
				padding: 0px 10px;
				padding-left: 40px;
				font-size: 14px;
				font-weight: normal;
				outline: none;
				box-sizing: border-box;
				transition: all 0.3s ease;

				&:focus {
					border-color: $f-yellow
				}
			}

			&:before {
				content: '';
				width: 18px;
				height: 18px;
				background-image: url('../../img/icons/search.svg');
				background-repeat: no-repeat;

				position: absolute;
				left: 12px;
				top: 14px;
			}

		}

		> .cities-tag {
			width: calc(100% - 20px);
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0px 10px 10px;

			> .tag {
				flex: none;
				padding: 5px 9px;
				border-radius: 6px;
				background-color: #f7f7f7;
				border: 1px transparent solid;
				color: #000;
				font-size: 11px;
				font-weight: bold;
				margin-right: 8px;
				margin-bottom: 8px;
				cursor: pointer;

				&.active {
					background-color: $f-yellow;
					border-color: $f-yellow;
					color: #000;
					font-weight: bold;
				}
			}
		}

		> .office-list {
			flex: 1;
			width: 100%;
			display: flex;
			flex-direction: column;
			overflow-x: hidden;
			overflow-y: auto;

			&::-webkit-scrollbar {
				display: none;
			}

			> .list-item {
				flex: none;
				width: auto;
				height: 44px;
				background-color: #fff;
				box-shadow: 0px 10px 15px #eee;
				border: 1px #eee solid;
				border-radius: 6px;
				margin: 0px 10px 11px;
				padding: 0px 10px;
				cursor: pointer;

				font-size: 12px;
				font-weight: 400;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

				display: flex;
				flex-direction: row;
				align-items: center;

				transition: all 0.1s ease;

				> span {
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					> strong {
						margin-right: 5px;
					}
				}

				&:active {
					transform: scale(0.97);
				}

				> .online {
					flex: none;
					display: block;
					width: 3px;
					height: 3px;
					border-radius: 50px;
					background-color: $f-gray;
					margin-right: 9px;
				}

				> .active {
					flex: none;
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 50px;
					background-color: #52C306;
					margin-right: 9px;
					position: relative;

					&:before {
						content: '';
						position: absolute;
						top: -3px;
						left: -3px;
						right: -3px;
						bottom: -3px;
						border: 1px #52C306 solid;
						border-radius: 50px;
					}
				}
			}
		}

		> .btn {
			margin: 10px 10px 0px;
		}
	}
}